<h3>Changes: <%= @title %> <small><%= @identifier %></small></h3>
<div class="col-md-12">
	<h4>Code List Item Full History</h4>
	<style>
	  <%= Diffy::CSS %>
	</style>
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
		  <tr>
		    <th>Version</th>
		    <th class="col-sm-1">Date</th>
		    <th class="col-sm-1">Identifier</th>
		    <th class="col-sm-2">Submission Value</th>
		    <th class="col-sm-2">Preferred Term</th>
		    <th class="col-sm-2">Synonym</th>
		    <th class="col-sm-4">Definition</th>
		  </tr>	
		<thead>
		<tbody>
			<% @results.each do |result| %>
				<tr>
					<% r = result[:results] %>
			    <td><%= result[:version] %></td>
			    <td><%= result[:date] %></td>
			    <% if result[:status] == :created || result[:status] == :updated %>
				    <%= diff_glyphicon(r[:Identifier]) %>
				    <%= diff_glyphicon(r[:Notation]) %>
				    <%= diff_glyphicon(r[:"Preferred Term"]) %>
				    <%= diff_glyphicon(r[:Synonym]) %>
			      <%= diff_glyphicon(r[:Definition]) %>
			    <% elsif result[:status] == :deleted %>
				    <td class="text-center"><span class="glyphicon glyphicon-remove text-danger"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-remove text-danger"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-remove text-danger"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-remove text-danger"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-remove text-danger"/></td>
			    <% elsif result[:status] == :no_change %>
				    <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			    <% else %>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    <% end %>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>
