<h1>CDISC Terminology</h1>
<table>
  <tr>
    <th>Identifer</th>
    <th>Version</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
	<% @cdiscTerms.each do |cdiscTerm| %>
	  <tr>
	    <td><%= cdiscTerm.identifier %></td>
	    <td><%= cdiscTerm.version %></td>
	    <td><%= cdiscTerm.date %></td>
	    <td><%= link_to "Show", cdiscTerm %></td>
	    <td><%= link_to "Impact", impact_cdisc_clis_path(:id => cdiscTerm.id, :namespace => cdiscTerm.namespace), :class => "btn btn-info btn-xs" %></td>
	  </tr>
	<% end %>
</table>
<br>
<%= link_to "New version", new_cdisc_term_path %>