<%= render partial: "shared/stdChildTitle", :locals => {:title => "Show:", :label => @cdiscCli.preferredTerm, :identifier => @cdiscCli.identifier} %>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Label</th>
	    <th>Identifer</th>
	    <th>Submission Value</th>
	    <th>Preferred</th>
	    <th>Synonym</th>
	    <th>Definition</th>
	  </tr>
	  <tr>
	    <td><%= @cdiscCli.preferredTerm %></td>
	    <td><%= @cdiscCli.identifier %></td>
	    <td><%= @cdiscCli.notation %></td>
	    <td><%= @cdiscCli.preferredTerm %></td>
	    <td><%= @cdiscCli.synonym %></td>
	    <td><%= @cdiscCli.definition %></td>
	  </tr>
	</table>
	<%= link_to "Changes", changes_cdisc_clis_path(:id => @cdiscCli.id, :namespace => @cdiscCli.namespace), :class => "btn btn-primary" %>
	<%= back_close_button %>
</div>
