<h3><%= @cdiscCli.preferredTerm %> <small>(CDISC, <%= @cdiscCli.identifier %>, <%= @cdiscTerm.versionLabel %>, V<%= @cdiscTerm.version %>)</small></h3>
<div class="col-md-8">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Identifer</th>
	    <th>Notation</th>
	    <th>Preferred</th>
	    <th>Synonym</th>
	    <th>Definition</th>
	  </tr>
	  <tr>
	    <td><%= @cdiscCli.identifier %></td>
	    <td><%= @cdiscCli.notation %></td>
	    <td><%= @cdiscCli.preferredTerm %></td>
	    <td><%= @cdiscCli.synonym %></td>
	    <td><%= @cdiscCli.definition %></td>
	  </tr>
	</table>
	
</div>
<div class="col-md-4">
	<%= render partial: "shared/previousHistory", :locals => {:type => "CLI", :object => @cdiscCli, :currTerm => @cdiscTerm, :cdiscTerms => @cdiscTerms} %>
	<%= render partial: "shared/fullHistory", :locals => {:type => "CLI", :object => @cdiscCli, :currTerm => @cdiscTerm} %>
</div>
