<a href="<%= link_path %>" id="<%= local_assigns.fetch :id, "" %>" class="option <%= "disabled" if disabled %>" data-toggle="<%=dt_toggle%>">
  <span class="<%= icon %> text-small"></span>
  <span class="text-small"><%= text %></span>
</a>
