<a href="<%= url %>"
   id="<%= local_assigns.fetch :id, "" %>"
   class="option <%= "disabled" if (local_assigns.fetch :disabled, false) %>"

   <% if !(local_assigns.fetch :toggle, '').empty? %>
      data-toggle="<%= toggle %>"
   <% end %>
   <% if (local_assigns.fetch :new_tab, false) == true %>
      target="_blank"
   <% end %>
>

    <span class="<%= icon %> text-small"></span>
    <span class="text-small"><%= text %></span>

</a>
