<%= stylesheet_link_tag 'shared/layouts/header_card' %>

<div id="imh_header" class="col-md-12 card">
  <div class="card-content">
    <div class="h-outside-wrap">
      <div class="h-inner-wrap centered">
        <span class="circular-badge big <%= item_accent_color item.owner_short_name %> text-white">
          <%= badge %>
        </span>
        <span class="text-centered text-normal text-light" style="margin-top: 5px;"><%= item.scoped_identifier %></span>
        <div>
          <% if item.extensible %>
            <span class="icon-extend text-secondary-clr"></span> <span class="font-light text-tiny">Extensible</span>
          <% else %>
            <span class="icon-extend-disabled text-accent-2"></span> <span class="font-light text-tiny">Not extensible</span>
          <% end %>
        </div>
      </div>
      <div class="h-inner-wrap mid">
        <div class="text-large"> <%= item.notation %> </div>
        <div class="label-w-margin">Preferred term: <span class="font-light"> <%= item.preferred_term.label %> </span></div>
        <div class="label-w-margin">
            <%= render partial: "shared/bg_labels_inline", :locals => {:name => "Synonym(s)", :items => item.synonym.map{|x| x.label} } %>
        </div>
        <div class="definition-label label-w-margin">
          Definition: <span class="font-light"><%= item.definition %> </span>
        </div>
        <% if (local_assigns.fetch :with_tags, true) %>
          <%= render layout: "shared/show_more", :locals => {:size => "tiny"} do %>
            <%= render partial: "shared/bg_labels_inline", :locals => {:name => "Tags", :items => item.filtered_tag_labels(context)} %>
          <% end %>
        <% end %>
      </div>
      <div class="h-inner-wrap indicators-wrap">
        <%= yield %>
        <%= render partial: "shared/headers/indicators", locals: {id: item.id, wrap_el: ".h-inner-wrap.indicators-wrap"} %>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag 'colorCodeTagsOutline(".show-more-wrap", ".tags.bg-label");' %>
