<%= stylesheet_link_tag 'shared/layouts/header_card', media: 'all' %>

<div class="col-md-12 card">
  <div class="card-content">
    <div class="h-outside-wrap">
        <div class="h-inner-wrap mid">
          <div class="h-inner-wrap rb" style="flex-direction: row;">
            <div class="h-inner-wrap">
              <span class="text-xxxlarge <%= badge %> <%= item_accent_text_color(local_assigns.fetch :owner, "") %>"></span>
            </div>
          <div class="h-inner-wrap mid">
            <div class="text-large text-link"> <%= main_text %> </div>
            <div class="text-small font-light">
                <span> <%= sub_text %> </span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-inner-wrap">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
