<%= stylesheet_link_tag "shared/tables_editable" %>

<%= javascript_tag "let codelistId = '#{ item.id }',
                        codelistEditorUrls = {
                          data: '#{ children_thesauri_managed_concept_path(item) }',
                          update: '#{ thesauri_unmanaged_concept_path(id: '_id_') }',
                          addChildren: '#{ add_children_thesauri_managed_concept_path(item) }',
                          newChild: '#{ add_child_thesauri_managed_concept_path(item) }'
                        } " %>

<div class="col-md-12 card wide">

    <div class="card-header">
      Code List Editor
    </div>

    <div class="card-content">

      <div class="btns-wrap" id="edit-cl-actions">
        <a href="#" class="btn medium white ttip" id="refresh-button">
          <span class="ttip-text shadow-small text-medium">Reload data in table</span>
          <span class="icon-history"></span> Refresh
        </a>
        <a href="#" class="btn medium white ttip" id="add-existing-button" data-toggle="modal">
          <span class="ttip-text shadow-small text-medium">Find and select one or more <br/> Code List Items</span>
          <span class="icon-search"></span> Add items
        </a>
        <a href="#" class="btn medium green ttip" id="new-item-button">
          <span class="ttip-text shadow-small text-medium">Create a blank Code List Item</span>
          <span class="icon-plus text-tiny"></span>  New item
        </a>
        <span id="editor-help" class="icon-help text-small text-light clickable ttip" style="margin-left: 5px;">
          <span class="ttip-text shadow-small font-light text-medium"> CL Editor Help </span>
        </span>

      </div>

        <div id="editor-panel" class="table-cardstyle loading-with-btns">
          <%= render partial: "shared/iso_managed/children/children_panel", locals: { id: "editor",
              table_classes: '', btn_in_last?: true, custom_props?: true, item: item } %>
        </div>
    </div>

</div>

<%= render partial: "shared/help_dialogs/codelist_editor_help", :locals => { title: "How to use Code List Editor" } %>
<%= render partial: "shared/items_picker/items_picker", :locals => { id: "add-children",
    description: "Select one or more Code List Items to add to the Code List." } %>
