<%= javascript_tag 'setPageTitle("Namespaces")' %>
<%= javascript_pack_tag 'iso_namespaces/index' %>

<% first_level_breadcrumb (:iso_namespaces) %>

<div class="row">
	<%= render layout: "shared/headers/header_generic", :locals => { badge: "N", header_title: "",
		main_text: "Scope Namespaces", sub_texts: "View and manage Namespaces in the system." } do %>
	<% end %>
</div>

<div class="row centered">

  <div class="col-md-11 card wide">

    <div class="card-header">
      Namespaces
    </div>

    <div class="card-content table-cardstyle">

			<div class="text-normal text-link ci-card-title">
				Index of Scope Namespaces
			</div>

			<div class="table-width-wrapper">
	      <table id="main" class="table">
	        <thead>
	          <tr>
	              <th>Name</th>
	              <th>Short Name</th>
	              <th class="fit"></th>
	            </tr>
	        </thead>
	        <tbody>
	          <% @namespaces.each do |namespace| %>
	              <tr>
	                <td><%= namespace.name %></td>
	                <td><%= namespace.short_name %></td>
	                <td>
	                  <% if namespace.not_used? %>
	                    <button class="btn icon-only red remove-namespace" data-url="<%= iso_namespace_path(namespace) %>" data-method="DELETE">
	                      <span class="icon-trash"></span>
	                    </button>
	                  <% end %>
	                </td>
	              </tr>
	          <% end %>
	        </tbody>
	      </table>
			</div>

      <% if policy(IsoNamespace).new? %>

				<div class="text-normal text-link ci-card-title">
					Add a New Scope Namespace
				</div>

        <div class="text-centered">
          <%= form_for IsoNamespace.new, url: { action: "create" } do |f| %>

            <div class="form-wrap wide">
              <div class="form-group">
                <%= f.text_field :name, placeholder: "Name" %>
              </div>
               <div class="form-group">
                <%= f.text_field :short_name, placeholder: "Short name"%>
              </div>
              <div class="form-group">
                <%= f.text_field :authority, placeholder: "Authority" %>
              </div>
            </div>

            <%= f.submit "+ New Namespace", class: "btn medium green" %>

          <% end %>
        </div>

      <% end %>

    </div>

  </div>

</div>
