<%= javascript_tag 'setPageTitle("Namespaces")' %>
<%= javascript_include_tag 'standard_datatable' %>
<% top_level_breadcrumb ("Namespaces") %>
<div class="row">
  <div class="col-md-8 card wide">
    <div class="card-header">
      Namespaces
    </div>
    <div class="card-content table-cardstyle">
      <table id="main" class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
              <th>Name</th>
              <th>Short Name</th>
              <th class="fit"></th>
            </tr>
        </thead>
        <tbody>
          <% @namespaces.each do |namespace| %>
              <tr>
                <td><%= namespace.name %></td>
                <td><%= namespace.short_name %></td>
                <td>
                  <% if namespace.not_used? %>
                    <%= link_to "Delete", iso_namespace_path(namespace), :class => "btn medium red", method: :delete, data: { confirm: "Are you sure?" } %>
                  <% else %>
                    &nbsp;
                  <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4 card narrow">
    <div class="card-header">
        New Scope Namespace
    </div>
    <div class="card-content">
      <span class="font-light"> To create a new namespace use this form: </span>
      <%= form_for IsoNamespace.new, url: {action: "create"} do |f| %>
        <div class="form-wrap wide">
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Name", autofocus: true %>
          </div>
           <div class="form-group">
            <%= f.text_field :short_name, placeholder: "Short name"%>
          </div>
          <div class="form-group">
            <%= f.text_field :authority, placeholder: "Authority" %>
          </div>
        </div>
        <div style="float:right">
          <%= f.submit "+ New namespace", class: "btn medium green" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
