<h3>Changes: <%= @identifier %> <small><%= @identifier %></small></h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
	  	<thead>
	  		<tr>
				<th>Code List</th>
				<th>Label</th>
				<% clEntry = @results.values[0] %>
				<% result = clEntry["result"]%>
				<% result.each do |vKey, status| %>
		    		<th class="text-center"><%= vKey %></th>
		  		<% end %>
				<th></th>
			</tr>
		</thead>
		<tbody>	
			<% @results.each do |clKey, clEntry| %>
				<% result = clEntry["result"]%>
				<% cl = clEntry["cl"]%>
				<% id = cl["id"]%>
				<% namespace = cl["id"]%>
				<% identifier = cl["identifier"]%>
				<% label = cl["label"]%>
				<tr>
					<td><%= identifier %></td>
					<td><%= label %></td>
					<% result.each do |vKey, status| %>
						<% if status == "." %>
							<td class="text-center"><span class="glyphicon glyphicon-ok-circle"/></td>
						<% elsif status == "M"  %>
							<td class="text-center bg-warning">
								<span class="text-center glyphicon glyphicon-pencil"/>
							</td>
						<% elsif status == "X"  %>
							<td class="text-center bg-danger">	
								<span class="glyphicon glyphicon-remove-circle"/>
							</td>
						<% else %>
							<td class="text-center">&nbsp;</td>
						<% end %>
					<% end %>
					<td><%=link_to "Changes", changes_cdisc_cls_path(:id => id), :class => "btn btn-primary btn-xs" %></td>
				</tr>	
			<% end %>
		</tbody>
	</table>
</div>
