<h1><%= @title %> <small>(CDISC, <%= @identifier %>)</small></h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
			<table class="table table-striped table-bordered table-condensed">
			  <tr>
					<th>Code List Item</th>
					<% clEntry = @Results.values[0] %>
					<% value = clEntry[:result]%>
					<% value.each do |vKey, value| %>
				    <th><%= vKey %></th>
				  <% end %>
					<th>View History</th>
				</tr>	
				<% @Results.each do |clKey, clEntry| %>
					<% value = clEntry[:result]%>
					<% clId = clEntry[:id]%>
					<tr>
						<td><%= clKey %></td>
						<% value.each do |vKey, status| %>
				    	<%= render partial: "shared/historyCell", :locals => {:historyValue => status} %>
						<% end %>
						<td><%=link_to "History", history_cdisc_cls_path(:id => clId), :class => "btn btn-info" %></td>
					</tr>	
				<% end %>
			</table>
		</div>
	</div>
</div>
