<h3>Compare: <%= @newCdiscTerm.label %> <small>(<%= @newCdiscTerm.identifier %>)</small></h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
		  <tr>
				<th>Identifier</th>
				<th>Label</th>
				<th>Submission</th>
				<% clEntry = @Results.values[0] %>
				<% value = clEntry[:result]%>
				<% value.each do |vKey, value| %>
			    	<th class="text-center"><%= vKey %></th>
			  	<% end %>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @Results.each do |clKey, clEntry| %>
				<% value = clEntry[:result]%>
				<% cl = clEntry[:cl]%>
				<tr>
					<td><%= cl.identifier %></td>
					<td><%= cl.label %></td>
					<td><%= cl.notation %></td>
					<% value.each do |vKey, status| %>
			    		<% if status == "." %>
							<td class="text-center"><span class="glyphicon glyphicon-ok-circle"/></td>
						<% elsif status == "M"  %>
							<td class="text-center bg-warning">
								<span class="text-center glyphicon glyphicon-pencil"/>
							</td>
						<% elsif status == "X"  %>
							<td class="text-center bg-danger">	
								<span class="glyphicon glyphicon-remove-circle"/>
							</td>
						<% else %>
							<td class="text-center">&nbsp;</td>
						<% end %>
					<% end %>
					<td><%=link_to "Show", cdisc_cl_path(:id => cl.id, :namespace => cl.namespace ), :class => "btn btn-primary btn-xs" %></td>
					<td><%=link_to "Compare", compare_cdisc_cls_path(:id => cl.id, :oldTermId => @oldCdiscTerm.id, :oldTermNs => @oldCdiscTerm.namespace, :newTermId => @newCdiscTerm.id, :newTermNs => @newCdiscTerm.namespace, :type => "ALL"), :class => "btn btn-primary btn-xs" %></td>
				</tr>	
			<% end %>
		</tbody>
	</table>
</div>
