<%= javascript_tag 'setPageTitle("CDISC Terminology History")' %>
<%= stylesheet_link_tag 'custom/context_menu', media: 'all' %>
<%= javascript_include_tag 'shared/context_menu' %>
<%= javascript_include_tag 'cdisc_term/history' %>
<%= javascript_tag "var url_path = '#{history_cdisc_terms_path}';" %>
<%= javascript_tag "var strict_params = 'cdisc_term';" %>
<%= javascript_tag "var identifier = '#{@identifier}';" %>
<%= javascript_tag "var scope_id = '#{@scope_id}';" %>
<% second_level_breadcrumb(:thesauri, @scope_id, @identifier) %>
<style>
	.card{
		min-width: initial !important;
	}
</style>
<div class="row">
  <%= render layout: "shared/thesauri/simple_header_card", :locals => {badge: "icon-terminology", item: @ct, header_title: "Item History"} do %>
    <div class="actions-wrap">
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
			<%= render layout: "shared/context_menu/con_menu", :locals => {menu_id: "header-con-menu", color: "blue", side: "left"} do %>
				<%= render partial: "shared/context_menu/con_menu_item", :locals => {link_path: changes_thesauri_path(@cdisc_term_id), icon: "icon-changes",
					text: "View Changes", dt_toggle: "", disabled: false} %>
				<%= render partial: "shared/context_menu/con_menu_item", :locals => {link_path: submission_thesauri_path(@cdisc_term_id), icon: "icon-sub-value-changes",
					text: "View Submission value changes", dt_toggle: "", disabled: false} %>
			<% end %>
    </div>
  <% end %>
</div>
<div class="row centered">
	<div class="col-md-9 card table-cardstyle">
		<%= render partial: "shared/history_panel", locals: {title: "History"} %>
	</div>
</div>
