<%= javascript_include_tag 'cdisc_term/history' %>
<%= javascript_tag "var url_path = '#{history_results_cdisc_terms_path}';" %>
<% top_level_breadcrumb ("CDISC Terminology") %>
<div class="col-md-9">
	<%= render partial: "shared/history_panel", locals: {title: "History: CDISC Terminology"} %>
</div>
<div class="col-md-3">
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Changes</h3>
    </div>
    <div class="panel-body">
      <p>View changes across versions:</p>
      <p><%= link_to "Changes", changes_cdisc_term_path(@cdisc_term), :class => "btn btn-primary" %></p>
      <p>View submission value changes across versions:</p>
      <p><%= link_to "Submission", submission_cdisc_term_path(@cdisc_term) , :class => "btn btn-primary" %></p>
    </div>
  </div>
</div> 