<%= stylesheet_link_tag    'd3_graph' %>
<%= javascript_include_tag 'd3_graph' %>
<script id="jsonData" type="text/json">
    <%= raw @graph.to_json %>
</script>
<div class="col-md-7">
    <h3>Impact: CDISC Terminology <%= @new_cdisc_term.versionLabel %> versus <%= @old_cdisc_term.versionLabel %> <small>(V<%= @new_cdisc_term.version %> versus V<%= @old_cdisc_term.version %>)</small></h3>
    <div class="d3-tree" id="d3">
        <!-- D3 Area -->
    </div>
</div>
<div class="col-md-5">
    <br/>
    <div>
        <div id="formTable" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Form</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td><strong>Identifier:</strong></td>
                            <td id="formIdentifier"></td>
                        </tr>
                        <tr>
                            <td><strong>Label:</strong></td>
                            <td id="formLabel"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="domainTable" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Domain</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td><strong>Identifier:</strong></td>
                            <td id="domainIdentifier"></td>
                        </tr>
                        <tr>
                            <td><strong>Label:</strong></td>
                            <td id="domainLabel"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="bcTable" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Biomedical Concept</h3>
            </div>
            <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td><strong>Label:</strong></td>
                                <td id="bcLabel"></td>
                            </tr>
                            <tr>
                                <td><strong>identifier:</strong></td>
                                <td id="bcIdentifier"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div id="clTable" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Code List Item</h3>
            </div>
            <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td><strong>Code List:</strong></td>
                                <td id="clParentIdentifier"></td>
                            </tr>
                            <tr>
                                <td><strong>Identifier:</strong></td>
                                <td id="clIdentifier"></td>
                            </tr>
                            <tr>
                                <td><strong>Label:</strong></td>
                                <td id="clLabel"></td>
                            </tr>
                            <tr>
                                <td><strong>Submission Value:</strong></td>
                                <td id="clSubmission"></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
    </div>
</div>
