<div class="container">
	<h1>CDISC Terminology</h1>
  <div class="row">
    <div class="col-md-12">
			<table class="table">
			  <tr>
			    <th>Identifer</th>
			    <th>Version</th>
			    <th>Date</th>
			    <th>CID</th>
			    <th></th>
			  </tr>
				<% @cdiscTerms.each do |cdiscTerm| %>
				  <tr>
				    <td><%= cdiscTerm.identifier %></td>
				    <td><%= cdiscTerm.version %></td>
				    <td><%= cdiscTerm.date %></td>
				    <td><%= cdiscTerm.id %></td>
				    <td><%= link_to "Show", cdiscTerm, :class => "btn btn-primary" %></td>
				  </tr>
				<% end %>
			</table>
		</div>
	</div>
  <div class="row">
    <%= link_to "New version", new_cdisc_term_path, :class => "btn btn-success" %>
	</div>
</div>
