<%= javascript_tag "var changes_path = '/cdisc_terms/:id/changes';" %>
<%= stylesheet_link_tag 'custom/dates_selector', media: 'all' %>
<%= javascript_include_tag 'jquery','jquery-ui.min.js', 'application' %>
<%= javascript_include_tag 'cdisc_term/index', 'shared/cdisc_term/index_panel', 'shared/timeline_slider'%>

<style>
  .rowpad {
    padding-top: 20px;
  }

  html,body { min-width: 1000px; }

  @media (min-width:1310px) {

  }

</style>
<div class="row">
  <div class="col-md-12">
    <div class="btns-wrap">
      <a href="<%= history_cdisc_terms_path %>" class="btn btn-primary ico-btn shadow-small">
        <span class="icon-browse-all text-xlarge"></span>
        <span class="ico-btn-text">Browse every version of CDISC CT</span></a>
      <a href="<%= changes_thesauri_path(@current_id) %>" class="btn btn-primary ico-btn shadow-small">
        <span class="icon-see-changes text-xlarge"></span>
        <span class="ico-btn-text">See all the Changes across versions</span></a>
      <a href="<%= submission_thesauri_path(@current_id) %>" class="btn btn-primary ico-btn shadow-small">
        <span class="icon-submission-changes text-xlarge"></span>
        <span class="ico-btn-text">See just the Submission value changes across versions</span></a>
      <a href="<%= search_thesauri_path(@latest_id) %>" class="btn btn-primary ico-btn shadow-small">
        <span class="icon-search-latest text-xlarge"></span>
        <span class="ico-btn-text">Search the latest version of CDISC CT</span></a>
    </div>
  </div>
</div>
<div class="row rowpad">
  <div class="col-md-12 card">
      <h3 class="card-header">Changes in CDISC CT versions</h3>
      <div class="card-content">
        <div class="row">
          <center>
            <span class="text-medium text-small font-light">Select version timespan:</span><br><br>
            <!-- TIMELINE SELECTOR START -->
            <div class="timeline-outer-container">
              <div class="timeline-container">
                <div class="timeline-start-end"><%= @versions_yr_span[0] %></div>
                <div class="timeline"></div>
                <!-- RENDER POINTS ON TIMELINE  -->
                <% @versions_normalized.each_with_index do |x, index| %>
                  <div class="timeline-point bg-prim-bright shadow-small <%= if index == 0 || index == @versions_normalized.length-1 then 'point-highlight' end %> ttip"
                       style="left: <%= x %>%;">
                    <span class="ttip-text text-small text-light shadow-small" data-index="<%= @versions[index][:id] %>"><%= @versions[index][:date] %></span>
                  </div>
                <% end %>
                <div class="timeline-start-end"><%= @versions_yr_span[1] %></div>
              </div>
              <!-- TIMELINE CONTROLS -->
              <div class="timeline-container timeline-controls">
                <div id="timeline-start-btn" class="timeline-date-btn" style="left: -51px;">
                  from <span class="date-txt" id="start-date-txt"><%= @versions[0][:date] %></span></div>
                <div id="timeline-end-btn" class="timeline-date-btn" style="right: -51px;">
                  to <span class="date-txt" id="end-date-txt"><%= @versions[-1][:date] %></span></div>
              </div>
            </div>
            <!-- TIMELINE SELECTOR END -->
            <button class="btn btn btn-primary ico-btn shadow-small highlight" id="go_button">
              <span class="icon-browse-all text-xlarge"></span><span class="ico-btn-text">Display</span>
            </button>
          </center>
        </div>
        <div class="row rowpad">
          <div class="col-md-12">
              <div class="panel-body">
                <div id="results_div">
                  <div class="col-md-4">
                    <div class="panel panel-danger">
                      <div class="panel-heading"><h3 class="panel-title">Deleted Items</h3></div>
                      <div class="panel-body" id="deleted_div">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-warning">
                      <div class="panel-heading"><h3 class="panel-title">Updated Items</h3></div>
                      <div class="panel-body" id="updated_div"></div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-success">
                      <div class="panel-heading"><h3 class="panel-title">Created Items</h3></div>
                      <div class="panel-body" id="created_div"></div>
                    </div>
                  </div>
                </div>
                <div id="spinner_div"><p class="text-center"><img src="<%= asset_path('processing_large_2.gif') %>"></p></div>
              </div>
          </div>
        </div>
      </div>
      </div>
