<%= javascript_tag "var changes_path = '/cdisc_terms/:id/changes';" %>
<%= javascript_include_tag 'jquery','jquery-ui.min.js', 'jquery.ui.touch-punch.min.js' %>
<%= javascript_include_tag 'shared/cdisc_term/index_panel', 'shared/timeline_slider', 'shared/alph_slider', 'cdisc_term/index'%>
<%= stylesheet_link_tag 'custom/alph_filter','custom/dates_selector', media: 'all' %>

<style>
  .rowpad {
    padding-top: 20px;
  }

  html,body {
    height: unset !important;
    min-width: 768px;
  }

  #results_div .icon-filter{  margin-left:4px; }


</style>
<div class="row rowpad">
  <div class="col-md-12">
    <div class="btns-wrap">
      <%= render partial: "shared/buttons/ico_btn", :locals => {link_path: history_cdisc_terms_path, id: "btn-browse-cdisc",
        icon: "icon-browse-all", btn_text: "Browse every version of CDISC CT", btn_class: ""} %>
      <%= render partial: "shared/buttons/ico_btn", :locals => {link_path: changes_thesauri_path(@current_id), id: "btn-see-changes",
        icon: "icon-see-changes", btn_text: "See the changes across versions", btn_class: ""} %>
      <%= render partial: "shared/buttons/ico_btn", :locals => {link_path: submission_thesauri_path(@current_id), id: "btn-submission-changes",
        icon: "icon-submission-changes", btn_text: "See submission value changes across versions", btn_class: ""} %>
      <%= render partial: "shared/buttons/ico_btn", :locals => {link_path: search_thesauri_path(@latest_id), id: "btn-search-latest",
        icon: "icon-search-latest", btn_text: "Search the latest version of CDISC CT", btn_class: ""} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 card">
      <h3 class="card-header">Changes in CDISC Terminology versions</h3>
      <div class="card-content">
        <div class="row">
          <center>
            <span class="text-medium text-small font-light">Select version timespan by dragging the sliders below:</span><br><br>
            <!-- TIMELINE SELECTOR START -->
            <div class="timeline-outer-container">
              <div class="timeline-container">
                <div class="timeline-start-end"><%= @versions_yr_span[0] %></div>
                <div class="timeline"></div>
                <!-- RENDER POINTS ON TIMELINE  -->
                <% @versions_normalized.each_with_index do |x, index| %>
                  <div class="timeline-point bg-prim-bright shadow-small <%= if index == 0 || index == @versions_normalized.length-1 then 'point-highlight' end %> ttip"
                       style="left: <%= x %>%;">
                    <span class="ttip-text text-small text-light shadow-small" data-index="<%= @versions[index][:id] %>"><%= @versions[index][:date] %></span>
                  </div>
                <% end %>
                <div class="timeline-start-end"><%= @versions_yr_span[1] %></div>
              </div>
              <!-- TIMELINE CONTROLS -->
              <div class="timeline-container timeline-controls">
                <div id="timeline-start-btn" class="timeline-date-btn" style="left: -51px;">
                  from <span class="date-txt" id="start-date-txt"><%= @versions[0][:date] %></span></div>
                <div id="timeline-end-btn" class="timeline-date-btn" style="right: -51px;">
                  to <span class="date-txt" id="end-date-txt"><%= @versions[-1][:date] %></span></div>
              </div>
            </div>
            <!-- TIMELINE SELECTOR END -->
            <%= render partial: "shared/buttons/ico_btn", :locals => {link_path: "#", id: "go_button",
              icon: "icon-browse-all", btn_text: "Display", btn_class: "highlight"} %>
          </center>
        </div>
        <div class="row rowpad">
          <div class="col-md-12">
              <div class="panel-body">
                <div id="results_div">
                  <div class="col-md-4">
                    <%= render partial: "shared/ico_header", :locals => { header_title: "Created Code List", img_path: "cdisc_terms/ct_badge_plus"} %>
                    <%= render partial: "shared/alphabetical_filter", :locals => { btn_id: "btn_f_created"} %>
                      <div class="list-wrap" id="created_div">
                        <div class='text-medium font-light text-centered no-results-msg' hidden>No results</div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <%= render partial: "shared/ico_header", :locals => { header_title: "Updated Code List", img_path: "cdisc_terms/ct_badge_update"} %>
                    <%= render partial: "shared/alphabetical_filter", :locals => { btn_id: "btn_f_updated"} %>
                    <div class="list-wrap" id="updated_div">
                      <div class='text-medium font-light text-centered no-results-msg' hidden>No results</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <%= render partial: "shared/ico_header", :locals => { header_title: "Deleted Code List", img_path: "cdisc_terms/ct_badge_minus"} %>
                    <%= render partial: "shared/alphabetical_filter", :locals => { btn_id: "btn_f_deleted"} %>
                    <div class="list-wrap" id="deleted_div">
                      <div class='text-medium font-light text-centered no-results-msg' hidden>No results</div>
                    </div>
                  </div>
                </div>
                <div id="spinner_div"><p class="text-center text-medium font-light"><img src="<%= asset_path('loading.svg') %>" class="loading-medium"><br/> Fetching results...</p></div>
              </div>
          </div>
        </div>
      </div>
      </div>
