<h1>New CDISC Terminology Version</h1>

<%= form_for @cdiscTerm do |f| %>
   
	 <div class="field">
    <%= f.label :version %><br/>
    <%= f.text_field :version, autofocus: true %><br/>
    <%= f.label :date %><br/>
    <%= f.date_field :date %><br/>
    <%= f.label :files %><br/>
    <%= f.select :files, @files, {}, { :multiple => true, :size => 10 } %>
		
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
	
<% end %>
