<%= javascript_tag 'setPageTitle("Search Terminology")' %>
<%= javascript_include_tag 'cdisc_term/search' %>
<% second_level_breadcrumb(id_to_type('cdisc_terms'), "Search") %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<div class="card">
    <%= render partial: "shared/stdInstanceTitlePanel", :locals => {:title => "Search:", :item => @cdiscTerm} %>
  <div class="card-content">
    <div class="col-md-12">
      <%= render partial: "shared/thesauri/search", :locals => {current: @cdiscTerm.current?, single: true, id: @cdiscTerm.id, namespace: @cdiscTerm.namespace} %>
      <%= render partial: "shared/buttons/close_v2", :locals => {link_path:  history_cdisc_terms_path, id: "close", small: false} %>
    </div>
  </div>
</div>
