<%= javascript_include_tag 'cdisc_search' %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<style>
	#search2Table { table-layout: fixed; }
</style>
<h3>Search: <%= @cdiscTerm.label %></h3>
<div class="col-md-12">
	<% if @cdiscTerm.current? && current_user.is_a_curator? %>
		<button id="notepadAdd" class="btn btn-primary" type="button">
  		Notepad+ <span class="badge"><%= @items.count %></span>
		</button>
	<% end %>
	<h4></h4>
	<table id="search2Table" class="table table-striped table-bordered table-condensed">
	  <thead>
			<tr>
			    <th>Code List</th>
			    <th>Item</th>
			    <th>Submission Value</th>
			    <th>Definition</th>
			    <th>Synonym</th>
			    <th>Preferred Term</th>
			    <th>Extensible</th>
		  	</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
      <tr>
          <th>Code List</th>
          <th>Item</th>
          <th>Submission</th>
          <th>Definition</th>
          <th>Synonym</th>
          <th>Preferred Term</th>
          <th>Extensible</th>
      </tr>
  	</tfoot>
	</table>
	<%= link_to "Close", history_cdisc_terms_path, :class => "btn btn-primary" %>
</div>
<input type="hidden" id="termId" value="<%= @cdiscTerm.id %>">
<input type="hidden" id="namespace" value="<%= @cdiscTerm.namespace %>" %>	
