<%= javascript_include_tag 'cdisc_term/changes' %>
<%= javascript_tag "var url_path = '#{submission_results_cdisc_term_path(@ct)}';" %>
<%= javascript_tag "var column_count = '#{@version_count}';" %>
<% second_level_breadcrumb("CDISC Terminology", history_cdisc_terms_path, "Changes") %>
<div class="col-md-12">
  <%= render partial: "shared/thesauri/changes_panel", :locals => {title: "Submission: CDISC Terminology", column_count: @version_count, links: @links} %>
  <%= render partial: "shared/buttons/close_v2", :locals => {link_path:  history_cdisc_terms_path, id: "close", small: false} %>
  <%= render partial: "shared/buttons/report", :locals => {link_path:  submission_report_cdisc_term_path(@ct, format: :pdf), id: "report", small: false} %>  
</div>
