<% top_level_breadcrumb ("Dashboard") %>
<div class="row">
	<% if policy(User).index? %>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Users</h3>
				</div>
	  		<div class="panel-body">
	    		<p>Manage the users within the system.</p>
	    		<%= link_to "Users", users_path, :class => "btn btn-primary" %>
	  		</div>
			</div>
		</div>
	<% end %>
	<% if policy(Token).index? %>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Edit Locks</h3>
				</div>
	  		<div class="panel-body">
	    		<p>View the curent edit locks and manage them.</p>
	    		<%= link_to "Locks", tokens_path, :class => "btn btn-primary" %>
	  		</div>
			</div>
		</div>
	<% end %>
	<% if policy(AuditTrail).index? %>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Audit Trail</h3>
				</div>
	  		<div class="panel-body">
	    		<p>Inspect the audit trail for the system.</p>
	    		<%= link_to "Audit Trail", audit_trail_index_path, :class => "btn btn-primary" %>
	  		</div>
			</div>
		</div>
	<% end %>
	<% if policy(IsoManaged).index? %>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Managed Items</h3>
				</div>
	  		<div class="panel-body">
	    		<p>View the items managed by the system.</p>
	    		<%= link_to "Items", iso_managed_index_path, :class => "btn btn-primary" %>
	  		</div>
			</div>
		</div>
	<% end %>
	<% if policy(Background).index? %>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Background Jobs</h3>
				</div>
	  		<div class="panel-body">
	    		<p>View the background jobs within the system.</p>
	    		<%= link_to "Background Jobs", backgrounds_path, :class => "btn btn-primary" %>
	  		</div>
			</div>
		</div>
	<% end %>
</div>
