<%= javascript_include_tag 'dashboard_index'%>
<section id="container">
	<div class="row">
  	<div class="col-md-4">
      <h4>Terminology</h4>
      <table id="main2" class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
              <th>Owner</th>
              <th>Label</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @thesauri.each do |item| %>
            <tr>
                <td><%= item[:owner] %></td>
                <td><%= item[:label] %></td>
                <td><%= link_to "History", history_thesauri_index_path(:identifier => item[:identifier], :scope_id => item[:owner_id]), :class => "btn btn-primary btn-xs" %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h4>Biomedical Concept Templates</h4>
      <table id="main4" class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
              <th>Owner</th>
              <th>Label</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @bcts.each do |item| %>
            <tr>
                <td><%= item[:owner] %></td>
                <td><%= item[:label]%></td>
                <td><%= link_to "History", history_biomedical_concept_templates_path(:identifier => item[:identifier], :scope_id => item[:owner_id]), :class => "btn btn-primary btn-xs" %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h4>Biomedical Concepts</h4>
        <table id="main3" class="table table-striped table-bordered table-condensed">
          <thead>     
            <tr>
              <th>Owner</th>
              <th>Label</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @bcs.each do |item| %>
              <tr>
                <td><%= item[:owner] %></td>
                <td><%= item[:label] %></td>
                <td><%= link_to "History", history_biomedical_concepts_path(:identifier => item[:identifier], :scope_id => item[:owner_id]), :class => "btn btn-primary btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
 	</div>
	<div class="row">
  	<div class="col-md-4">
      <h4>Forms</h4>
      <table id="main1" class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
              <th>Owner</th>
              <th>Label</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h4>Domains</h4>
      <table id="main5" class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
              <th>Owner</th>
              <th>Label</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
   	</div>
    <div class="col-md-4">
      <h4>Registration Status Counts</h4>
      <script id="barGraph" type="text/json">
        <%= raw @statusCounts.to_json %>
      </script>
      <div id="bar-example" style="height: 250px;"></div>
    </div>
    <div class="col-md-4">
    </div>    
 	</div>
</section>