<%= javascript_tag 'setPageTitle("Dashboard");' %>
<%= javascript_include_tag 'jquery-ui.min', 'jquery.ui.touch-punch.min.js', 'dashboard/dashboard', 'dashboard/dashboard_editor',  'dashboard/dashboard_panel'%>
<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= stylesheet_link_tag 'custom/dashboard', 'shared/edit_dashboard' %>
<% top_level_breadcrumb ("Dashboard") %>

<% usr_layout_settings = (current_user.read_setting :dashboard_layout).value %>
<% usr_layout_settings = usr_layout_settings.split(', ').select{|x| user_policy_dashboard_panels.key?(x)} %>
<%= javascript_tag "var user_dashboard_layout_settings = '#{usr_layout_settings.join(', ')}'" %>
<%= javascript_tag "var user_policy_panels = #{user_policy_dashboard_panels.to_json}" %>
<%= javascript_tag "var settings_url = '#{user_setting_path(current_user)}'" %>

<% welcome_msg = current_user.sign_in_count == 1 ? "Welcome to A3 MDR, " : "Hello, " %>

<div class="row">
	<%= render layout: "shared/simple_header_card_general", :locals => {badge: current_user.name[0], header_title: "Dashboard",
		main_text: welcome_msg+current_user.name.split(' ').first+".",
		sub_texts: "Today is <span id='datetime'></span>. <br> <span id='notif-info'>You have 0 new notifications.</span>".html_safe} do %>
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#dashboardModal", id: "edit_dashboard",
				icon: "icon-edit", btn_text: "Customize", dt_toggle: "modal", disabled: false } %>
			<%= render partial: "shared/edit_dashboard"%>
	<% end %>
</div>

<section id="container">
	<% usr_layout_settings.each_with_index do |panel, i| %>
		<%= "<div class=\"row\">".html_safe if (i % 2 == 0)  %>

  		<div class="col-md-<%= usr_layout_settings.count == 1 ? "12" : "6" %> card dashboard wide">
      	<% if user_policy_dashboard_panels[panel][:url] == "" %>
					<div class="card-header"><%= user_policy_dashboard_panels[panel][:name] %></div>
				<% else %>
					<a href="<%=user_policy_dashboard_panels[panel][:url]%>" class="card-header"><%= user_policy_dashboard_panels[panel][:name] %></a>
				<% end %>
			  <%= render partial: (panel == "stats" ? "shared/dashboard/statistics_panel" : "shared/dashboard/dashboard_panel"), :locals => {id: "main#{i}"} %>
    	</div>

		<%= "</div>".html_safe if (i % 2 != 0 || i == usr_layout_settings.length - 1)  %>
	<% end %>
</section>
