<%= javascript_include_tag 'dashboard_viewer'%>
<% second_level_breadcrumb("Dashboard", root_path, "Triples") %>
<h3>Triple Store Viewer</h3>
<div class="row">
  <div class="col-md-6">
    <h4>Current Subject</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= label_tag :subjectNs, "Namespace:" %><br />
      <input type="text" class="form-control" name="dashboard[namespace]" id="subjectNs" value="<%= @namespace %>" disabled="disabled">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= label_tag :subjectId, "Fragment:" %><br />
      <input type="text" class="form-control" name="dashboard[id]" id="subjectId" value="<%= @id %>" disabled="disabled">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Triples</h4>
    <table id="triplesTable" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Predicate</th>
          <th>Object</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="breakAll">No data</td>
          <td class="breakAll"></td>
          <td class="breakAll"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>History Stack</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table id="main" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Order</th>
          <th>Namespace</th>
          <th>Fragment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No data</td>
          <td class="breakAll"></td>
          <td class="breakAll"></td>
        </tr>
      </tbody>
    </table>
    <button type="button" id="viewButton" class="btn btn-primary">View</button>
    <button type="button" id="graph_button" class="btn btn-warning">Gr+</button>
    <%= link_to "Close", dashboard_index_path, :class => "btn btn-primary" %>
  </div>
</div>