<%= javascript_tag 'setPageTitle("Impact Analysis: '+@managed_item.scoped_identifier+' ('+@managed_item.semantic_version+')")' %>
<% third_level_breadcrumb(:thesauri, @managed_item, @close_path) %>
<%= stylesheet_link_tag 'custom/tabs_layout', 'custom/impact', 'shared/datatables_loading' %>
<%= javascript_include_tag  'shared/tags', 'iso_managed/impact', 'shared/tabs_layout' %>

<%= javascript_tag "var cdiscChangesUrl = '#{changes_impact_thesauri_path(@ref_cdisc_th, thesauri: {thesaurus_id: @new_cdisc_th.id, sponsor_th_id: @managed_item.id})}'" %>

<div class="row">
  <%= render layout: "shared/simple_header_tiny", :locals => {badge: "icon-impact",
    main_text: "Impact Analysis <span class='font-light text-medium'>#{@managed_item.scoped_identifier} v#{@managed_item.semantic_version}</span>".html_safe,
    sub_text: "CDISC CT update from: #{@ref_cdisc_th.version_label} - to: #{@new_cdisc_th.version_label}." } do %>
      <div class="btns-wrap">
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: export_csv_thesauri_path(@ref_cdisc_th, thesauri: {sponsor_th_id: @managed_item.id, thesaurus_id: @new_cdisc_th.id}), id: "report",
             icon: "icon-file", btn_text: "CSV Report", dt_toggle: "", disabled: false } %>
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
             icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4 card narrow">
    <div class="card-header">
      Changed CDISC Terms
    </div>
    <div class="card-content">
      <%= render partial: 'shared/impact/changes_cdisc_panel' %>
    </div>
  </div>

  <div class="col-md-8 card wide">
    <div class="card-header">
      Impact of <span id="impact-item-identifier">Code List</span>
    </div>
    <div class="card-content">
      <div class="tabs-layout" id="impact-tabs">

        <div class="tabs-sel">
          <div class="tab-option active" id="tab-affected"><div>Affected Items</div></div>
          <div class="tab-option" id="tab-changes"><div>Change Details</div></div>
          <div class="tab-option" id="tab-graph"><div>Impact Graph</div></div>
        </div>

        <div class="tab-wrap scroll-styled" data-tab="tab-affected">
          <div class="text-xnormal text-link ci-card-title">
            Items affected by the CDISC Code List change
          </div>
          <div class="text-small font-light">
            The list's scope is limited to items included in this Terminology.
          </div>
          <br/>
          <%= render partial: "shared/iso_managed/managed_item_ico_list" %>
        </div>

        <div class="tab-wrap closed scroll-styled" data-tab="tab-changes">
          <%= render partial: "shared/impact/changes_differences_panel" %>
        </div>

        <div class="tab-wrap closed scroll-styled" data-tab="tab-graph">
          <div class="text-small font-light">
            The graph's scope is limited to items included in this Terminology. <br/>
            To move the graph, click and drag. To zoom, use your mouse wheel.
          </div>
          <br/>
          <%= render partial: "shared/impact/impact_graph", locals: { th_id: @managed_item.id } %>
        </div>

      </div>
    </div>
  </div>
</div>
