<% content_for :page_title do %> <%= "Impact Analysis: #{@managed_item.scoped_identifier} (#{@managed_item.semantic_version})" %> <% end %>

<%= javascript_pack_tag 'iso_managed/impact' %>

<div class="row">
  <%= render layout: "shared/headers/header_minimal", :locals => { badge: "icon-impact",
    main_text: "Impact Analysis",
    sub_text: "Showing Managed Items impacted by <b>#{@managed_item.scoped_identifier} v#{@managed_item.semantic_version}</b>.".html_safe } do %>

      <div class="btns-wrap">
        <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12 card wide">
    
    <div class="card-header">
      Impact
    </div>
    
    <div class="card-content card-with-tabs">

      <%= render partial: "shared/iso_managed/impact/impact_panel" %>  

    </div>

  </div>
</div>