<% content_for :page_title do %> <%= "Document Control: #{@managed_item.has_identifier.identifier} (#{@managed_item.semantic_version}) "%> <% end %>

<%= javascript_pack_tag 'iso_managed/status' %>

<%= render partial: "shared/breadcrumb_by_type", :locals => { item: @managed_item, type: @item_klass, close_path: @close_path } %>

<%= javascript_tag "let tokenTimerId = '#{@token.id}',
                        tokenTimerWarning = '#{current_user.edit_lock_warning}';"%>

<div class="row">
  <%= render layout: "shared/headers/header_by_type", :locals => { item: @managed_item, type: @item_klass, with_tags: true } do %>

    <div class="actions-wrap">

			<%= render partial: "shared/buttons/timeout" %>
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>

    </div>

  <% end %>
</div>