<% content_for :page_title do %> <%= "Document Control: #{@managed_item.has_identifier.identifier} (#{@managed_item.semantic_version}) "%> <% end %>

<%= stylesheet_link_tag 'iso_managed/status' %>
<%= javascript_pack_tag 'iso_managed/status' %>

<%= render partial: "shared/breadcrumb_by_type", :locals => { item: @managed_item, type: @item_klass, close_path: @close_path } %>

<%= javascript_tag "let tokenTimerId = '#{@token.id}',
                        tokenTimerWarning = '#{current_user.edit_lock_warning}';"%>

<%= javascript_tag "const statusUrls = {
                      data: '#{ status_iso_managed_v2_path(@managed_item) }',
                      updateVersion: '#{ update_semantic_version_iso_managed_v2_path(@managed_item) }',
                      updateVersionLabel: '#{ update_version_label_iso_managed_v2_path(@managed_item) }',
                      makeCurrent: '#{ make_current_iso_managed_v2_path(@managed_item) }',
                      nextState: '#{ next_state_iso_managed_v2_path(@managed_item) }'
                    }; " %>

<div class="row">
  <%= render layout: "shared/headers/header_by_type", :locals => { item: @managed_item, type: @item_klass, with_tags: true } do %>

    <div class="actions-wrap">

			<%= render partial: "shared/buttons/timeout" %>
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>

    </div>

  <% end %>
</div>

<div class="row">

  <div class="col-md-12 card wide">

    <div class="card-header">
      Document Control
    </div>

    <div class="card-content">
      <div id="status-panel">

        <div class="ci-card-title text-normal text-link">
          Version Information
        </div>

        <%# Version Information Conent %>
        <table id="version-info" class="form-wrap">
          <tr>
            <td><span class="icon-version-circle text-link text-normal"></span> Version </td>
            <td id="version"></td>
          </tr>
          <tr>
            <td><span class="icon-tag-circle text-link text-normal"></span> Version label </td>
            <td id="version-label"></td>
          </tr>
          <tr>
            <td> <span class="icon-current text-link text-normal"></span> Current </td>
            <td id="current"></td>
          </tr>
        </table>

        <div class="ci-card-title text-normal text-link">
          Manage Status
        </div>

        <%# Status Information Conent %>
        <div id="status-info" class="form-wrap">

          <div class="status-block-wrap">

            <div id="status" class="status-block">
              <i>Item Status</i>
              <div class="status current"></div>
              <div class="description"></div>
            </div>

            <div id="status-arrow" class="icon-arrow-r"></div>

            <div id="status-next" class="status-block">
              <i>Next Status</i> 
              <div class="status next"></div>
              <div class="description"></div>
            </div>
          
          </div>
  
          <div class="btns-wrap" id="status-actions">

            <button id="draft-status" class="btn white medium">
              <span class="icon-fast-backward text-tiny"></span>
              Rewind to Draft
            </button>

            <button id="next-status" class="btn light medium">
              <span class="icon-step-forward text-tiny"></span>
              Move to Next
            </button>

            <button id="release-status" class="btn white medium">
              <span class="icon-fast-forward text-tiny"></span>
              Forward to Release
            </button>

          </div>

          <div class="details-wrap">

            <div>
              <input type="checkbox" class="styled" id="with-dependencies"/>
              <span class="checkbox-styled"></span>
              <label for="with-dependencies" class="text-small"> With dependencies </label>
            </div>

            <textarea id="adm-note" placeholder="Administrative note"></textarea>
            <textarea id="unr-issue" placeholder="Unresolved issue"></textarea>

          </div>

        </div>

      </div>
    </div>

  </div>

</div>