<%= javascript_tag 'setPageTitle("Document control: '+@managed_item.label+'")' %>
<%= javascript_tag "var url_release = '#{update_semantic_version_iso_managed_v2_path(@managed_item)}' " %>
<%= javascript_include_tag 'iso_managed/status' %>
<%= javascript_include_tag 'shared/timer', 'unload_v2' %>
<%= stylesheet_link_tag "iso_managed/status" %>
<% has_state = @managed_item.has_state %>
<% state = has_state.registration_status %>
<% next_state = IsoRegistrationStateV2.next_state(state) %>

<div class="row">
  <%= render layout: "shared/iso_managed/managed_header_card", :locals => {:item => @managed_item, :badge => get_iso_managed_icon(@managed_item),
    :header_title => "Item management" } do %>
    <div class="actions-wrap">
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#", id: "timeout",
        icon: "icon-lock", btn_text: "", dt_toggle: "", disabled: false } %>
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
	<div class="col-md-8 card wide">
		<div class="card-header">	Manage Status </div>
		  <div class="card-content">
				<div class="status-wrap">
					<div class="status" >
						<div class="text-normal font-light"> Current Status: </div>
						<div class="boxed-title bg-accent-1 font-bold"><%= IsoRegistrationStateV2.state_label(state) %></div>
						<div class="status-paragraph font-light"><%= IsoRegistrationStateV2.state_definition(state) %></div>
					</div>
					<% if @managed_item.has_state.can_be_changed? %>
            <div class="icon-arrow-r status-arrow"></div>
    					<div class="status">
    						<div class="text-normal font-light"> New Status: </div>
    						<div class="boxed-title bg-sec-light font-bold"><%= IsoRegistrationStateV2.state_label(next_state) %></div>
    						<div class="status-paragraph font-light"><%= IsoRegistrationStateV2.state_definition(next_state) %></div>
    					</div>
  				  </div>
				    <br>
    			  <form action="<%= update_status_iso_managed_v2_path(@managed_item) %>" method="post">
              <center>
      					<div class="status form-group">
      						<div class="text-small font-light">Administrative Note: </div>
                  <textarea autofocus="autofocus" class="form-control" rows="4" name="[iso_managed]administrative_note" id="[iso_managed]administrative_note"><%= @managed_item.has_state.administrative_note %></textarea>
      					</div>
      					<div class="status form-group">
      						<div class="text-small font-light">Unresolved Issue: </div>
                  <textarea class="form-control" rows="4" name="[iso_managed]unresolved_issue" id="[iso_managed]unresolved_issue"><%= @managed_item.has_state.unresolved_issue %></textarea>
      					</div>
      					<input value="<%= state %>" type="hidden" name="[iso_managed]previous_state" id="[iso_managed]previous_state" />
                <input value="<%= next_state %>" type="hidden" name="[iso_managed]registration_status" id="[iso_managed]registration_status" />
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="keep-token-click">
      					   <%= submit_tag "Submit Status Change", class: "btn medium", id: 'state_submit' %>
                </div>
    				  </center>
    			  </form>
    				<br>
				  <% else %>
            </div>
            <br>
            <div class="font-light text-centered"><i> The status of this item cannot be changed. </i></div>
				  <% end %>
		    </div>
	    </div>
      <div class="col-md-4 card narrow">
		<div class="card-header">	Version Control	</div>
	<div class="card-content">
		<span class="text-small font-light"> Make item current: </span>
		<% if @managed_item.has_state.released_state? %>
			<% if @managed_item.current? %>
				<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "", id: "make_current",
					icon: "icon-new", btn_text: "Item is already current", dt_toggle: "", disabled: true } %>
			<% else %>
				<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: make_current_iso_managed_v2_path(@managed_item), id: "make_current", icon: "icon-new", btn_text: "Update to current",
          dt_toggle: "", disabled: false } %>
			<% end %>
		<% else %>
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "", id: "make_current",
				icon: "icon-new", btn_text: "Item status is not '".concat(IsoRegistrationStateV2.released_state, "'") , dt_toggle: "", disabled: true } %>
		<% end %>
    <hr>
    <% if @managed_item.latest? && has_state.update_release? %>
    <span class="text-small font-light">Version: </span> <span id= "version-edit" class= "content-editable font-light bg-label"><%=@managed_item.semantic_version %></span>
      <span id= "version-edit-after" class="form-wrap">
        <select id="select-release">
          <option value="major" selected>Major: <%= @next_versions[:major] %> </option>
          <option value="minor">Minor: <%= @next_versions[:minor] %> </option>
          <option value="patch">Patch: <%= @next_versions[:patch] %> </option>
        </select>
      <button id= "version-edit-submit" class="btn btn-xs">Update Version</button>
    </span>
    <% else %>
      <span class="text-small font-light">Version: </span> <span id= "version-edit" class= "font-light bg-label"><%=@managed_item.semantic_version %></span>
    <% end %>
    <br/>
		<span class="text-small font-light">Version Label: </span><span id= "version-label-edit" class= "content-editable font-light bg-label">
      <%= @managed_item.version_label.empty? ? "None" : @managed_item.version_label %></span>
      <span id= "version-label-edit-after">
        <form action="<%= iso_scoped_identifiers_v2_path(@managed_item.has_identifier.id) %>" method="post">
          <span class="form-wrap">
            <input name="iso_scoped_identifier[version_label]" id="iso_scoped_identifier[version_label]" type="text" placeholder="Version label" value="<%= @managed_item.version_label %>" autofocus class="font-light"/>
          </span>
          <%= hidden_field_tag "_method", "put" %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  				<%= submit_tag "Update Version Label", class: "btn btn-xs", id: 'version-label-submit' %>
			 </form>
      </span>
	</div>
</div>
<input type="hidden" id="edit_lock_token" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
