<% num = local_assigns.fetch :num, "%%num%%" %>
<div class="card-item small note shadow-small" id="cn-<%= num %>">
  <div class="note-header">
    <div class="icon-note text-link text-large"></div>
    <div class="font-light text-small"><i>
      <span id='cn-<%= num %>-date'><%= local_assigns.fetch :date, "%%date%%" %></span>
      &emsp;
      <span id="cn-<%= num %>-email"><%= local_assigns.fetch :email, "%%email%%" %></span>
    </i></div>
    <div class="icon-times note-delete-button ttip" id="del-cn-<%= num %>-button"><span class="ttip-text ttip-left shadow-small text-medium">Delete</span></div>
  </div>
  <div class="note-body">
    <div class="text-small text-medium note-body-item">
      <span>Reference:</span>
      <span class="font-light content-editable note-reference" id="cn-<%= num %>-ref" contenteditable="true"><%= local_assigns.fetch :ref, "%%ref%%" %></span>
    </div>
    <hr>
    <div class="text-small text-medium note-body-item">
      <span class="font-light content-editable note-text" id="cn-<%= num %>-text" contenteditable="true"><%= local_assigns.fetch :text, "%%text%%" %></span>
    </div>
  </div>
  <div class="note-footer"></div>
</div>
