<%= javascript_tag 'setPageTitle("New Ad-Hoc Report")' %>
<% second_level_breadcrumb(id_to_type('ad_hoc_reports'), "New") %>
<h3>New Ad-Hoc Report:</h3>
<div class="row">
	<div class="col-md-6">
		<%= form_for @item do |f| %>
	  	<div class="form-group">
	      <%= label_tag :files, "File:" %><br/>
	      <%= select_tag("ad_hoc_report[files][]", options_for_select(@files), class: "form-control", :multiple => false) %>
	    </div>
			<%= f.submit "Create", class: "btn  " %>
		<% end %>
	</div>
</div>
