<%= javascript_tag 'setPageTitle("New Ad-Hoc Report")' %>
<% second_level_breadcrumb("Ad-hoc Reports", ad_hoc_reports_path, "New") %>
<h3>New Ad-Hoc Report:</h3>
<div class="row">
	<div class="col-md-6">
		<%= form_for @item do |f| %>
	  	<div class="form-group">
	      <%= label_tag :files, "File:" %><br/>
	      <%= select_tag("ad_hoc_report[files][]", options_for_select(@files), class: "form-control", :multiple => false) %>
	    </div>
			<%= f.submit "Create", class: "btn btn-default btn-primary" %>
		<% end %>
	</div>
</div>
