<%= stylesheet_link_tag    'spinner' %>
<%= javascript_include_tag 'ad_hoc_report_results', 'spinner' %>
<h3>Ad-Hoc Report Results: <%= @report.label %></h3>
<div class="row">
	<div class="col-md-12">
		<div class="btn-group" role="group" aria-label="First group">
      <button id="running" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <%= link_to "Close", ad_hoc_reports_path, :class => "btn btn-primary" %>
    </div>
    <br/><br/>
  </div>
</div>  
<div class="row">
	<div class="col-md-12">
		<table id="results" class="table table-striped table-bordered table-condensed">
			<thead>
		  	<tr>
		  		<% @columns.each do |key, entry| %>
		    		<th><%= entry[:label] %></th>
		    	<% end %>
		  	</tr>
			</thead>
			<tbody>
		  </tbody>
		</table>
	</div>
</div>
<% if policy(AdHocReport).export_csv? %>
	<%= link_to "Export CSV", export_csv_ad_hoc_report_path(@report), :class => "btn btn-info" %>
<% end %>
<input type="hidden" id="report_id" value="<%= @report.id %>">