<%= javascript_tag 'setPageTitle("Ad-Hoc Report Results")' %>
<%= stylesheet_link_tag    'shared/datatables_loading' %>
<%= javascript_include_tag 'ad_hoc_reports/results' %>
<% breadcrumb ([id_to_type(:ad_hoc_reports), {link: "#", text: "Results"}]) %>

<div class="row">
	<%= render layout: "shared/headers/header_generic", :locals => {badge: "icon-document", header_title: "",
		main_text: "Ad-Hoc Reports", sub_texts: "Report: <span class='font-regular'> #{@report.label} </span>".html_safe } do %>

		<div class="actions-wrap" role="group" aria-label="First group">

			<% if policy(AdHocReport).export_csv? %>
				<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: export_csv_ad_hoc_report_path(@report), id: "export_csv",
					icon: "icon-file", btn_text: "Export CSV", dt_toggle: "", disabled: false } %>
			<% end %>

			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: ad_hoc_reports_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
		</div>

	<% end %>
</div>

<div class="row centered">
	<div class="col-md-11 card wide">
		<div class="card-header">Ad-Hoc Report Results</div>
		<div class="card-content table-cardstyle all-columns">
			<h4><span class="icon-forms text-prim-light"></span> Results of <span class="text-prim-light"><%= @report.label %></span></h4>
			<br/>
				<table id="results" class="table table-striped table-bordered table-condensed">
					<thead>
				  	<tr>
				  		<% @columns.each do |key, entry| %>
				    		<th><%= entry[:label] %></th>
				    	<% end %>
				  	</tr>
					</thead>
					<tbody>
				  </tbody>
				</table>
			<input type="hidden" id="report_id" value="<%= @report.id %>">
		</div>
	</div>
</div>
