<%= javascript_tag 'setPageTitle("Edit: '+@tc.notation+' ('+@tc.has_identifier.identifier+')")' %>
<%= javascript_include_tag 'thesauri/managed_concepts/edit_extension', 'shared/term_search_panel' %>
<%= javascript_include_tag 'shared/timer', 'unload_v2' %>
<%= stylesheet_link_tag 'custom/context_menu', 'homes' %>
<%= javascript_include_tag 'shared/context_menu' %>
<%= javascript_tag "var showDataUrl = '#{show_data_thesauri_managed_concept_path({id: @tc, managed_concept: {context_id: @context_id}})}',
                        extensionUrl = '#{extensions_thesauri_managed_concept_path(@tc)}',
                        searchUrl = '#{search_current_thesauri_index_path}',
                        childUpdatePropertiesUrl = '#{thesauri_unmanaged_concept_path("id")}',
                        newChildUrl ='#{add_child_thesauri_managed_concept_path(@tc)}',
                        extensionId = '#{@tc.id}',
                        is_extended = false,
                        is_extending = #{@is_extending},
                        contextId = '#{@context_id}';" %>

<% third_level_breadcrumb(:thesauri, @tc, history_thesauri_managed_concepts_path({managed_concept: {identifier: @tc.scoped_identifier, scope_id: @tc.scope}})) %>

<% if policy(Thesaurus).edit? %>
  <%= render partial: "shared/change_notes/change_notes_modal", :locals => {item_name: @tc.identifier, item_id: @tc.id, item_notes_url: change_notes_iso_concept_path(@tc.id)} %>
  <%= render partial: "shared/thesauri/unmanaged_concept_edit_properties", :locals => { umc: nil } %>
<% end %>

<div class="row">
  <!-- RENDER CARD CONTENTS -->
  <%= render layout: "shared/iso_managed/managed_header_card_cl", :locals => {:item => @tc, :context => @ct, :badge => "CL"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
      <!-- TIMER BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#", id: "timeout",
        icon: "icon-lock", btn_text: "", dt_toggle: "", disabled: false } %>
      <!-- RETURN BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>

      <% if policy(Thesaurus).edit? %>
        <%= render layout: "shared/context_menu/con_menu", :locals => {menu_id: "header-con-menu", color: "blue", side: "left"} do %>
            <%= render partial: "shared/context_menu/con_menu_item", :locals => {link_path: "#change-notes-modal", id: "change-notes-button",
              icon: "icon-note", text: "Change notes", dt_toggle: "modal", disabled: false } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 card wide">
    <%= render partial: "shared/iso_managed/edit_extension_panel" %>
  </div>
</div>
<input type="hidden" id="edit_lock_token" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
