<%= javascript_include_tag 'thesauri/managed_concepts/edit', 'shared/timer'%>
<%= javascript_tag "var add_child_path = '#{add_child_thesauri_managed_concept_path(@thesaurus_concept)}';" %>
<%= javascript_tag "var children_path = '#{children_thesauri_managed_concept_path(@thesaurus_concept)}';" %>
<%= javascript_tag "var update_path = '/thesauri/unmanaged_concepts/:id';" %>
<%= javascript_tag "var parent_id = '#{@thesaurus.id}';" %>
<div class="row">
  <!-- RENDER CARD CONTENTS -->
  <%= render layout: "shared/iso_managed/managed_header_card_cl", :locals => {:item => @thesaurus_concept, :badge => "CL"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
      <!-- TIMER BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#", id: "timeout",
        icon: "icon-lock", btn_text: "", dt_toggle: "", disabled: false } %>
      <!-- RETURN BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/thesauri/editor_panel", :locals => {title: "Code Lists"} %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/new_panel", :locals => {klass: Thesaurus::UnmanagedConcept, title: "New Code List Item", prefix: @parent_identifier} %>
  </div>
</div>
<input type="hidden" id="parameters_key" value="thesauri">
<input type="hidden" id="edit_lock_token" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<input type="hidden" id="close_path" value="<%= @close_path %>">