<%= javascript_tag 'setPageTitle("Show: '+@tc.notation+' ('+@tc.has_identifier.identifier+')")' %>
<%= javascript_include_tag 'thesauri/managed_concepts/show', 'shared/thesauri/thesauri_select', 'shared/term_search_panel', 'shared/thesauri/managed_concepts/show_header_panel' %>
<%= stylesheet_link_tag 'custom/context_menu' %>
<%= javascript_include_tag 'shared/context_menu' %>
<%= javascript_include_tag 'shared/thesauri/subsets_index' %>
<%= javascript_tag "var url_path = '#{show_data_thesauri_managed_concept_path({id: @tc, managed_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var tc_id = '#{@tc.id}';" %>
<%= javascript_tag "var context_id = '#{@context_id}';" %>
<%= javascript_tag "var is_extended = #{@is_extended};" %>
<%= javascript_tag "var is_extending = #{@is_extending};" %>
<%= javascript_tag "var context_id = '#{@context_id}';" %>
<%= javascript_tag "var policy_edit = #{policy(Thesaurus).edit?};" %>
<%= javascript_tag "var edit_enabled = #{@tc.owned?};" %>
<% third_level_breadcrumb(id_to_type('thesauri'), @tc, history_thesauri_index_path({thesauri: {identifier: @ct.scoped_identifier, scope_id: @ct.scope.id}})) %>
<div class="row">
  <!-- RENDER CARD CONTENTS -->
  <%= render layout: "shared/iso_managed/managed_header_card_cl", :locals => {:item => @tc, :context => @ct, :badge => "CL"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: changes_thesauri_managed_concept_path(@tc), id: "btn-version-history",
        icon: "icon-history", btn_text: "Changes", dt_toggle: "", disabled: false} %>
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: export_csv_thesauri_managed_concept_path(@tc),
        id: "export-csv", icon: "icon-file", btn_text: "Export CSV", dt_toggle: "", disabled: false } %>

      <% if policy(Thesaurus).edit? %>
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#subsetsModal", id: "btn-subsets",
          icon: "icon-subset", btn_text: "Subsets", dt_toggle: "modal", disabled: false} %>
        <%= render partial: "shared/thesauri/subsets_index" %>
        <% class_list = @can_be_extended ? e_disabled = false : e_disabled = true %>
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#tableModal", id: "extend",
          icon: e_disabled ? "icon-extend-disabled ":"icon-extend", btn_text: "Extend", dt_toggle: "modal", disabled: e_disabled} %>
        <%= render partial: "shared/thesauri/thesauri_select" %>
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @is_extended_path, id: "extension",
          icon: "icon-extend", btn_text: "Extension", dt_toggle: "", disabled: false} %>
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @is_extending_path, id: "extending",
          icon: "icon-extend", btn_text: "Extending", dt_toggle: "", disabled: false} %>
      <% end %>

      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 card">
    <%= render partial: "shared/iso_managed/children_panel", :locals => {:title => "Code Lists Items"} %>
  </div>
</div>
