<% content_for :page_title do %> <%= "Show: #{@tc.notation} (#{@tc.has_identifier.identifier})" %> <% end %>

<%= javascript_pack_tag 'thesauri/managed_concepts/show' %>
<%= javascript_include_tag 'shared/thesauri/managed_concepts/extension_create' %>

<%= javascript_tag "let conceptId = '#{@tc.id}',
                        contextId = '#{@context_id}',
                        userEditPolicy = #{policy(Thesaurus).edit?};" %>

<% if policy(Thesaurus).edit? %>

  <%= javascript_tag "let extensionCreateUrl = '#{ create_extension_thesauri_managed_concept_path(@tc) }',
                          extensionCreateInUrl = '#{ extension_thesauri_index_path(id: 'thId') }',
                          extendOpts = '#{ @extend_opts.to_json }'" %>

  <%= render partial: "shared/items_picker/items_picker", locals: { id: "thesaurus",
      description: "Select the Terminology in which the newly created item be should be included.
                    Skip by clicking Submit without selecting a Terminology." } %>

<% end %>

<% third_level_breadcrumb(:thesauri, @tc, history_thesauri_managed_concepts_path({managed_concept: {identifier: @tc.scoped_identifier, scope_id: @tc.scope}})) %>

<div class="row">
  <%= render layout: "shared/headers/header_codelist", :locals => { item: @tc, context: @ct, badge: "CL" } do %>

    <div class="actions-wrap">
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => { url: changes_thesauri_managed_concept_path(@tc), icon: "icon-changes",
          id: "btn-version-history", text: "Changes" }  %>
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>

      <%= render layout: "shared/context_menu/menu", :locals => { id: "header-con-menu", color: "blue", side: "left" } do %>

        <%= render partial: "shared/context_menu/menu_item", :locals => { url: export_csv_thesauri_managed_concept_path(@tc), icon: "icon-file",
            id: "export-csv", text: "Export CSV" } %>

        <%= render partial: "shared/context_menu/menu_item", :locals => { url: "#subsets-manager", icon: "icon-subset",
            id: "btn-subsets", text: "Subsets", toggle: "modal" } %>

        <% if @extend_opts[:extension] %>
          <%= render partial: "shared/context_menu/menu_item", :locals => { url: @extend_opts[:extending_path], icon: "icon-extend",
              id: "extending-btn", text: "Extending" } %>
        <% end %>

        <% if @extend_opts[:extended] %>
          <%= render partial: "shared/context_menu/menu_item", :locals => { url: @extend_opts[:extension_path], icon: "icon-extend",
              id: "extension-btn", text: "Extension" } %>
        <% end %>

        <% if policy(Thesaurus).edit? %>

          <% if @extend_opts[:allowed] || @extend_opts[:override] %>
            <%= render partial: "shared/context_menu/menu_item", :locals => { url: "#", icon: "icon-extend",
                id: "extend-btn", text: "Extend", toggle: "modal" } %>
          <% end %>

          <%= render partial: "shared/context_menu/menu_item", :locals => { url: @edit_tags_path, id: "edit-tags-button",
              icon: "icon-tag", text: "Edit tags", disabled: @edit_tags_path.empty? } %>

        <% end %>

        <%= render partial: "shared/context_menu/menu_item", :locals => { url: "#change-notes-modal", id: "change-notes-button",
            icon: "icon-note", text: "Change notes", toggle: "modal" } %>

        <%= render partial: "shared/context_menu/menu_item", :locals => { url: "#change-instructions-modal", id: "ci-modal-button",
          icon: "icon-instruction", text: "Change instructions", toggle: "modal" } %>

        <% if @tc.paired? %>
          <%= render partial: "shared/context_menu/menu_item", :locals => { url: thesauri_managed_concept_path(@tc.other_pair, managed_concept: { context_id: "" }),
              id: "paired-with-button", icon: "icon-pair", text: "Show Paired" } %>
        <% end %>

      <% end %>
    </div>

  <% end %>
</div>

<div class="row">
  <%= render partial: "shared/iso_managed/children/children_card", :locals => { title: "Code List Items",
      url: show_data_thesauri_managed_concept_path(@tc, { managed_concept: { context_id: @context_id } }) } %>
</div>

<%= render partial: "shared/thesauri/managed_concepts/subsets/manager", :locals => { item: @tc, edit_allowed: policy(Thesaurus).edit? } %>
<%= render partial: "shared/annotation/change_notes/change_notes_modal", :locals => { item_name: @tc.identifier, item_id: @tc.id, item_notes_url: change_notes_iso_concept_path(@tc.id) } %>
<%= render partial: "shared/annotation/change_instructions/change_instructions_modal", :locals => { item_name: @tc.identifier, item_id: @tc.id, can_edit: policy(Annotation).edit? } %>
