<%= stylesheet_link_tag    'd3_tree', 'spinner' %>
<%= javascript_include_tag 'd3_tree', 'sdtm_user_domain_editor', 'ajax_requests', 'd3_editor', 'unload', 'field_validation', 'token_timer', 'spinner' %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<script id="domainJson" type="text/json">
  <%= raw @operation.to_json %>
</script>
<script id="defaultsJson" type="text/json">
  <%= raw @defaults.to_json %>
</script>
<form id="main_form">
	<div id="title_row" class="row">
	  <div class="col-md-12">
      <%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Edit:", :item => @sdtm_user_domain} %>
		</div>
	</div>
	<div class="row">
	 	<div class="col-md-7">
      <div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Domain Overview</h3>
			  </div>
			  <div class="panel-body">
		  		<div class="btn-group" role="group" aria-label="First group">
			      <button id="saving" type="button" class="btn ">
			        <span class="glyphicon glyphicon-refresh"></span>
			      </button>
			      <button id="token_timer_1" type="button" class="btn btn-success">00:00</button>
			      <button type="submit" id="save" class="btn ">Save</button>
			    </div>
			    <button type="button" id="close" class="btn ">Close</button>
					<div class="d3-tree" id="d3">
		        <!-- D3 Area -->
		      </div>
		  	</div>
			</div>
	  </div>
	  <div class="col-md-5" >
		  <%= render partial: "shared/sdtmUserDomainEditor"%>
		</div>
	</div>
</form>
<input type="hidden" id="token_1" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<input type="hidden" id="close_path" value="<%= @close_path %>">