<%= stylesheet_link_tag    'd3_tree', 'sdtm_user_domain_editor'%>
<%= javascript_include_tag 'd3_tree', 'sdtm_user_domain_editor', 'ajax_requests', 'd3_editor', 'unload', 'field_validation', 'token_timer' %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<script id="domainJson" type="text/json">
  <%= raw @sdtm_user_domain.to_operation.to_json %>
</script>
<script id="defaultsJson" type="text/json">
  <%= raw @defaults.to_json %>
</script>
<form id="main_form">
	<div class="row">
	 	<div class="col-md-7">
	    <%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Edit:", :item => @sdtm_user_domain} %>
	    <div class="btn-group" role="group" aria-label="First group">
	      <button id="saving" type="button" class="btn btn-default">
	        <span class="glyphicon glyphicon-refresh"></span>
	      </button>
	      <button id="token_timer" type="button" class="btn btn-success">00:00</button>
	      <button type="submit" id="save" class="btn btn-primary">Save</button>
	    </div>
	    <button type="button" id="close" class="btn btn-primary">Close</button>
	    <div id="d3">
	      <!-- D3 Area -->
	    </div>
	  </div>
		<div class="col-md-5" >
		  <%= render partial: "shared/sdtmUserDomainEditor"%>
		</div>
	</div>
</form>
<input type="hidden" id="token" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<input type="hidden" id="close_path" value="<%= @close_path %>">