<%= stylesheet_link_tag 'concerns/check_box' %>
<div class="col-md-10 card wide">
  <div class="card-header">
    <%= title %>
  </div>
  <div class="card-content">
    <%= form_for @model, url: create_path do |f| %>
      <div class="row form-wrap hor">
        <div class="form-group">
          <%= label_tag :auto_load, "Auto load:", class: "font-light" %>
          <div class="material-switch pull-left small">
            <input id="imports_auto_load" name="imports[auto_load]" type="checkbox"/>
            <label for="imports_auto_load" class="label-success"></label>
          </div>
        </div>
      </div>
      <% if @file_type != 3 %>
        <div class="row">
            <div class="col-md-12 form-wrap">
              <%= label_tag :files, "File:", class: "font-light" %>
              <%= select_tag("imports[files][]", options_for_select(@files), multiple: multiple, class: "form-control scroll-styled", :size => 12) %>
            </div>
        </div>
      <% end %>
      <input value="<%= @file_type %>" type="hidden" name="[imports]file_type" id="[imports]file_type" />
      <center> <%= f.submit "Start Import", class: "btn medium green" %> </center>
    <% end %>
  </div>
</div>
