<%= stylesheet_link_tag 'concerns/check_box' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <%= form_for @model, url: create_path do |f| %>
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <%= label_tag :version, "Version:" %><br/>
            <%= text_field_tag "imports[version]", "#{@next_version}", class: "form-control", readonly: true %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :semantic_version, "Semantic Version:" %><br/>
            <%= text_field_tag "imports[semantic_version]", "", class: "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= label_tag :auto_load, "Auto load:" %><br/>
            <div class="material-switch pull-left">
              <input id="imports_auto_load" name="imports[auto_load]" type="checkbox" checked="checked"/>
              <label for="imports_auto_load" class="label-success"></label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= label_tag :date, "Model Release Date:" %><br/>
            <%= date_field_tag "imports[date]", class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= label_tag :files, "File:" %><br/>
            <%= select_tag("imports[files][]", options_for_select(@files), class: "form-control", :size => 20) %>
          </div>
        </div>
      </div>
      <%= f.submit "Import", class: "btn btn-default btn-success" %>
      <%= link_to "Close", imports_path, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>