<%= javascript_tag 'setPageTitle("Changes: '+@tc.notation+' ('+@tc.identifier+')")' %>
<%= javascript_include_tag 'thesauri/unmanaged_concepts/changes' %>
<%= javascript_tag "var differences_url_path = '#{differences_thesauri_unmanaged_concept_path(@tc)}';" %>
<%= javascript_tag "var changes_url_path = '#{changes_data_thesauri_unmanaged_concept_path(@tc)}';" %>
<%= javascript_tag "var children = #{@tc.children?};" %>
<%= javascript_tag "var column_count = '#{@version_count}';" %>
<div class="row">
  <%= render layout: "shared/thesauri/unmanaged_header_card", :locals => {:item => @tc, :context => nil, :badge => "CI"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
      <!-- RETURN BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "javascript: history.back()", id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render partial: "shared/thesauri/differences_panel", :locals => {title: "Differences", column_count: @version_count, links: @links} %>
</div>

<% if @tc.children? %>
  <div class="row">
    <%= render partial: "shared/thesauri/changes_panel", :locals => {title: "Changes", column_count: @version_count, links: @links} %>
  </div>
<% end %>
