<% synonym_panel_id = "linkspanel" %>
<% preferred_term_panel_id = "preferred_term" %>
<% ci_panel_id = "cipanel" %>
<%= javascript_include_tag 'thesauri/unmanaged_concepts/show', 'shared/thesauri/links_panel', 'shared/thesauri/ci_links_panel'  %>
<%= javascript_tag "var syn_url = '#{synonym_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var syn_panel_id = '#{synonym_panel_id}';" %>
<%= javascript_tag "var pt_url = '#{preferred_term_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var pt_panel_id = '#{preferred_term_panel_id}';" %>
<%= javascript_tag "var ci_url = '#{change_instruction_links_thesauri_unmanaged_concept_path(id: @tc)}';" %>
<%= javascript_tag "var ci_panel_id = '#{ci_panel_id}';" %>
<%= javascript_tag "var syn_panel_title = 'Shared Synonym';" %>
<%= javascript_tag "var pt_panel_title = 'Shared Preferred Term';" %>
<%= javascript_tag "var ci_panel_title = 'Change Instruction';" %>
<% if @has_children %>
  <%= javascript_tag "var url_path = '#{thesauri_unmanaged_concept_path(@tc)}';" %>
<% else %>
  <%= javascript_tag "var url_path = '';" %>
<% end %>
<div class="row">
  <div class="col-md-8">
    <div class="card">
        <h3 class="card-header">Show: <%=  @tc.notation %><span class="text-small"> (<%= @tc.identifier %>)</span></h3>
      <div class="card-content">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th>Label</th>
              <th>Identifer</th>
              <th>Submission Value</th>
              <th>Preferred</th>
              <th>Synonym</th>
              <th>Definition</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @tc.label %></td>
              <td><%= @tc.identifier %></td>
              <td><%= @tc.notation %></td>
              <td><%= @tc.preferred_term.label %></td>
              <td><% @tc.synonym.each do |element| %>
                    <%= element.label %>;
                  <% end %></td>
              <td><%= @tc.definition %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
        <h3 class="card-header">Navigation</h3>
      <div class="card-content">
        <%= back_close_button %>
        <%= link_to "Export CSV", export_csv_thesauri_path(@tc), :class => "btn btn-info" %>
      </div>
    </div>
  </div>
</div>
<% if @has_children %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/iso_managed/children_panel", :locals => {:title => "Code Lists"} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: preferred_term_panel_id} %>
  </div>
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: synonym_panel_id} %>
  </div>
    <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: ci_panel_id} %>
  </div>
</div>

  