<% synonym_panel_id = "linkspanel" %>
<% preferred_term_panel_id = "preferred_term" %>
<% ci_panel_id = "cipanel" %>
<%= javascript_include_tag 'thesauri/unmanaged_concepts/show', 'shared/thesauri/links_panel', 'shared/thesauri/ci_links_panel'  %>
<%= javascript_tag "var syn_url = '#{synonym_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var syn_panel_id = '#{synonym_panel_id}';" %>
<%= javascript_tag "var pt_url = '#{preferred_term_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var pt_panel_id = '#{preferred_term_panel_id}';" %>
<%= javascript_tag "var ci_url = '#{change_instruction_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var ci_panel_id = '#{ci_panel_id}';" %>
<%= javascript_tag "var syn_panel_title = 'Shared Synonyms';" %>
<%= javascript_tag "var pt_panel_title = 'Shared Preferred Terms';" %>
<%= javascript_tag "var ci_panel_title = 'Change Instruction';" %>

<% if @has_children %>
  <%= javascript_tag "var url_path = '#{show_data_thesauri_unmanaged_concept_path(@tc)}';" %>
<% else %>
  <%= javascript_tag "var url_path = '';" %>
<% end %>
<div class="row">
  <%= render layout: "shared/thesauri/unmanaged_header_card", :locals => {:item => @tc, :badge => "CI"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
    <!-- RETURN BUTTON -->
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "javascript:history.back()", id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>

<% if @has_children %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/iso_managed/children_panel", :locals => {:title => "Code Lists"} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: preferred_term_panel_id} %>
  </div>
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: synonym_panel_id} %>
  </div>
    <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: ci_panel_id} %>
  </div>
</div>
