<%= javascript_tag 'setPageTitle("Show: '+@tc.notation+' ('+@tc.identifier+')")' %>
<% synonym_panel_id = "linkspanel" %>
<% preferred_term_panel_id = "preferred_term" %>
<% ci_panel_id = "cipanel" %>
<%= javascript_include_tag 'thesauri/unmanaged_concepts/show', 'shared/thesauri/links_panel', 'shared/thesauri/ci_links_panel'  %>
<%= javascript_tag "var syn_url = '#{synonym_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var syn_panel_id = '#{synonym_panel_id}';" %>
<%= javascript_tag "var pt_url = '#{preferred_term_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var pt_panel_id = '#{preferred_term_panel_id}';" %>
<%= javascript_tag "var ci_url = '#{change_instruction_links_thesauri_unmanaged_concept_path({id: @tc, unmanaged_concept: {context_id: @context_id}})}';" %>
<%= javascript_tag "var ci_panel_id = '#{ci_panel_id}';" %>
<%= javascript_tag "var syn_panel_title = 'Shared Synonyms';" %>
<%= javascript_tag "var pt_panel_title = 'Shared Preferred Terms';" %>
<%= javascript_tag "var ci_panel_title = 'Change Instruction';" %>
<% fourth_level_breadcrumb(:thesauri, @parent, history_thesauri_managed_concepts_path({managed_concept: {identifier: @parent.scoped_identifier, scope_id: @parent.scope}}),thesauri_managed_concept_path({id: @parent, managed_concept: {context_id: @context_id}}), "Show") %>
<% if @has_children %>
  <%= javascript_tag "var url_path = '#{show_data_thesauri_unmanaged_concept_path(@tc)}';" %>
<% else %>
  <%= javascript_tag "var url_path = '';" %>
<% end %>

<div class="row">
  <%= render layout: "shared/thesauri/unmanaged_header_card", :locals => {:item => @tc, :context => @ct, :badge => "CI"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
    <!-- RETURN BUTTON -->
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>

    <% if policy(Thesaurus).edit? %>
      <%= render layout: "shared/context_menu/con_menu", :locals => {menu_id: "header-con-menu", color: "blue", side: "left"} do %>
        <%= render partial: "shared/context_menu/con_menu_item", :locals => {link_path: @edit_tags_path, id: "edit-tags-button",
          icon: "icon-tag", text: "Edit tags", dt_toggle: "", disabled: @edit_tags_path.empty? } %>
        <%= render partial: "shared/context_menu/con_menu_item", :locals => {link_path: "#change-notes-modal", id: "change-notes-button",
          icon: "icon-note", text: "Change notes", dt_toggle: "modal", disabled: !@tc.supporting_edit? } %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>

<% if policy(Thesaurus).edit? && @tc.supporting_edit? %>
  <%= render partial: "shared/change_notes/change_notes_modal", :locals => {item_name: @tc.identifier, item_id: @tc.id, item_notes_url: change_notes_iso_concept_path(@tc)} %>
<% end %>

<% if @has_children %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/iso_managed/children_panel", :locals => {:title => "Code Lists"} %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: preferred_term_panel_id} %>
  </div>
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: synonym_panel_id} %>
  </div>
    <div class="col-md-4">
    <%= render partial: "shared/thesauri/links_panel", locals: {panelId: ci_panel_id} %>
  </div>
</div>
