<%= javascript_include_tag 'standard_datatable' %>
<h3>Changes: <%= @title %> <small><%= @identifier %></small></h3>
<div class="col-md-12">
	<h4>Code List Changes</h4>	
	<style>
	  <%= Diffy::CSS %>
	</style>
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
		  <tr>
		    <th>Version</th>
		    <th class="col-sm-1">Date</th>
		    <th class="col-sm-1">Identifier</th>
		    <th class="col-sm-2">Submision Value</th>
		    <th class="col-sm-2">Preferred Term</th>
		    <th class="col-sm-2">Synonym</th>
  			<th class="col-sm-1">Extensible</th>
		    <th class="col-sm-3">Definition</th>
  	  </tr>	
		<thead>
		<tbody>
			<% @results.each do |result| %>
				<tr>
					<% r = result[:results] %>
			    <td><%= result[:version] %></td>
			    <td><%= result[:date] %></td>
			    <% if result[:status] == :created || result[:status] == :updated %>
				    <%= diff_glyphicon(r[:Identifier]) %>
				    <%= diff_glyphicon(r[:Notation]) %>
				    <%= diff_glyphicon(r[:"Preferred Term"]) %>
				    <%= diff_glyphicon(r[:Synonym]) %>
			      <% if r[:Extensible][:status] == :created %>
			      	<%= true_false_glyphicon(r[:Extensible][:current]) %>
			      <% else %>
			      	<td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <% end %>
			      <%= diff_glyphicon(r[:Definition]) %>
			    <% elsif result[:status] == :no_change %>
				    <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			    <% elsif result[:status] == :no_change %>
				    <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			      <td class="text-center"><span class="glyphicon glyphicon-arrow-down text-success"/></td>
			    <% else %>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    <% end %>
			  </tr>
			<% end %>
		</tbody>
	</table>
	<h4>Code List Item Changes</h4>	
	<table id="secondary" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Identifier</th>
				<th>Label</th>
				<th>Submission Value</th>
				<% @trimmed_results.each do |result| %>
			  	<% r = result[:results] %>
			    <th class="text-center"><%= result[:date] %></th>
			  <% end %>
				<th></th>
			</tr>
		</thead>
		<tbody>	
			<% @clis.each do |key, cli| %>
			  <% s = cli[:status] %>
			  <tr>
					<td><%= cli[:identifier] %></td>
					<td><%= cli[:preferred_term] %></td>
					<td><%= cli[:notation] %></td>
					<% s.each do |status| %>
						<% if status == :created %>
							<td class="text-center"><span class="glyphicon glyphicon-ok text-success"/></td>
						<% elsif status == :no_change %>
							<td class="text-center"><span class="glyphicon glyphicon-minus text-success"/></td>
						<% elsif status == :updated %>
							<td class="text-center"><span class="text-center glyphicon glyphicon-edit text-warning"/></td>
						<% elsif status == :deleted %>
							<td class="text-center"><span class="glyphicon glyphicon-remove text-danger"/></td>
						<% elsif status == :not_present %>
							<td class="text-center">&nbsp;</td>
						<% else %>
							<td class="text-center"><%=[status]%></td>
						<% end %>
					<% end %>
					<td><%= link_to "Changes", changes_cdisc_clis_path(id: cli[:id], cdisc_cli: {namespace: cli[:namespace]}), :class => "btn btn-primary btn-xs" %></td>
				</tr>	
			<% end %>
		</tbody>
	</table>
	<% button_class = "btn btn-primary" %>
	<% previous_class = @previous_version.nil? ? button_class + " disabled" : button_class %>
	<% next_class = @next_version.nil? ? button_class + " disabled" : button_class %>
	<%= link_to changes_cdisc_cls_path(id: @id, cdisc_cl: {version: @previous_version, namespace: @namespace}), class: "#{previous_class}" do %>
  	<span class="glyphicon glyphicon-chevron-left"></span>
	<% end %>
	<%= link_to changes_cdisc_cls_path(id: @id, cdisc_cl: {version: @next_version, namespace: @namespace}), class: "#{next_class}" do %>
  	<span class="glyphicon glyphicon-chevron-right"></span>
	<% end %>
	<%= back_close_button %>
</div>
