<h1>CDISC Code List: <%= @cdiscCl.identifier %></h1>
<table>
  <tr>
    <th>Identifer</th>
    <th>Notation</th>
    <th>Preferred</th>
    <th>Synonym</th>
    <th>Extensible</th>
    <th>Definition</th>
    <th>View</th>
  </tr>
  <tr>
    <td><%= @cdiscCl.identifier %></td>
    <td><%= @cdiscCl.notation %></td>
    <td><%= @cdiscCl.preferredTerm %></td>
    <td><%= @cdiscCl.synonym %></td>
    <td><%= @cdiscCl.extensible %></td>
    <td><%= @cdiscCl.definition %></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th>Identifer</th>
    <th>Notation</th>
    <th>Preferred</th>
    <th>Synonym</th>
    <th>Extensible</th>
    <th>Definition</th>
    <th>View</th>
  </tr>
	<% @cdiscClis.each do |cli| %>
	  <tr>
	    <td><%= cli.identifier %></td>
	    <td><%= cli.notation %></td>
	    <td><%= cli.preferredTerm %></td>
	    <td><%= cli.synonym %></td>
	    <td><%= cli.definition %></td>
	    <td><%= link_to "Show", cdisc_cli_path(:id => cli.id,:namespace => cli.namespace) %></td>
	  </tr>
	<% end %>
</table>
<br>
<%= link_to "Back", cdisc_terms_path %>