<%= javascript_include_tag 'jquery-ui.min.js'%>
<%= javascript_include_tag "shared/context_dialog", "shared/studies/study_matrix",
                            "shared/studies/study_timeline", "shared/studies/timepoint", "shared/studies/visit", "shared/items_selector/items_selector_modal" %>
<%= stylesheet_link_tag "shared/studies/study_timeline", "jquery-ui.min.css" %>

<%= javascript_tag "var matrixUrl = '#{design_study_path(@study)}',
                        timepointsArmUrl = '#{timepoints_arm_path("armId")}',
                        addTimepointUrl = '#{add_timepoint_arm_path("armId")}',
                        changeTpUnitUrl = '#{change_unit_timepoint_path("tpId")}',
                        visitsUrl = '#{visits_study_path(@study)}';" %>

<div class="text-xnormal font-light ci-card-title">
  Data Collection Timeline
</div>

<div id="tab-timeline-body" class="scroll-styled">

  <div id="study-matrix">
  </div>

  <div id="study-timeline">
  </div>

  Visits (drag to a timepoint to attach):
  <div id="visits-list" class="bg-labels-wrap">
  </div>

  <hr>

  <div class="btns-wrap">
    <a href="#" id='new-timepoint' class="ttip">
      <img src="<%=image_path 'icons/new_timepoint_btn.svg'%>" width=40></img>
      <span class="ttip-text ttip-table shadow-small text-small text-medium">New Timepoint</span>
    </a>
    <a href="#" id='new-visit' class="ttip">
      <img src="<%=image_path 'icons/new_visit_btn.svg'%>" width=40></img>
      <span class="ttip-text ttip-table shadow-small text-small text-medium">New Visit</span>
    </a>
    <a href="#" id='save-timeline' class="ttip">
      <img src="<%=image_path 'icons/save_btn.svg'%>" width=40></img>
      <span class="ttip-text ttip-table shadow-small text-small text-medium">Save Timepoints</span>
    </a>
  </div>


</div>
