<div class="tabs-layout" id="study-build-tabs">
  <div class="tabs-sel-wrap">
    <div class="tabs-sel scroll-styled">
      <div class="tab-option active" id="tab-content"><span>Content</span></div>
      <div class="tab-option" id="tab-design"><span>Design and Interventions</span></div>
      <div class="tab-option" id="tab-objectives"><span>Objectives</span></div>
      <div class="tab-option" id="tab-endpoints"><span>Endpoints</span></div>
      <div class="tab-option" id="tab-timeline"><span>Timeline</span></div>
      <div class="tab-option" id="tab-soa"><span>SoA</span></div>
      <div class="tab-option" id="tab-detail"><span>Detail</span></div>
      <div class="tab-option" id="tab-acrf"><span>aCRF</span></div>
      <div class="tab-option" id="tab-domains"><span>Domains</span></div>
      <div class="tab-option" id="tab-docs"><span>Documents</span></div>
      <div class="tab-option" id="tab-terms"><span>Terminologies</span></div>
      <div class="tab-option" id="tab-export"><span>Export</span></div>
    </div>
  </div>

  <div class="tab-wrap" data-tab="tab-content">
    <%= render partial: "shared/studies/study_content_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-design">
    <%= render partial: "shared/studies/study_design_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-objectives">
    <%= render partial: "shared/studies/study_objectives_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-endpoints">
    <%= render partial: "shared/studies/study_endpoints_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-timeline">
    <%= render partial: "shared/studies/study_timeline_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-soa">
    <%= render partial: "shared/studies/study_soa_tab" %>
  </div>

  <div class="tab-wrap closed" data-tab="tab-detail">
  </div>
  <div class="tab-wrap closed" data-tab="tab-acrf">
  </div>
  <div class="tab-wrap closed" data-tab="tab-domains">
  </div>
  <div class="tab-wrap closed" data-tab="tab-docs">
  </div>
  <div class="tab-wrap closed" data-tab="tab-terms">
  </div>
  <div class="tab-wrap closed" data-tab="tab-export">
  </div>

</div>
