<%= stylesheet_link_tag 'shared/layouts/generic_editor_modal' %>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel"
      aria-hidden="true" id="<%= local_assigns.fetch :id, "generic-editor" %>">

  <div class="modal-dialog modal-lg <%= local_assigns.fetch :width_class, "medium-screen" %>" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <span class="modal-title text-normal text-medium" id="tableModalLabel">
          <span id="title-icon" class="<%= local_assigns.fetch :title_icon, "icon-edit" %> text-link text-small" style="margin-right: 5px;"></span>
          <span id="title"> <%= local_assigns.fetch :title, "Edit Item" %> </span>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body font-light">

        <% if !(local_assigns.fetch :image_url, '').empty? %>
          <img src="<%= asset_path image_url %>" class="modal-img"></img>
        <% end %>
        
        <div class="ge-content form-wrap"></div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn medium light" id="editor-close" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn medium green" id="editor-submit">Save changes</button>
      </div>

    </div>
  </div>

</div>
