<% content_for :page_title do %> <%= "Show ADaM IG Dataset: #{@adam_ig_dataset.has_identifier.identifier} (#{@adam_ig_dataset.semantic_version})" %> <% end %>

<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= javascript_pack_tag 'adam_ig_datasets/show' %>

<% third_level_breadcrumb(:adam_ig_datasets, @adam_ig_dataset, @close_path) %>

<div class="row">
  <%= render layout: "shared/headers/header_managed_item", :locals => {:item => @adam_ig_dataset, :badge => "icon-adam"} do %>
    <div class="actions-wrap">
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>

<div class="row">
  <div id="show-panel" class="col-md-12 card wide">
    <div class="card-header">
      Show: ADaM IG Dataset
    </div>
    <div class="card-content">
      <%= render partial: "shared/adam_ig_datasets/show_panel", locals: { show_url: @show_path } %>
    </div>
  </div>
</div>
