<% content_for :page_title do %> History <%= @identifier %> <% end %>

<%= javascript_pack_tag 'managed_collections/history' %>

<% second_level_breadcrumb(:managed_collections, @scope_id, @identifier) %>

<div class="row">
  <%= render layout: "shared/headers/header_item_simple", :locals => { badge: "icon-collection", item: @item, header_title: "Item History" } do %>
    <div class="actions-wrap">
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>
    </div>
  <% end %>
</div>

<div class="row">
  <%= render partial: "shared/iso_managed/history/history_card", locals: {
        identifier: @identifier, url: history_managed_collections_path({managed_collection: {identifier: @identifier, scope_id: @scope_id}}) } %>
</div>
