<% content_for :page_title do %> Password Expired <% end %>

<%= form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2>Renew your password</h2>

  <p class="text-normal">
      Logging in as: <span class="font-regular"><%= current_user.email %></span>
  </p>
  <p class="p-justified">
    <%= password_message %>
  </p>

  <div class="form-wrap">
    <div class="form-group">
      <%= f.password_field :current_password, placeholder: 'Current password' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: 'New password' %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm new password' %>
    </div>
  </div>

  <%= f.submit 'Change', class: "btn submit-btn" %>
  <br/>
  <%= link_to destroy_user_session_path, :method => :delete, :class => "form-link text-small" do %>
    Return to the Log in page
  <% end%>
<% end %>
