<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Group:", :item => @form} %>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <thead>
			<tr>
				<th>Ordinal</th>
				<th>Label</th>
				<th>Type</th>
				<th>Optional</th>
				<th>Repeating</th>
				<th>Completion Instructions</th>
				<th>Note</th>
			</tr>
		</thead>
		<tbody>
			<tr>
		  	<td><%= @formGroup.ordinal%></td>
				<td><%= @formGroup.label%></td>
				<td><%= @formGroup.groupType%></td>
				<td><%= @formGroup.optional%></td>
				<td><%= @formGroup.repeating%></td>
				<td><%= raw @completion%></td>
				<td><%= raw @note%></td>
			</tr>
		</tbody>
	</table>
	<h4>Sub Groups</h4>
	<table id="secondary" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Ordinal</th>
				<th>Label</th>
				<th>Type</th>
				<th>Optional</th>
				<th>Repeating</th>
				<th>Note</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @formGroup.groups.each do |group| %>
				<tr>
					<td><%= group.ordinal%></td>
				  <td><%= group.label%></td>
				  <td><%= group.groupType%></td>
				  <td><%= group.optional%></td>
				  <td><%= group.repeating%></td>
				  <td><%= group.note%></td>
					<td><%= link_to "Show", forms_group_path(:id => group.id, :formId => @form.id, :namespace => @form.namespace), :class => "btn btn-primary btn-xs" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<h4>Items</h4>
	<% if @formGroup.items.length > 0 %>
		<table id="main" class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th>Ordinal</th>
					<th>Label</th>
					<th>Item Type</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @formGroup.items.each do |item| %>
					<tr>
						<td><%= item.ordinal %></td>
						<td><%= item.label %></td>
						<td><%= item.itemType %></td>
						<td><%= link_to "Show", forms_item_path(:id => item.id, :groupId => @formGroup.id, :formId => @form.id, :namespace => @form.namespace), :class => "btn btn-primary btn-xs" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p>No items present</p>
	<% end %>
</div>
