<%= javascript_tag 'setPageTitle("Edit User: '+@user.email+'");' %>
<%= javascript_include_tag 'standard_datatable' %>
<% breadcrumb ([id_to_type(:users), {link: "#", text: "Edit"}]) %>


<style>

.user-role-wrap{
  padding: 14px 6px;
	border-bottom: 1px solid lightgrey;
}

.list-wrap{
	max-height: 600px;
	max-width: none;
}

.card{
	min-width: 400px;
}

</style>

<div class="row">
	<% 
  last_si = @user.last_sign_in_at
  s_texts =
	  [{:title => "Email", :value => @user.email},
	   {:title => "Current Roles", :value => @user.role_list_stripped},
	   {:title => "Login Count", :value => @user.sign_in_count},
     {:title => "Last login", :value => last_si.nil? ? "Not logged in yet!" : last_si.strftime("%F") },
     {:title => "Days ago", :value => last_si.nil? ? "Not logged in yet!" : time_ago_in_words(last_si.strftime("%F"))}]%>


	<%= render layout: "shared/headers/header_generic", :locals => {badge: "icon-users", header_title: "Set user roles for:",
		main_text: @user.name, sub_texts: s_texts} do %>

		<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: users_path, id: "close",
			icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>

	<% end %>

</div>
<div class="row centered">
	<% roles = Role.list %>
	<% roles_bar = roles.except(:sys_admin) %>
	<div class="card col-md-6">
		<div class="card-content">
			<div class="list-wrap">
				<% roles_bar.each do |role, info| %>
					<% display_text = info[:display_text] %>
					<div class="user-role-wrap">
						<div class="text-normal"><%= display_text %> Role</div>
			  		<div class="text-small font-light">
			    		<p><%= Role.description(role) %></p>
			    		<%= link_to "Set #{display_text} Role", user_path(@user, :user => { :role_ids => [info[:id]] }), method: :put, :class => "btn medium green"%>
			  		</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="card col-md-6">
		<div class="card-content">
			<div class="list-wrap">
				<% roles_bar.each do |role, info| %>
					<% display_text = info[:display_text] %>
					<% if Role.with_sys_admin(role) %>
						<div class="user-role-wrap">
							<div class="text-normal"><%= display_text %> & System Admin Role</div>
				  		<div class="text-small font-light">
				    		<p><%= Role.description(role) %></p>
				    		<%= link_to "Set #{display_text} & System Admin Role", user_path(@user, :user => { :role_ids => [roles[:sys_admin][:id], info[:id]] }), method: :put, :class => "btn medium red" %>
				  		</div>
						</div>
					<% end %>
				<% end %>
				<div class="user-role-wrap">
					<div class="text-normal">System Admin Role</div>
					<div class="text-small font-light">
		    		<p>This access sets only system administration rights.</p>
		    		<%= link_to "Set System Admin Role", user_path(@user, :user => { :role_ids => [roles[:sys_admin][:id]] }), method: :put, :class => "btn medium red" %>
		  		</div>
				</div>
			</div>
		</div>
	</div>
</div>
