<% content_for :page_title do %> Change Password <% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h2>Change your password</h2>

  <p class="p-justified">
    <%= password_message %>
	</p>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-wrap">
    <div class="form-group">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New password" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
    </div>
  </div>
  <%= f.submit "Change", class: "btn big submit-btn" %>
<% end %>
