<%= javascript_tag 'setPageTitle("Reset password")' %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
    <div class="text-xxlarge font-regular text-light">
  		Reset your password
  	</div>
    <div class="p-justified font-light text-light text-normal">
  		Type in the email address you registered with to receive the instructions for resetting your password.
  	</div>
    <div class="form-wrap">
    	<div class="form-group">
      	<%= f.email_field :email, class: "", autofocus: true, placeholder: "Email" %>
    	</div>
    </div>

	   <%= f.submit "Submit", class: "btn big submit-btn" %>
<% end %>
