<style>
  div.DTE_Inline.DTE_Processing:after {
      background: url('<%= asset_path('ajax-loader-small.gif') %>') no-repeat top left;
  }

  .top-buffer { margin-top:20px; }

  .d3-small { height:20vh; }

</style>
<div class="row top-buffer">
  <div class="col-md-12">
    <div id="all_bc_panel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">All Biomedical Concepts</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">
        <div class="row top-buffer">
          <div class="col-md-3">
            <%= render partial: "shared/biomedicalConceptEditorPanel", :locals => {:id => "1"} %>
          </div>
          <div class="col-md-3">
            <%= render partial: "shared/biomedicalConceptEditorPanel", :locals => {:id => "2"} %>
          </div>
          <div class="col-md-3">
            <%= render partial: "shared/biomedicalConceptEditorPanel", :locals => {:id => "3"} %>
          </div>
          <div class="col-md-3">
            <%= render partial: "shared/biomedicalConceptEditorPanel", :locals => {:id => "4"} %>
          </div>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="btn-group pull-left" role="group" aria-label="First group">
          <button id="bc_timer_count" disabled class="btn btn-default">0</button>
          <button id="token_timer_1" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_2" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_3" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_4" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_5" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_6" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_7" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="token_timer_8" disabled class="btn btn-success bc-timer">00:00</button>
          <button id="bc_save" class="btn btn-primary">Save</button>
          <button id="close_button" class="btn btn-primary">Close</button> 
        </div>
        <div class="btn-group pull-right" role="group" aria-label="First group">
          <button id="bc_previous" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
          <button id="bc_next" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <div id="current_bc_panel" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Biomedical Concept</h3>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      </div>
      <div class="panel-body">
        <div id="editor_table_div">
          <table id="editor_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr> 
                <th>Alias</th>
                <th>Question Text</th>
                <th>Prompt Text</th>
                <th>Enabled</th>
                <th>Collect</th>
                <th>Datatype</th>
                <th>Format</th>
                <th>Terminology</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div id="temp_table_div">
          <table id="temp_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr> 
                <th>Alias</th>
                <th>Question Text</th>
                <th>Prompt Text</th>
                <th>Enabled</th>
                <th>Collect</th>
                <th>Datatype</th>
                <th>Format</th>
                <th>Terminology</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Current Terminologies</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">
            <%= render partial: "shared/thesauri/search", :locals => {current: true, single: false, id: "", namespace: ""} %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= render partial: "shared/thesauriFieldEditorPanel" %>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-6">
        <div id="bc_new_panel" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">New</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">
            <%= form_for(BiomedicalConcept.new, :html => {:id => "main_form"}) do |f| %>
              <div class="form-group">
                <%= f.label :identifier, "Identifier:" %><br />
                <%= f.text_field :identifier ,class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :label, "Label:" %><br />
                <%= f.text_field :label, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :uri, "Template Identifier:" %><br />
                <%= f.select :uri, options_for_select(@bcts.map{ |u| ["#{u.identifier} (V#{u.semantic_version})", "#{u.uri}"]}), {}, class: "form-control" %>
              </div> 
              <%= f.submit "Create", class: "btn btn-default btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="bc_add_panel" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add Biomedical Concept</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">
            <table id="bc_table" class="table table-striped table-bordered table-condensed">
              <thead>
                <tr>
                  <th>Identifier</th>
                  <th>Label</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <button id="bc_add" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>