<div id="bc_panel_<%= id %>" class="panel panel-default bc-panel">
  <div class="panel-heading">
    <h3 id="bc_panel_title_<%= id %>" class="panel-title">No. 1</h3>
  </div>
  <div class="panel-body">
    <div class="d3-small" id="d3_<%= id %>">
      <!-- D3 Area -->
    </div>
  </div>
  <div class="panel-footer clearfix">
    <div class="btn-group pull-right" role="group" aria-label="First group">
      <button id="bc_close_<%= id %>" class="btn btn-default bc-close">Close</button>
      <button id="bc_select_<%= id %>" class="btn btn-default bc-select">Select</button>
    </div>
  </div>
</div>