<tr>
  <td><%= item.semantic_version %></td>
  <td><%= Timestamp.new(item.creationDate).to_datetime %></td>
  <td><%= Timestamp.new(item.lastChangeDate).to_datetime %></td>
  <td><%= raw MarkdownEngine::render(item.changeDescription) %></td>
  <td><%= raw MarkdownEngine::render(item.explanatoryComment) %></td>
  <td><%= raw MarkdownEngine::render(item.origin) %></td>
  <% if policy(mi_class).edit? %>
    <td><%= link_to "Edit", edit_iso_managed_path(:id => item.id, :iso_managed => 
      {:namespace => item.namespace, :index_label => index_label, :index_path => index_path }), 
      :class => "btn  btn-xs" %></td>
  <% else %>
    <td></td>
  <% end %>
</tr>
