<% if Rails.env == "test" || Rails.env == "development" %>
  <%= javascript_include_tag 'rspec_helper' %>
<% end %>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="dashboardModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="tableModalLabel">Customize your dashboard</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <span class="font-light text-normal"> Select items on your Dashboard: </span>
            <div class="list-wrap" id="dashboard-list">
              <% usr_dashboard_setting = (current_user.read_setting :dashboard_layout).value.split(', ') %>
              <% user_dashboard_panels.each do |key, value| %>
                <div class="checkbox-opt"> <label><input type="checkbox" name="<%=key%>" <%= "checked" if usr_dashboard_setting.include? value %>><span><%= value %></span></label></div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6">
            <span class="font-light text-normal"> Organize your Dashboard: </span>

            <div class="de-wrap">
              <div id="dashboard-editor">
                <div class="de-header">Header</div>
                <% usr_dashboard_setting.each do |value| %>
                   <%= ("<div class='de-item'>"+value+"</div>").html_safe if user_dashboard_panels.has_value? value %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn medium" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn green medium" id="save_changes">Save</button>
      </div>
    </div>
  </div>
</div>
