<% button_class = "btn medium nomargin" %>
<% start_class = links[:start].blank? ? button_class + " disabled" : button_class %>
<% backward_single_class = links[:backward_single].blank? ? button_class + " disabled" : button_class %>
<% backward_multiple_class = links[:backward_multiple].blank? ? button_class + " disabled" : button_class %>
<% forward_single_class = links[:forward_single].blank? ? button_class + " disabled" : button_class %>
<% forward_multiple_class = links[:forward_multiple].blank? ? button_class + " disabled" : button_class %>
<% end_class = links[:end].blank? ? button_class + " disabled" : button_class %>
<div id="forward_backward_div" class="btn-group" role="group" aria-label="Forward backward buttons">
  <%= link_to links[:start], id: "fb_s_button", class: "#{start_class}" do %>
    Start
  <% end %>
  <%= link_to links[:backward_multiple], id: "fb_bm_button", class: "#{backward_multiple_class}" do %>
    <span class="icon-fast-backward"></span>
  <% end %>
  <%= link_to links[:backward_single], id: "fb_bs_button", class: "#{backward_single_class}" do %>
    <span class="icon-step-backward"></span>
  <% end %>
  <%= link_to links[:forward_single], id: "fb_fs_button", class: "#{forward_single_class}" do %>
    <span class="icon-step-forward"></span>
  <% end %>
  <%= link_to links[:forward_multiple], id: "fb_fm_button", class: "#{forward_multiple_class}" do %>
    <span class="icon-fast-forward"></span>
  <% end %>
  <%= link_to links[:end], id: "fb_e_button", class: "#{end_class}" do %>
    End
  <% end %>
</div>
