<div class="panel panel-default">
	<div class="panel-heading">Compare to Previous Version</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered table-condensed">
		  <tr>
		    <th>Release</th>
		    <th>All</th>
		    <th>Updates</th>
		    <th>New</th>
		    <th>Deleted</th>
		  </tr>
			<% cdiscTerms.each do |ct| %>
			  <tr>
			    <td><%= ct.versionLabel %> (V<%= ct.version %>)</td>
			    <% if type == "CT" %>
						<td>
							<%= link_to compare_cdisc_terms_path(:new => currTerm.id, :old => ct.id, :type => "ALL"), :class => "btn btn-info" do %>
								All
								<i class="fa fa-spinner fa-spin"></i>
							<% end %>
						</td>
				    <td><%= link_to "Up", compare_cdisc_terms_path(:new => currTerm.id, :old => ct.id, :type => "UPDATE"), :class => "btn btn-warning" %></td>
				    <td><%= link_to "New", compare_cdisc_terms_path(:new => currTerm.id, :old => ct.id, :type => "NEW"), :class => "btn btn-danger" %></td>
				    <td><%= link_to "Del", compare_cdisc_terms_path(:new => currTerm.id, :old => ct.id, :type => "DELETE"), :class => "btn btn-danger" %></td>
			    <% elsif type == "CL" %>
				    <td><%= link_to "All" , compare_cdisc_cls_path(:id => object.id, :new => currTerm.id, :old => ct.id, :type => "ALL"), :class => "btn btn-info" %></td>
				    <td><%= link_to "Up" , compare_cdisc_cls_path(:id => object.id, :new => currTerm.id, :old => ct.id, :type => "UPDATE"), :class => "btn btn-warning" %></td>
				    <td><%= link_to "New" , compare_cdisc_cls_path(:id => object.id, :new => currTerm.id, :old => ct.id, :type => "NEW"), :class => "btn btn-danger" %></td>
				    <td><%= link_to "Del" , compare_cdisc_cls_path(:id => object.id, :new => currTerm.id, :old => ct.id, :type => "DELETE"), :class => "btn btn-danger" %></td>
			    <% elsif type == "CLI" %>
			    	<td><%= link_to "All" , compare_cdisc_clis_path(:id => object.id, :new => currTerm.id, :old => ct.id, :type => "ALL") , :class => "btn btn-info" %></td>
			    	<td></td>
			    	<td></td>
			    	<td></td>
			    <% else %>
					<% end %>				
			  </tr>
			<% end %>
		</table>
	</div>
</div>