<tr>
	<td><%= item.semantic_version %></td>
	<td><%= item.label %></td>
	<td><%= item.identifier %></td>
	<td><%= item.versionLabel %></td>
	<td><%= item.owner_short_name %></td>
	<td><%= link_to "Show", showPath, :class => "btn  btn-xs" %></td>
	<% if viewPath != "" %>
		<td><%= link_to "View", viewPath, :class => "btn  btn-xs" %></td>
	<% else %>
		<td></td>
	<% end %>
	<% if searchPath != "" %>
		<td><%= link_to "Search", searchPath, :class => "btn  btn-xs" %></td>
	<% else %>
		<td></td>
	<% end %>
	<% if policy(mi_class).edit? and editPath != "" and item.edit? and item.latest? %>
		<td><%= link_to "Edit", editPath, :class => "btn  btn-xs" %></td>
	<% else %>
		<td></td>
	<% end %>
	<% if policy(mi_class).edit? and editPath != "" and item.edit? and item.latest? %>
		<td><%= link_to "Update Tags", edit_tags_iso_concept_path(:id => item.id, :namespace => item.namespace), :class => "btn  btn-xs" %></td>
	<% else %>
		<td></td>
	<% end %>
	<% if item.registered? %>
		<td><%= item.registrationState.registrationStatus %></td>
		<% if policy(mi_class).edit? %>
			<% if current_item != nil %>
				<td><%= link_to "Status", status_iso_managed_index_path(:id => item.id, :iso_managed =>
      		{:namespace => item.namespace, :index_label => index_label, :index_path => index_path, :current_id => current_item.registrationState.id}),
      		:class => "btn  btn-xs" %></td>
			<% else %>
				<td><%= link_to "Status", status_iso_managed_index_path(:id => item.id, :iso_managed =>
      		{:namespace => item.namespace, :index_label => index_label, :index_path => index_path, :current_id => ""}),
      		:class => "btn  btn-xs" %></td>
			<% end %>
		<% else %>
			<td></td>
		<% end %>
		<% if item.current? %>
			<%= true_false_glyphicon(item.current?) %>
		<% else %>
			<td></td>
		<% end %>
	<% else %>
		<td></td>
		<td></td>
		<td></td>
	<% end %>
	<% if policy(mi_class).destroy? and deletePath != "" and item.delete? %>
		<td><%= link_to "Delete", deletePath, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs" %></td>
	<% else %>
		<td></td>
	<% end %>
	<td>
		<%= link_to "T", view_dashboard_index_path(:id => item.id, :namespace => item.namespace), :class => "btn btn-warning btn-xs" %>
		<%= link_to "Gr-", graph_iso_managed_index_path(:id => item.id, :namespace => item.namespace), :class => "btn btn-warning btn-xs" %>
		<%= link_to "Gr+", graph_iso_concept_index_path(:id => item.id, :namespace => item.namespace), :class => "btn btn-warning btn-xs" %>
	</td>
</tr>
