<% content_for :page_title do %> Edit Locks <% end %>

<%= javascript_pack_tag 'tokens/index' %>
<% first_level_breadcrumb (:tokens) %>

<div class="row">
	<%= render layout: "shared/headers/header_generic", :locals => { badge: "icon-lock", header_title: "",
		main_text: "Edit Locks", sub_texts: "View and manage Edit Locks (Tokens)." } do %>
	<% end %>
</div>

<div class="row">
	<div class="col-md-12 card wide">
		<div class="card-header">
			Active Edit Locks
		</div>
		<div class="card-content table-cardstyle">
			<table id="main" class="table table-striped table-bordered table-condensed">
					<thead>
					<tr>
							<th>Locked At</th>
							<th>Time remaining</th>
							<th>Item URI</th>
							<th>Info</th>
							<th>Who</th>
							<th>Refresh count</th>
							<th class="fit"></th>
						</tr>
				</thead>
				<tbody>
						<% @tokens.each do |token| %>
							<tr>
								<td><%= token.locked_at %></td>
								<td><%= Time.at(@timeout - (Time.now - token.locked_at).to_i.abs).utc.strftime "%M:%S" %></td>
								<td><%= token.item_uri %></td>
								<td><%= token.item_info %></td>
								<td>
									<a class="icon-users text-link" href="<%=user_path(token.user_id)%>" target="_blank"></a>
								</td>
								<td><%= token.refresh_count %></td>
								<td>
									<button class="btn btn-xs red release-lock" data-url="<%= release_token_path(token.id) %>" data-type="POST">
										Release
									</button>
								</td>
							</tr>
						<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
