<h3>New Designation</h3>
<div class="col-md-3">
	<%= form_for @concept, :url => iso_concept_systems_nodes_path do |f| %>
		<div class="form-group">
	    	<%= f.label :identifier, "Identifier:" %><br />
	    	<input type="text" class="form-control" name="iso_concept_systems_node[identifier]">
	  	</div>
	  	<div class="form-group">
	    	<%= f.label :label, "Label:" %><br />
	    	<input type="text" class="form-control" name="iso_concept_systems_node[label]">
	  	</div>
	  	<div class="form-group">
	    	<%= f.label :definition, "Definition:" %><br />
	    	<input type="text" class="form-control" name="iso_concept_systems_node[definition]">
	  	</div>
	  	<%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>