<h3>Biomedical Concept: <%= @cdiscBc.label %> <small>(<%= @cdiscBc.owner %>, V<%= @cdiscBc.version %>)</small></h3>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Identifer</th>
	    <th>Label</th>
	    <th>Owner</th>
	    <th>Version</th>
	    <th>Version Label</th>
	  </tr>
	  <tr>
	    <td><%= @cdiscBc.identifier %></td>
	    <td><%= @cdiscBc.label %></td>
	    <td><%= @cdiscBc.owner %></td>
	    <td><%= @cdiscBc.version %></td>
	    <td><%= @cdiscBc.versionLabel %></td>
	  </tr>
	</table>
	<h4>Items</h4>
	<table id="main" class="table table-striped table-bordered table-condensed">
	  	<thead>
	  		<tr>
				<% aliasEntry = @cdiscBc.properties.values[0] %>
					<% aliasEntry.each do |key, value| %>
			    	<th><%= key %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @cdiscBc.properties.each do |key, aliasEntry| %>
				<% if aliasEntry[:Enabled] %>
					<tr class="success">
				<% else %>
					<tr>
				<% end %>		
					<% aliasEntry.each do |key, value| %>
				    	<% if key.to_s == "Values"  %>
							<td>
								<% value.each do |innerValue| %>
								  	<% cCode = innerValue[:cCode] %>	
									<i><%= cCode %>: </i>
							    	<% clis = innerValue[:clis] %>	
								  	<% clis.each do |cliKey, cli| %>
							    		<%= cli.notation %> (<%= cli.id %>)
						  	  		<% end %>
					  	    		<br/>
					  	  		<% end %>
							</td>
				    	<% elsif key.to_s == "Collect" %>
							<td>
				    			<% if value %>
									Collect
							  	<% else %>
								  	Not Collected
								<% end %>
							</td>
						<% elsif key.to_s == "Enabled"  %>
							<td>
				    			<% if value %>
									Enabled
							  	<% else %>
								  	Disabled
								<% end %>
							</td>
						<% else %>
							<td><%= value %></td>
						<% end %>
					<% end %>
			  	</tr>
			<% end %>
		</tbody>
	</table>
</div>
