<%= stylesheet_link_tag    'shared/datatables_loading', 'shared/thesauri/thesauri_search_panel' %>
<%= javascript_include_tag 'shared/thesauri/search_panel' %>
<div class="table-cardstyle all-columns">

	<%= render partial: 'shared/help_dialogs/search_help' %>

	<center>
		<div id="search_active_info" class="font-light text-small" hidden>
			<img src="<%=image_path("loading.gif")%>" width="30"></img>	Search running in background...
			<button id="abort_button" class="btn red btn-xs">Abort</button>
			<hr>
		</div>

		<input id="overall_search" type="text" class="search-server overall" size="30" placeholder="Overall Search"></input>
		<button id="clear_button" class="btn btn-xs grey"><span class="icon-times text-tiny"></span> Clear All</button>
		<span id="search-help" class="icon-help text-small text-light clickable ttip"> <span class="ttip-text shadow-small font-light text-medium"> How to search </span></span>
	</center>

	<table id="searchTable" class="table striped table-row-clickable" style="width:100%">
		<thead>
			<tr>
	      <% columns.each do |item| %>
					<th class="th-xsmall" data-search="<%= (item.fetch(:searchable, true)) %>"><%=item[:name]%></th>
	      <% end %>
	  	</tr>
	    <tr class="bordered">
				<% columns.each do |item| %>
					<th>
					<% if (item.fetch(:searchable, true)) %>
						<input id="searchTable_csearch_<%=item[:id]%>" type="text" class="input-sm search-server" size="10" placeholder="Search"></input>
					<% end %>
					</th>
				<% end %>
	    </tr>
		</thead>
		<tbody>
		</tbody>
	  <tfoot>
			<tr class="bordered">
				<% columns.each do |item| %>
					<th><input id="searchTable_cfilter_<%=item[:id]%>" type="text" class="input-sm filter-local" size="10" placeholder="Filter"></input></th>
				<% end %>
	    </tr>
	  </tfoot>
	</table>
</div>
