<%= stylesheet_link_tag 'custom/wide_header_card', media: 'all' %>
<%= javascript_include_tag 'shared/tags' %>

<div class="col-md-12 card">
  <div class="card-content">
    <div class="h-outside-wrap">
      <div class="h-inner-wrap">
        <span class="circular-badge big <%= thesaurus_accent_color context.owner_short_name %> text-white"><%= badge %></span>
        <span class="text-centered text-normal text-light" style="margin-top: 5px;"><%= item.identifier %></span>
      </div>
      <div class="h-inner-wrap mid">
        <div class="text-large"> <%= item.notation %> </div>
        <div class="label-w-margin">Preferred term: <span class="font-light"> <%= item.preferred_term.label %> </span></div>
        <div class="label-w-margin">
          <%= render partial: "shared/bg_labels_inline", :locals => {:name => "Synonym(s)", :items => item.synonym.map{|x| x.label} } %>
        </div>
        <div class="definition-label label-w-margin">
          Definition: <span class="font-light"><%= item.definition %> </span>
        </div>
        <%= render layout: "shared/show_more", :locals => {:size => "tiny"} do %>
          <%= render partial: "shared/bg_labels_inline", :locals => {:name => "Tags", :items => item.filtered_tag_labels(context)} %>
        <% end %>
      </div>
      <div class="h-inner-wrap">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag 'colorCodeTagsOutline(".show-more-wrap", ".bg-label");' %>
