<%= javascript_tag 'setPageTitle("Imports")' %>
<%= javascript_include_tag 'background_index'%>
<%= javascript_include_tag 'standard_datatable' %>
<% first_level_breadcrumb (id_to_type('imports')) %>
<h3>Index: Imports</h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
	  	<tr>
	    	<th class="fit"></th>
        <th class="col-sm-1">Owner</th>
	    	<th class="col-sm-2">Identifier</th>
        <th class="col-sm-3">Input File</th>
        <th class="fit">Complete</th>
	    	<th class="fit">Succesful</th>
        <th class="fit">Auto Load</th>
        <th class="fit"></th>
        <th class="fit"></th>
	  	</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
	    	<tr>
					<td><%= item.id %></td>
          <td><%= item.owner %></td>
          <td><%= item.identifier %></td>
          <td><%= item.input_file %></td>
	    		<%= true_false_glyphicon(item.complete) %>
          <%= true_false_glyphicon(item.success) %>
	    		<%= true_false_glyphicon(item.auto_load) %>
          <td>
            <%= link_to "Show", import_path(item), :class => "btn btn-xs " %>
          </td>
          <td>
            <%= render partial: "shared/buttons/delete", locals: {link_path: import_path(item), small: true,
              id: "delete_button_#{item.id}", label: "Delete"} %>
          </td>
	    	</tr>
			<% end %>
	  </tbody>
	</table>
  <%= render partial: "shared/buttons/delete", locals: {link_path: destroy_multiple_imports_path({imports: {items: "all"}}), small: false,
    id: "clear_button", label: "Delete All"} %>
</div>
