<%= javascript_tag 'setPageTitle("Imports")' %>
<% first_level_breadcrumb (:imports) %>
<%= javascript_include_tag 'background_index', 'standard_datatable' %>

<div class="row">
	<%= render layout: "shared/simple_header_card_general", :locals => {badge: "icon-import", header_title: "",
		main_text: "Current Imports", sub_texts: "Showing all running imports." } do %>

			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: list_imports_path, id: "close",
  			icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>

	<% end %>
</div>

<div class="row centered">
	<div class="col-md-10 card wide">
	<div class="card-header">
		Index: Imports
	</div>
	<div class="card-content table-cardstyle">
		<table id="main" class="table table-striped table-bordered table-condensed">
			<thead>
		  	<tr>
		    	<th class="fit"></th>
	        <th>Owner</th>
		    	<th>Identifier</th>
	        <th>Input File</th>
	        <th class="fit">Complete</th>
		    	<th class="fit">Succesful</th>
	        <th class="fit">Auto Load</th>
	        <th class="fit ignore"></th>
	        <th class="fit ignore"></th>
		  	</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
		    	<tr>
						<td><%= item.id %></td>
	          <td><%= item.owner %></td>
	          <td><%= item.identifier %></td>
	          <td><%= item.input_file %></td>
		    		<%= true_false_glyphicon(item.complete) %>
	          <%= true_false_glyphicon(item.success) %>
		    		<%= true_false_glyphicon(item.auto_load) %>
	          <td>
							<a href="<%= import_path(item) %>" class="btn btn-xs">Show</a>
	          </td>
	          <td>
							<button class="btn red btn-xs" id="delete_button_<%=item.id%>"
									onclick="new ConfirmationDialog(function(){$('#delete_link_<%=item.id%>').click()}, {dangerous: true}).show();">
								Delete
							</button>
							<%= link_to "", import_path(item), method: :delete, id: "delete_link_#{item.id}" %>
	          </td>
		    	</tr>
				<% end %>
		  </tbody>
		</table>

		<button id="clear_button" class="btn medium red" onclick="new ConfirmationDialog(function(){$('#clear_link').click()}, {dangerous: true}).show();">
			<span class="icon-trash"></span> Delete all
		</button>
		<%= link_to "", destroy_multiple_imports_path({imports: {items: "all"}}), method: :delete, id: "clear_link" %>
	</div>
</div>
