<%= javascript_tag 'setPageTitle("Import")' %>
<% first_level_breadcrumb (:imports) %>

<div class="row">
	<%= render layout: "shared/simple_header_card_general", :locals => {badge: "icon-import", header_title: "",
		main_text: "Import Centre", sub_texts: "Load data into the MDR." } do %>

    <div class="actions-wrap">
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: imports_path, id: "imports_button",
        icon: "icon-list-ul", btn_text: "Current Imports", dt_toggle: "", disabled: false } %>
  		<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "javascript: history.back()", id: "close",
  			icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>

	<% end %>
</div>

<div class="row centered">
  <div class="col-md-11 card wide">
      <div class="card-header">
        Import Options
      </div>
      <div class="card-content">
        <div class="sub-card-wrap eq">
          <% @items.each_with_index do |item, index| %>
              <%= render partial: "shared/import/list_panel", locals: {item: item} %>
          <% end %>
        </div>
  </div>
</div>
