<h1>New Classification</h1>
<div class="col-md-10">
		<%= form_for @classification, :url => iso11179_concept_systems_iso11179_classifications_path do |f| %>
		<div class="form-group">
			<%= f.label :label, "label"%><br />
			<%= f.text_field :label %>
    </div>
		<%= hidden_field_tag "concept_system_id", @conceptSystem.id %>
		<%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>