<%= javascript_include_tag 'standard_datatable' %>
<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Show:", :item => @sdtm_model_domain} %>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
	  		<tr>
	    		<th>Identifer</th>
	    		<th>Label</th>
	    		<th>Owner</th>
	    		<th>Internal Version</th>
	    		<th>Version</th>
	  		</tr>
		</thead>
		<tbody>
	  		<tr>
	    		<td><%= @sdtm_model_domain.identifier %></td>
			    <td><%= @sdtm_model_domain.label %></td>
			    <td><%= @sdtm_model_domain.owner %></td>
			    <td><%= @sdtm_model_domain.semantic_version %></td>
			    <td><%= @sdtm_model_domain.versionLabel %></td>
	  		</tr>
		</tbody>
	</table>
	<h4>Variables</h4>
	<table id="main" class="table table-striped table-bordered table-condensed">
	  	<thead>
			<tr>
		  		<th>Ordinal</th>
		  		<th>Name</th>
		  		<th>Label</th>
		  		<th>Datatype</th>
		  		<th>Description</th>
		  		<th>Role</th>
		  		<th>Sub Role</th>
		  	</tr>
		</thead>
		<tbody>
			<% @sdtm_model_domain.children.each_with_index do |item, index| %>
		  	<tr>
		    	<% variable = @variables[index] %></td>
		    	<td><%= item.ordinal %></td>
		    	<td><%= variable.name %></td>
		  		<td><%= item.label %></td>
		  		<td><%= variable.datatype_label %></td>
		  		<td><%= variable.description %></td>
		  		<td><%= variable.classification_label %></td>
		  		<td><%= variable.sub_classification_label %></td>
		  	</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "Export JSON", export_json_sdtm_model_domain_path(:id => @sdtm_model_domain.id, :namespace => @sdtm_model_domain.namespace), :class => "btn btn-info" %>
	<%= link_to "Export Turtle", export_ttl_sdtm_model_domain_path(:id => @sdtm_model_domain.id, :namespace => @sdtm_model_domain.namespace), :class => "btn btn-info" %>
	<br/><br/>
</div>
