<%= javascript_tag 'setPageTitle("Show SDTM IG: '+@sdtm_ig.has_identifier.identifier+' ('+@sdtm_ig.semantic_version+')")' %>

<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= javascript_pack_tag 'sdtm_igs/show' %>

<% third_level_breadcrumb(:sdtm_igs, @sdtm_ig, @close_path) %>

<div class="row">
  <%= render layout: "shared/headers/header_managed_item", :locals => {:item => @sdtm_ig, :badge => "icon-sdtm"} do %>
    <div class="abcions-wrap">
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>

<div class="row">
  <div id="show-panel" class="col-md-12 card wide">
    <div class="card-header">
      Show: SDTM IG
    </div>
    <div class="card-content">
      <%= render partial: "shared/sdtm_igs/show_panel", locals: { show_url: @show_path } %>
    </div>
  </div>
</div>

