<%= stylesheet_link_tag    'd3_tree', 'biomedical_concepts_editor', 'panel_collapse', 'spinner' %>
<%= javascript_include_tag 'd3_tree', 'd3_editor_new', 'biomedical_concepts_editor', 'unload', 'field_validation', 'token_timer' %>
<%= javascript_include_tag 'panel_collapse', 'shared/tags', 'thesauri_field_editor', 'spinner', 'ajax_requests' %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<% third_level_managed_item_breadcrumb(@bc, "Biomedical Concepts", biomedical_concepts_path, @close_path, "Edit:") %>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Edit:", :item => @bc} %>
  </div>
</div>
<%= render partial: "shared/biomedicalConceptEditor" %>
<% empty_string = "" %>
<input type="hidden" id="token_1" value="<%= @token.id %>">
<input type="hidden" id="token_2" value="<%= empty_string %>">
<input type="hidden" id="token_3" value="<%= empty_string %>">
<input type="hidden" id="token_4" value="<%= empty_string %>">
<input type="hidden" id="token_5" value="<%= empty_string %>">
<input type="hidden" id="token_6" value="<%= empty_string %>">
<input type="hidden" id="token_7" value="<%= empty_string %>">
<input type="hidden" id="token_8" value="<%= empty_string %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<input type="hidden" id="close_path" value="<%= @close_path %>">
<input type="hidden" id="bc_id" value="<%= @bc.id %>">
<input type="hidden" id="bc_namespace" value="<%= @bc.namespace %>">
