<%= javascript_tag 'setPageTitle("History: '+@identifier+'")' %>
<%= javascript_include_tag 'biomedical_concepts/history' %>
<%= javascript_tag "var history_data_path = '#{history_biomedical_concepts_path}',
 												url_rs_path = '#{iso_registration_states_v2_path("rs_id")}',
												strict_params = 'biomedical_concept',
												identifier = '#{@identifier}',
												scope_id = '#{@scope_id}';" %>

<% second_level_breadcrumb(:biomedical_concepts, @scope_id, @identifier) %>

<div class="row">
  <%= render layout: "shared/thesauri/simple_header_card", :locals => {badge: "icon-biocon", item: @bc, header_title: "Item History", with_tags: false} do %>
    <div class="actions-wrap">
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
	<% end %>
</div>

<div class="row centered">
	<div class="col-md-11 card table-cardstyle">
		<%= render partial: "shared/history_panel", locals: {title: "Version History of '#{@identifier}'"} %>
	</div>
</div>
