<%= javascript_include_tag 'biomedical_concepts/index', 'shared/index_panel' %>
<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= javascript_tag "var bcsIndexUrl = '#{biomedical_concepts_path}';" %>

<% first_level_breadcrumb (:biomedical_concepts) %>

<div class="row">
  <%= render partial: "shared/simple_header_tiny", :locals => {badge: "icon-biocon",
    main_text: "Biomedical Concepts",
    sub_text: "Browse all BCs in the system." } %>
</div>

<div class="row">
	<div class="col-md-12 card wide">
      <div class="card-header">Index</div>
    <div class="card-content table-cardstyle">
			<div class="half-blocks-wrap">
				<div class="font-light half-block">
					Below is the list of all <span class="text-accent-1-dark font-regular">CDISC</span> and <span class="text-link font-regular">sponsor</span> owned Biomedical Concepts.
					Use the Search bar to find the BC you are looking for. <br/>
					To see its respective History page, click on 'History'.
				</div>
				<div class="actions-wrap half-block">
					<% if policy(BiomedicalConcept).new? %>
          <a href="<%= new_biomedical_concept_path %>" class="btn medium green" id="new-bc-button" data-toggle="modal">
            <span class="icon-plus text-tiny"></span>&nbsp;
            New BC
          </a>
					<% end %>
					<% if policy(BiomedicalConcept).edit? %>
						<a href="<%= edit_multiple_biomedical_concepts_path %>" class="btn medium light" id="edit-bcs-button" data-toggle="modal">
							<span class="icon-edit text-tiny"></span>&nbsp;
							Edit Multiple BCs
						</a>
					<% end %>
				</div>
			</div>
			<hr>
			<div class="table-width-wrapper">
	      <table id="index" class="table table-striped table-bordered table-condensed">
	        <thead>
	          <tr>
	            <th class="th-xsmall fit">Owner</th>
							<th class="th-medium fit">Identifier</th>
							<th>Label</th>
							<th class="fit"></th>
	          </tr>
	        </thead>
	        <tbody>
	        </tbody>
	      </table>
			</div>
		</div>
  </div>
</div>
