<% second_level_breadcrumb("Biomedical Concept", biomedical_concepts_path, "New") %>
<h3>New Biomedical Concept:</h3>
<div class="col-md-3">
	<%= form_for BiomedicalConcept.new do |f| %>
  	<div class="form-group">
    	<%= f.label :identifier, "Identifier:" %><br />
    	<%= f.text_field :identifier ,class: "form-control" %>
  	</div>
  	<div class="form-group">
    	<%= f.label :label, "Label:" %><br />
    	<%= f.text_field :label, class: "form-control" %>
  	</div>
  	<%= f.hidden_field :bct_id, :value => @bct.id %>  
 		<%= f.hidden_field :bct_namespace, :value => @bct.namespace %>  
		<%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>
