<%= javascript_include_tag 'standard_datatable' %>
<% third_level_managed_item_breadcrumb(@bc, "Biomedical Concepts", biomedical_concepts_path, @close_path, "Show:") %>
<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Show:", :item => @bc} %>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Identifer</th>
	    <th>Label</th>
	    <th>Owner</th>
	    <th>Status</th>
	    <th>Version</th>
	    <th>Version Label</th>
	    <th></th>
	  </tr>
	  <tr>
	    <td><%= @bc.identifier %></td>
	    <td><%= @bc.label %></td>
	    <td><%= @bc.owner %></td>
	    <td><%= @bc.registrationState.registrationStatus %></td>
	    <td><%= @bc.semantic_version %></td>
	    <td><%= @bc.versionLabel %></td>
	    <td><%= link_to "Impact", impact_iso_managed_index_path(:id => @bc.id, :namespace => @bc.namespace), :class => "btn btn-info btn-xs" %></td>
	  </tr>
	</table>
	<h4>Items</h4>
	<table id="main" class="table table-striped table-bordered table-condensed">
	  	<thead>
	  		<tr>
				<th>Alias</th>
				<th>Question Text</th>
				<th>Prompt Text</th> 
				<th>Enabled</th> 
				<th>Collect</th> 
				<th>Datatype</th> 
				<th>Format</th> 
				<th>Terminology</th> 
			</tr>
		</thead>
		<tbody>
			<% @items[:children].each do |item| %>
				<tr>
					<td><%= item[:alias] %></td>
					<td><%= item[:question_text] %></td>
					<td><%= item[:prompt_text] %></td>
					<%= true_false_glyphicon(item[:enabled]) %>
					<%= true_false_glyphicon(item[:collect]) %>
					<td><%= item[:simple_datatype] %></td>
					<td><%= item[:format] %></td>
					<td>
						<% item[:children].each do |child| %>
							<% cli = child[:subject_data] %>
							<%= cli[:notation] %> (<%= cli[:identifier] %>)<br/>
						<% end %>
					</td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	<% if policy(BiomedicalConcept).clone? %>
		<%= link_to "Clone", clone_biomedical_concept_path(:id => @bc.id, :biomedical_concept => { :namespace => @bc.namespace }), :class => "btn btn-primary" %>
	<% end %>
	<% disabled = true %>
	<% if policy(BiomedicalConcept).upgrade? && !disabled %>
		<% if @bc.edit? and @bc.latest? %>
			<%= link_to "Upgrade", upgrade_biomedical_concept_path(:id => @bc.id, :biomedical_concept => { :namespace => @bc.namespace }), :class => "btn btn-primary" %>
		<% end %>
	<% end %>
	<%= link_to "Export JSON", export_json_biomedical_concept_path(:id => @bc.id, :biomedical_concept => { :namespace => @bc.namespace }), :class => "btn btn-info" %>
	<%= link_to "Export Turtle", export_ttl_biomedical_concept_path(:id => @bc.id, :biomedical_concept => { :namespace => @bc.namespace }), :class => "btn btn-info" %>
	<h4>Terminology References</h4>
	<table id="secondary" class="table table-striped table-bordered table-condensed">
	  <thead>
	  	<tr>
				<th>Identifier</th>
				<th>Submission Value</th>
				<th>Owner</th> 
				<th>Identifier</th> 
				<th>Version</th> 
				<th>Version Label</th> 
			</tr>
		</thead>
		<tbody>
			<% @references.each do |item| %>
				<tr>
					<td><%= item[:identifier] %></td>
					<td><%= item[:notation] %></td>
					<td><%= item[:parent][:registration_state][:registration_authority][:namespace][:shortName] %></td>
					<td><%= item[:parent][:scoped_identifier][:identifier] %></td>
					<td><%= item[:parent][:scoped_identifier][:semantic_version] %></td>
					<td><%= item[:parent][:scoped_identifier][:version_label] %></td>
			  </tr>
			<% end %>
		</tbody>
	</table>
	
</div>
