<% content_for :page_title do %> <%= "Build: #{@study.has_identifier.identifier} (#{@study.semantic_version}) "%> <% end %>

<%= javascript_pack_tag 'studies/build' %>
<%= javascript_tag "let studyEmpty = #{@study_empty};" %>

<% third_level_breadcrumb(:studies, @study, @close_path) %>

<div class="row">
  <%= render layout: "shared/studies/study_header", :locals => {:item => @study, :badge => "icon-study"} do %>

    <div class="actions-wrap">

      <%= render partial: "shared/buttons/timeout" %>
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>

    </div>

  <% end %>
</div>

<div class="row">
	<div class="col-md-12 card wide">
    <div class="card-header">
      Study Build
    </div>
    <div class="card-content">
      <%= render partial: "shared/studies/study_build_panel" %>
  	</div>
	</div>
</div>

<%= render partial: "shared/items_selector/items_selector_modal", :locals => {id: "1"} %>
<%= render partial: "shared/items_selector/items_selector_modal", :locals => {id: "2", with_refs: false} %>
<%= render partial: "shared/studies/new_timepoint_modal" %>
