<% content_for :page_title do %> <%= "Build - #{ @study_build_tabs[@active_tab][:title] }: #{@study.has_identifier.identifier} (#{@study.semantic_version}) "%> <% end %>

<%= stylesheet_link_tag 'shared/layouts/tabs_layout' %>
<%= javascript_pack_tag 'studies/build' %>

<%= javascript_tag "let tokenTimerId = '#{@edit.token.id}',
                        tokenTimerWarning = '#{current_user.edit_lock_warning}';"%>

<% third_level_breadcrumb(:studies, @study, @close_path) %>

<div class="row">
  <%= render layout: "shared/headers/header_managed_item", :locals => { item: @study, badge: "icon-study" } do %>

    <div class="actions-wrap">

      <%= render partial: "shared/buttons/timeout" %>
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>

    </div>

  <% end %>
</div>

<div class="row">
	<div class="col-md-12 card wide">

    <div class="card-header">
      Study Build
    </div>

    <div class="card-content">
      <%= render partial: "shared/studies/build/build_panel" %>
  	</div>

	</div>
</div>