<h1>Variable <%= @variable.name %></h1>
<div class="col-md-10">
	<h2>Details</h2>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
	  		<th>Ordinal</th>
	        <td><%= @variable.ordinal %></td>
		</tr>
	    <tr>
			<th>Name</th>
	    	<td><%= @variable.name %></td>
		</tr>
	    <tr>
			<th>Description</th>
	       	<td><%= @variable.description %></td>
		</tr>
	    <tr>
			<th>Datatype</th>
	    	<td><%= @variable.datatype %></td>
		</tr>
	    <tr>
			<th>Label</th>
	    	<td><%= @variable.label %></td>
		</tr>
	    <tr>
			<th>Role</th>
	   		<td><%= @variable.role %></td>
		</tr>
	    <tr>
			<th>Core</th>
	    	<td><%= @variable.core %></td>
		</tr>
	    <tr>
			<th>Default Comment</th>
	    	<td><%= @variable.defaultComment %></td>
		</tr>
	    <tr>
			<th>Default Comment Set</th>
	    	<td><%= @variable.defaultCommentSet %></td>
		</tr>
	    <tr>
			<th>Supplemental Qualifier</th>
	    	<td><%= @variable.supplementalQualifier %></td>
		</tr>
	    <tr>
			<th>Used</th>
	    	<td><%= @variable.used %></td>
		</tr>
	    <tr>
			<th>Origin</th>
	    	<td><%= @variable.origin %></td>
		</tr>
	    <tr>
			<th>Notes</th>
	    	<td><%= @variable.notes %></td>
		</tr>
	    <tr>
			<th>Length</th>
	    	<td><%= @variable.length %></td>
		</tr>
	    <tr>
			<th>Schema Data Type</th>
	  		<td><%= @variable.schemaDatatype %></td>
		</tr>
	</table>
</div>