<%= javascript_tag 'setPageTitle("Changes across versions: '+@ct.has_identifier.identifier+'")' %>
<%= javascript_include_tag 'thesauri/changes' %>
<%= javascript_tag "var url_path = '#{changes_data_thesauri_path(@ct)}';" %>
<%= javascript_tag "var column_count = '#{@version_count}';" %>
<%= javascript_tag "var pdfLoadingDur = 30,
                        loadingMessage = 'Generating report...',
                        errTimeoutMessage = 'Error occurred while generating the report.',
                        redirectPath = '"+changes_report_thesauri_path(@ct, format: :pdf)+"';" %>

<% second_level_breadcrumb(id_to_type('cdisc_terms'), @ct.scope.id, @ct.has_identifier.identifier, "Changes: ") %>

<div class="row">
  <%= render layout: "shared/thesauri/simple_header_card", :locals => {badge: "icon-terminology", item: @ct, header_title: "Changes across versions"} do %>
    <div class="actions-wrap">
      <div onclick="showFullPageSpinnerWithRedirect(pdfLoadingDur, loadingMessage, errTimeoutMessage, redirectPath);">
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#", id: "report",
        icon: "icon-file", btn_text: "PDF Report", dt_toggle: "", disabled: false } %>
      </div>
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "javascript: history.back()", id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render partial: "shared/thesauri/changes_panel_v2", :locals => {title: "Changes", info: "All changes across versions.", column_count: @version_count, links: @links} %>
</div>
