<%= javascript_include_tag 'thesauri/edit', 'shared/timer', 'unload_v2'%>
<%= javascript_tag 'setPageTitle("Edit Terminology: '+@thesaurus.has_identifier.identifier+' ('+@thesaurus.semantic_version+')")' %>
<%= javascript_tag "var add_child_path = '#{add_child_thesauri_path(@thesaurus)}';" %>
<%= javascript_tag "var children_path = '#{children_thesauri_path(@thesaurus)}';" %>
<%= javascript_tag "var update_path = '/thesauri/managed_concepts/:id';" %>
<%= javascript_tag "var parent_id = '#{@thesaurus.id}';" %>
<% third_level_breadcrumb(:thesauri, @thesaurus, @close_path) %>
<div class="row">
  <%= render layout: "shared/iso_managed/managed_header_card", :locals => {:item => @thesaurus, :badge => "icon-terminology"} do %>
    <div class="actions-wrap">
      <!-- TIMER BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "#", id: "timeout",
        icon: "icon-lock", btn_text: "", dt_toggle: "", disabled: false } %>
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: release_select_thesauri_path(@thesaurus), id: "rel-sel",
        icon: "icon-list-ul", btn_text: "Release select", dt_toggle: "", disabled: false } %>
      <!-- RETURN BUTTON -->
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/thesauri/editor_panel", :locals => {title: "Code Lists"} %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render partial: "shared/thesauri/new_panel", :locals => {klass: Thesaurus::ManagedConcept, title: "New Code List", prefix: @parent_identifier} %>
  </div>
</div>
<input type="hidden" id="parameters_key" value="thesauri">
<input type="hidden" id="edit_lock_token" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<input type="hidden" id="close_path" value="<%= @close_path %>">
