<%= javascript_tag 'setPageTitle("History: '+@identifier+'")' %>
<%= javascript_include_tag 'thesauri/history' %>
<%= javascript_tag "var url_path = '#{history_thesauri_index_path}';" %>
<%= javascript_tag "var url_rs_path = '#{iso_registration_states_v2_path("rs_id")}';" %>
<%= javascript_tag "var comments_url_path = '#{comments_iso_managed_index_path({iso_managed: {identifier: @identifier, scope_id: @scope_id}})}';" %>
<%= javascript_tag "var strict_params = 'thesauri';" %>
<%= javascript_tag "var identifier = '#{@identifier}';" %>
<%= javascript_tag "var scope_id = '#{@scope_id}';" %>
<% second_level_breadcrumb(:thesauri, @scope_id, @identifier) %>
<% @close_path = thesauri_index_path %>

<div class="row">
	<%= render layout: "shared/headers/header_item_simple", :locals => {badge: "icon-terminology", item: @thesaurus, header_title: "Item History"} do %>
    <div class="actions-wrap">
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
	<% if(@thesaurus.get_referenced_thesaurus != nil) %>
		<%= render partial: "shared/cdisc_terms/cdisc_ver_select_modal" %>
	<% end %>

</div>
<div class="row centered">
	<div class="col-md-11 card table-cardstyle">
		<%= render partial: "shared/history_panel", locals: {title: "Version History of '#{@identifier}'"} %>
	</div>
</div>
<div class="row centered">
	<div class="col-md-11 card wide table-cardstyle">
		<%= render partial: "shared/iso_managed/comments_panel" %>
	</div>
</div>

<%= render partial: "shared/thesauri/new_terminology", :locals => {title: "Clone Terminology", img_path: "icons/copy_th"} %>

<%= render partial: "shared/iso_managed/managed_items_select_modal", :locals => {type: :thesauri, 
	description: "Select one Terminology version with which to compare. It is recommended to select only from other versions of the item you are comparing.", select_multiple: false} %>
