<%= javascript_tag 'setPageTitle("History: '+@identifier+'")' %>
<%= javascript_include_tag 'thesauri/history' %>
<%= javascript_tag "var url_path = '#{history_thesauri_index_path}';" %>
<%= javascript_tag "var comments_url_path = '#{comments_iso_managed_index_path({iso_managed: {identifier: @identifier, scope_id: @scope_id}})}';" %>
<%= javascript_tag "var strict_params = 'thesauri';" %>
<%= javascript_tag "var identifier = '#{@identifier}';" %>
<%= javascript_tag "var scope_id = '#{@scope_id}';" %>
<% index_label = "Terminology" %>
<% index_path = thesauri_index_path %>
<% second_level_breadcrumb(index_label, index_path, @identifier) %>
<div class="row">
	<div class="col-md-12 card">
		<%= render partial: "shared/history_panel", locals: {title: "History: #{@identifier}"} %>
	</div>
</div>
<div class="row">
	<div class="col-md-12 card">
		<%= render partial: "shared/iso_managed/comments_panel" %>
	</div>
</div>
