<%= stylesheet_link_tag    'd3_graph', 'spinner' %>
<%= javascript_include_tag 'd3_graph', 'colour', 'spinner' %>
<%= javascript_include_tag 'iso_managed_list_panel', 'impact_analysis_graph_panel', 'impact_analysis', 'thesauri_impact', 'thesaurus_concept_list_panel' %>
<h3>Impact Analysis: <%= @thesaurus.label %></h3>
<div>
  <%= javascript_tag "var url = \"#{@start_path}\";" %>
  <%= javascript_tag "var id = \"#{@thesaurus.id}\";" %>
  <%= javascript_tag "var namespace = \"#{@thesaurus.namespace}\";" %>
  <%= javascript_tag "var maxLevel = #{APP_CONFIG['max_impact_hops']};" %>
</div>
<div class="row">
	<div class="col-md-7">
  	<%= render partial: "shared/iso_managed_list_panel", :locals => { :title => "Items Impacted" } %>
  	<%= render partial: "shared/thesaurus_concept_list_panel", :locals => { :title => "Changed Terminology" } %>
  	<div class="btn-group" role="group" aria-label="First group">
      <button id="processing" type="button" class="btn ">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <button type="button" id="close" class="btn ">Close</button>
		</div>
		<%= link_to "Report", impact_report_thesauri_index_path(:id => @thesaurus.id, :namespace => @thesaurus.namespace, :format => 'pdf'), :class => "btn ", :target => "_blank" %>
  </div>
  <div class="col-md-5">
		<%= render partial: "shared/impact_graph_panel" %>
	</div>
</div>

