<%= stylesheet_link_tag    'thesauri_search_new', 'spinner' %>
<%= javascript_include_tag 'thesauri_search_new', 'spinner' %>
<% second_level_breadcrumb("Terminology", thesauri_index_path, "Search Current") %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<style>
	#searchTable { table-layout: fixed; }
  table.dataTable.table-condensed > thead > tr > th {
    padding-right: 5px;
  }
</style>
<h3>Search: All Current Terminology</h3>
<div class="col-md-12">
	<%= render partial: "shared/termSearchCurrent" %>
	<%= link_to "Close", @close_path, :class => "btn btn-primary" %>
</div>