<%= javascript_tag 'setPageTitle("Search Terminology: '+@thesaurus.has_identifier.identifier+' ('+@thesaurus.semantic_version+')")' %>
<%= javascript_include_tag 'thesauri/search' %>
<%= javascript_tag "var url_path = '#{search_thesauri_path(@thesaurus)}';" %>
<% third_level_breadcrumb(id_to_type('thesauri'), @thesaurus, @close_path) %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<div class="card">
    <%= render partial: "shared/stdInstanceTitlePanel", :locals => {:title => "Search:", :item => @thesaurus} %>
  <div class="card-content">
    <div class="col-md-12">
      <%= render partial: "shared/thesauri/search" %>
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  </div>
</div>
