<%= javascript_include_tag 'thesauri/search_current' %>
<%= javascript_tag "var url_path = '#{search_current_thesauri_index_path}';" %>
<% second_level_breadcrumb("Terminology", thesauri_index_path, "Search Current") %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search: All Current Terminology</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <%= render partial: "shared/thesauri/search" %>
      <%= render partial: "shared/buttons/close_v2", :locals => {link_path:  @close_path, id: "close", small: false} %>
    </div>
  </div>
</div>