<%= javascript_include_tag 'thesauri/search' %>
<% third_level_managed_item_breadcrumb(@thesaurus, "Terminology", thesauri_index_path, @close_path, "Search:") %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<style>
	#searchTable { table-layout: fixed; }
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= render partial: "shared/stdInstanceTitlePanel", :locals => {:title => "Search:", :item => @thesaurus} %>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <%= render partial: "shared/thesauri/search", :locals => {current: @thesaurus.current?, single: true, id: @thesaurus.id, namespace: @thesaurus.namespace} %>
      <%= render partial: "shared/buttons/close_v2", :locals => {link_path:  @close_path, id: "close", small: false} %>
    </div>
  </div>
</div>
