<%= stylesheet_link_tag    'thesauri_search_new' %>
<%= javascript_include_tag 'thesauri_search_new' %>
<% third_level_managed_item_breadcrumb(@thesaurus, "Terminology", thesauri_index_path, @close_path, "Search:") %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<style>
	#searchTable { table-layout: fixed; }
</style>
<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Search:", :item => @thesaurus} %>
<div class="col-md-12">
	<% if @thesaurus.current? %>
		<button id="notepadAdd" class="btn btn-primary" type="button">
  		Notepad+ <span class="badge"><%= @items.count %></span>
		</button>
	<% end %>
	<h4></h4>
	<table id="searchTable" class="table table-striped table-bordered table-condensed">
  	<thead>
			<tr>
		    <th>Code List</th>
		    <th>Item</th>
		    <th>Notation</th>
		    <th>Preferred Term</th>
		    <th>Synonym</th>
		    <th>Definition</th>
	  	</tr>
		</thead>
		<tbody>
		</tbody>
		<tfoot>
      <tr>
		    <th>CL</th>
		    <th>Item</th>
		    <th>Notation</th>
		    <th>Preferred Term</th>
		    <th>Synonym</th>
		    <th>Definition</th>
      </tr>
  	</tfoot>
	</table>
	<%= link_to "Close", @close_path, :class => "btn btn-primary" %>
</div>
<input type="hidden" id="thesaurus_current" value="<%= @thesaurus.current? %>">
<input type="hidden" id="thesaurus_single" value="<%= true %>">
<input type="hidden" id="thesaurus_id" value="<%= @thesaurus.id %>">
<input type="hidden" id="thesaurus_namespace" value="<%= @thesaurus.namespace %>" %>	