<%= javascript_tag 'setPageTitle("Search Terminology: '+@thesaurus.has_identifier.identifier+' ('+@thesaurus.semantic_version+')")' %>
<%= javascript_include_tag 'shared/show_more', 'thesauri/search' %>
<%= javascript_tag "var url_path = '#{search_thesauri_path(@thesaurus)}';" %>
<% third_level_breadcrumb(:thesauri, @thesaurus, @close_path) %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>

<div class="row">
	<%= render layout: "shared/headers/header_managed_item", :locals => {:item => @thesaurus, :badge => "icon-terminology"} do %>
		<div class="actions-wrap">
			<%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
				icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
		</div>
	<% end %>
</div>

<div class="row">
	<div class="col-md-12 card">
	  <div class="card-header">
			Search Terminology
		</div>
	  <div class="card-content">
	    <div class="col-md-12">
				<%= render partial: "shared/thesauri/search_panel", :locals => {columns: [{name: "Code List", id: "parent_identifier"}, {name: "Code List Name", id: "parent_label"},
				{name: "Item", id: "identifier"}, {name: "Submission Value", id: "notation"}, {name: "Preferred Term", id: "preferred_term"}, {name: "Synonym", id: "synonym"},
				{name: "Definition", id: "definition"}, {name: "Tags", id: "tags"}]} %>
	    </div>
	  </div>
	</div>
</div>
