<%= javascript_include_tag 'thesauri/show' %>
<%= javascript_tag "var url_path = '#{thesauri_path(@ct)}';" %>

<% third_level_managed_item_breadcrumb(@ct, "Terminology", thesauri_index_path, @close_path, "Show:") %>
<div class="row">
  <!-- RENDER CARD CONTENTS -->
  <%= render layout: "shared/iso_managed/managed_header_card", :locals => {:item => @ct, :badge => "CT"} do %>
    <!-- BUTTONS WRAP -->
    <div class="actions-wrap">
    <!-- BUTTON EXPORT CSV -->
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: export_csv_thesauri_path(@ct), id: "export-csv",
      icon: "icon-file", btn_text: "Export CSV", dt_toggle: "", disabled: false } %>
    <!-- RETURN BUTTON -->
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 card">
    <%= render partial: "shared/iso_managed/managed_children_panel", :locals => {:title => "Code Lists"} %>
  </div>
</div>
