<%= javascript_include_tag 'thesauri/changes' %>
<%= javascript_tag "var url_path = '#{submission_data_thesauri_path(@ct)}';" %>
<%= javascript_tag "var column_count = '#{@version_count}';" %>
<% second_level_breadcrumb("#{@ct.scoped_identifier}", @close_path, "Changes") %>
<div class="row">
  <%= render layout: "shared/thesauri/simple_header_card", :locals => {badge: "icon-terminology", item: @ct, header_title: "Submission value changes"} do %>
    <div class="actions-wrap">
    <!-- BUTTON EXPORT PDF -->
    <div onclick="showFullPageSpinner(30, 'Generating report...', 'Error occurred while generating the report.');">
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: changes_report_thesauri_path(@ct, format: :pdf), id: "report",
      icon: "icon-file", btn_text: "PDF Report", dt_toggle: "", disabled: false } %>
    </div>
    <!-- RETURN BUTTON -->
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: "javascript: history.back()", id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>
<div class="row">
  <%= render partial: "shared/thesauri/changes_panel_v2", :locals => {title: "Submission value changes", info: "Set of submission value changes across versions.", column_count: @version_count, links: @links} %>
</div>
