<%= stylesheet_link_tag    'd3local' %>
<%= javascript_include_tag 'd3local' %>
<script id="jsonData" type="text/json">
    <%= raw @thesaurus.d3.to_json %>
</script>
<%= javascript_include_tag 'thesauri_viewer' %>
<div class="col-md-9" style="padding-right:20px; border-right: 1px solid #ccc;">
    <%= render partial: "shared/stdInstanceTitle", :locals => {:title => "View:", :item => @thesaurus} %>
    <div style="height: 800px;" id="d3">
        <!-- D3 Area -->
    </div>
</div>
<div class="col-md-3">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Thesauri Details</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td><strong>Label:</strong> <%= @thesaurus.label %></td>
                        </tr>
                        <tr>
                            <td><strong>Identifier:</strong> <%= @thesaurus.identifier %></td>
                        </tr>
                        <tr>
                            <td><strong>Version Label:</strong> <%= @thesaurus.versionLabel %></td>
                        </tr>
                        <tr>
                            <td><strong>Version:</strong> <%= @thesaurus.version %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Concept</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td><strong>Label:</strong></td>
                            <td id="conceptLabel"></td>
                        </tr>
                        <tr>
                            <td><strong>Identifier:</strong></td>
                            <td id="conceptId"></td>
                        </tr>
                        <tr>
                            <td><strong>Notation:</strong></td>
                            <td id="conceptNotation"></td>
                        </tr>
                        <tr>
                            <td><strong>Definition:</strong></td>
                            <td id="conceptDefinition"></td>
                        </tr>
                        <tr>
                            <td><strong>Synonym:</strong></td>
                            <td id="conceptSynonym"></td>
                        </tr>
                        <tr>
                            <td><strong>Preferred Term:</strong></td>
                            <td id="conceptPreferredTerm"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%= link_to "Close", thesauri_index_path, :class => "btn btn-primary" %>
    <button id="toggleButton" type="button" class="btn btn-primary">Toggle</button>
    <%= link_to "Edit", edit_thesauri_path(:id => @thesaurus.id, :namespace => @thesaurus.namespace), :class => "btn btn-primary" %>
</div>
