<% content_for :page_title do %> Preferences: <%= current_user.email %> <% end %>

<% first_level_breadcrumb (:user_settings) %>

<style>
	#user_settings .btn{
		min-width: 50px;
	}
</style>

<div class="row">
	<% s_texts =
	[{:title => "Email", :value => current_user.email},
	 {:title => "Current Roles", :value => current_user.role_list_stripped},
	 {:title => "Login Count", :value => current_user.sign_in_count}]%>

	<%= render layout: "shared/headers/header_generic", :locals => {badge: "icon-settings", header_title: "",
		main_text: current_user.name, sub_texts: s_texts} do %>
  <% end %>
</div>

<div class="row">

	<div class="col-md-12 card wide">

		<div class="card-header">
			Preferences
		</div>

		<div class="card-content">

			<% ordered_metadata = @settings_metadata.sort_by {|key, x| x[:label]} %>

			<div class="col-md-7 table-cardstyle">

				<div class="text-normal text-link ci-card-title">
	        Application
	      </div>

				<table id="user_settings" class="table">
					<tbody>
						<% ordered_metadata.each do |key, md| %>
							<% next if key == :dashboard_layout %>
							<tr>
					    	<th class="col-md-5 text-medium text-small">
									<div class="setting-title"><%= md[:label] %></div>
					    		<div class="font-light text-xtiny setting-descr"><%= md[:description] %></div>
								</th>
								<td class="col-md-5" style="vertical-align: middle;">
						    	<% if md[:type] == "enum" %>
							    		<% md[:values].each do |option| %>
							    			<% if option == @settings[key] %>
							    			 		<%= link_to @settings[key], user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn btn-xs light sm-margin" %>
							    			<% end %>
							    		<% end %>
									  		<% md[:values].each do |option| %>
									  			<% if option != @settings[key] %>
									  			 	<%= link_to option, user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn btn-xs white sm-margin" %>
									  			<% end %>
									  		<% end %>
						    	<% elsif md[:type] == "coded" %>
						    		<% md[:values].each do |value_key, option| %>
						    			<% if option.to_s == @settings[key] %>
						    					<%= link_to value_key, user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn btn-xs light sm-margin bg-prim-bright" %>
						    			<% end %>
						    		<% end %>
								  		<% md[:values].each do |value_key, option| %>
								  			<% if option.to_s != @settings[key] %>
								  			 		<%= link_to value_key, user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn btn-xs white sm-margin" %>
								  			<% end %>
								  		<% end %>
						    	<% end %>
								</td>
						  </tr>
						<% end %>
					</tbody>
				</table>

			</div>

			<div class="col-md-5">

				<div class="text-normal text-link ci-card-title">
	        Account
	      </div>

				<div class="font-regular text-medium">
					Display name
				</div>
				<div class="text-centered">
					<%= form_for(current_user, url: update_name_user_path(current_user), html: { method: :put }) do |f| %>
				    <div class="form-wrap">
				      <%= f.text_field :name %>
				    </div>
						<%= f.submit "Update", id: "name-update-btn", class: "btn medium light" %>
				  <% end %>
				</div>

				<hr>

				<div class="font-regular text-medium">
					Change account password
					<div class="text-small font-light text-xtiny"><%= password_message %></div>
				</div>
				<div class="text-centered">
				  <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
				    <div class="form-wrap">
				      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %><br>
				      <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %><br>
				      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
				    </div>
				    <%= f.submit "Update", id: "password-update-btn", class: "btn medium light" %>
				  <% end %>
				</div>

			</div>

		</div>
	</div>
</div>
