<%= javascript_tag 'setPageTitle("Preferences: '+current_user.email+'")' %>
<% first_level_breadcrumb (id_to_type('user_settings')) %>
<style>
	#user_settings .btn{
		min-width: 50px;
	}
</style>
<div class="row">
	<% s_texts =
	[{:title => "Email", :value => current_user.email},
	 {:title => "Current Roles", :value => current_user.role_list_stripped},
	 {:title => "Login Count", :value => current_user.sign_in_count}]%>

	<%= render layout: "shared/simple_header_card_general", :locals => {badge: "icon-settings", header_title: "Preferences",
		main_text: current_user.name, sub_texts: s_texts} do %>
  <% end %>
</div>
<div class="row">
	<div class="col-md-8 card wide">
			<div class="card-header">
				Application Settings
			</div>
  		<div class="card-content">
				<!-- <p>Your current settings are listed below. These may be changed by using the buttons to the right.</p> -->
				<% ordered_metadata = @settings_metadata.sort_by {|key, x| x[:label]} %>
				<table id="user_settings" class="table table-condensed">
					<tbody>
						<% ordered_metadata.each do |key, md| %>
							<tr>
					    	<th class="col-md-5 text-medium text-small">
									<div class="setting-title"><%= md[:label] %></div>
					    		<div class="font-light setting-descr"><%= md[:description] %></div>
								</th>
								<td class="col-md-5" style="vertical-align: middle;">
						    	<% if md[:type] == "enum" %>
							    		<% md[:values].each do |option| %>
							    			<% if option == @settings[key] %>
							    			 		<%= link_to @settings[key], user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn medium sm-margin bg-prim-bright" %>
							    			<% end %>
							    		<% end %>
									  		<% md[:values].each do |option| %>
									  			<% if option != @settings[key] %>
									  			 	<%= link_to option, user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn medium sm-margin bg-grey-light" %>
									  			<% end %>
									  		<% end %>
						    	<% elsif md[:type] == "coded" %>
						    		<% md[:values].each do |value_key, option| %>
						    			<% if option.to_s == @settings[key] %>
						    					<%= link_to value_key, user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn medium sm-margin bg-prim-bright" %>
						    			<% end %>
						    		<% end %>
								  		<% md[:values].each do |value_key, option| %>
								  			<% if option.to_s != @settings[key] %>
								  			 		<%= link_to value_key, user_setting_path(:id => current_user.id, :user_settings => {:name => key, :value => option}), :method => :put, :class => "btn medium sm-margin bg-grey-light" %>
								  			<% end %>
								  		<% end %>
						    	<% end %>
								</td>
						  </tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<div class="col-md-4 card narrow">
		<div class="card-header">
			Account Settings
		</div>
		<div class="card-content">
			<%= form_for(current_user, url: update_name_user_path(current_user), html: { method: :put }) do |f| %>
				<div class="font-regular text-medium">Change your display name</div>
		    <span class="form-wrap">
		      <%= f.text_field :name %>
		    </span>
				<%= f.submit "Update", id: "name_update_button", class: "btn medium" %>
		  <% end %>
			<br>
			<div class="font-regular text-medium">
				Change your account password
				<div class="text-small font-light text-light"><%= password_message %></div>
			</div>
		  <%= form_for(current_user, url: registration_path(current_user), html: { method: :put }) do |f| %>
		    <span class="form-wrap">
		      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %><br>
		      <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %><br>
		      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password" %>
		    </span>
		    <%= f.submit "Update", id: "password_update_button", class: "btn medium" %>
		  <% end %>
		</div>
  </div>
</div>
