<div id="domainInfo" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Domain Details</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="form-group">
        <label for="domainPrefix">Domain Prefix:</label>
        <input type="text" class="form-control" id="domainPrefix" name="Domain Prefix" value="--">
      </div>
      <div class="form-group">
        <label for="domainLabel">Label:</label>
        <input type="text" class="form-control" id="domainLabel" name="Domain Label" value="Domain">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#domainNotes">
          <span class="glyphicon glyphicon-resize-full"></span>
        </button>
        <label for="domainNotes">Notes:</label><br/>
        <textarea class="form-control collapse in" id="domainNotes" name="Domain Note" rows="5" style="font-family:monospace;"></textarea>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" id="domainAddVariable" class="btn ">V+</button>
    </div>
  </div>
</div>
<div id="variableInfo" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Variable Details</h3>
  </div>
  <div class="panel-body">
    <div>
      <div class="form-group">
        <label for="variableName">Name:</label>
        <input type="text" class="form-control" id="variableName" name="Variable Name">
      </div>
      <div class="form-group">
        <label for="variableLabel">Label:</label>
        <input type="text" class="form-control" id="variableLabel" name="Variable Label" value="variable">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" id="variableUsed" name="variableUsed"><strong>Used</strong>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input type="checkbox" id="variableNonStandard" name="variableNonStandardd"><strong>Non standard</strong>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="variableLabel">Format:</label>
        <input type="text" class="form-control" id="variableFormat" name="variableFormat" value="variable">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#variableNote">
          <span class="glyphicon glyphicon-resize-full"></span>
        </button>
        <label for="variableNote">Notes:</label>
        <textarea class="form-control collapse in" id="variableNotes" name="Variable Note" rows="5" style="font-family:monospace;"></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-xs"  data-toggle="collapse" data-target="#variableComments">
          <span class="glyphicon glyphicon-resize-full"></span>
        </button>
        <label for="variableComments">Comment:</label>
        <textarea class="form-control collapse in" id="variableComment" name="Variable Comment" rows="5" style="font-family:monospace;"></textarea>
      </div>
      <div class="form-group">
        <%= label_tag :datatype, "Datetype:" %><br/>
        <%= select_tag("variableDatatype", options_for_select(@datatypes.map{ |u| [u.label, u.namespace + "#" + u.id]}), class: "form-control", :multiple => false) %>
      </div>
      <div class="form-group">
        <%= label_tag :compliance, "Compliance:" %><br/>
        <%= select_tag("variableCompliance", options_for_select(@compliance.map{ |u| [u.label, u.namespace + "#" + u.id]}), class: "form-control", :multiple => false) %>
      </div>
      <div class="form-group">
        <%= label_tag :classification, "Classification:" %><br/>
        <%= select_tag("variableClassification", options_for_select(@classifications.map{ |u| [u.label, u.namespace + "#" + u.id]}), class: "form-control", :multiple => false) %>
      </div>
      <div class="form-group">
        <%= label_tag :sub_classification, "Sub-classification:" %><br/>
        <%= select_tag("variableSubClassification", [], class: "form-control", :multiple => false) %>
      </div>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" id="variableUp" class="btn ">
        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;
      </button>
      <button type="button" id="variableDown" class="btn ">
        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
      </button>
      <button type="button" id="variableDelete" class="btn btn-danger">Delete</button>
    </div>
  </div>    
</div>
<div id="markdown_panel" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Markdown Preview</h3>
  </div>
  <div class="panel-body">
    <div id="genericMarkdown"></div>
    <button type="button" id="markdown_preview" class="btn ">Preview</button>    
    <button type="button" id="markdown_hide" class="btn ">Hide</button>    
  </div>
</div>





