<%= javascript_tag 'setPageTitle("Edit Change Instruction")' %>
<%= stylesheet_link_tag 'shared/annotations' %>
<%= javascript_include_tag 'shared/annotation/change_instruction_edit', 'shared/annotation/change_instructions_html',
                            'shared/tags', 'shared/information_dialog' %>
<%= javascript_tag "var ciBaseUrl = '#{@base_url}',
                        ciAddRefsUrl = '#{@add_refs_url}',
                        ciRemoveRefsUrl = '#{@remove_ref_url}';" %>

<div class="row">
  <%= render layout: "shared/simple_header_tiny", :locals => {badge: "icon-instruction",
    main_text: "Change Instruction <span class='font-light text-medium'>Edit</span>".html_safe,
    sub_text: "Modify instruction's fields or item links." } do %>
      <div class="btns-wrap">
        <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
           icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
      </div>
  <% end %>
</div>

<div class="row centered">
  <div class="col-md-10 card wide">
    <div class="card-header">
      Edit Change Instruction
      <span class="icon-help clickable ttip"><span class="ttip-text text-medium shadow-small">Help</span></span>
    </div>
    <div class="card-content font-light">

      <div class="change-instruction wide shadow-small">
        <div class="ci-header">
          <div class="icon-instruction text-large text-link"></div>
          <div class="actions text-normal">
            <span class="icon-ok clickable ttip text-secondary-clr disabled" id="save-ci">
              <span class="ttip-text ttip-left text-medium text-small shadow-small">
                Save reference and description
              </span>
            </span>
            <span class="icon-trash clickable text-accent-2 ttip" id="delete-ci">
              <span class="ttip-text ttip-left text-medium text-small shadow-small">
                Remove this Change Instruction
              </span>
            </span>
          </div>
        </div>

        <div class="ci-body">
          <span> Reference: </span> <span id="reference" class="clickable content-editable with-icon" tabindex="0" contenteditable="true"></span>
          <br/>
          <span> Description: </span> <span id="description" class="clickable content-editable with-icon" tabindex="0" contenteditable="true"></span>
          <hr>

          <div class="label-w-margin"> Previous links: </div>
          <div class='items-list scroll-styled' id="list-previous">
          </div>
          <button class="btn btn-xs light add-links" id="add-previous">+ Add</button>
          <div class="label-w-margin"> Current links: </div>
          <div class='items-list scroll-styled' id="list-current">
          </div>
          <button class="btn btn-xs light add-links" id="add-current">+ Add</button>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render layout: "shared/information_dialog", :locals => {id: "edit-help", title: "Editing a Change Instruction"} do %>
  Text fields with the <span class="icon-edit text-medium"></span> icon can be edited directly by clicking on them.
  Remember to hit Enter or click on <span class="icon-ok text-secondary-clr"></span> to save your changes. <br/><br/>

  Click on <span class="btn btn-xs light">+ Add</span> button to select one or more items from the MDR to which the instruction will be linked. <br/>
  Items superseded by newer ones should be included in the <i>previous</i> list, while the new ones should be in the <i>current</i> list. <br/>
  To remove a link to an item, simply click on it. <br/><br/>

  To remove this Change Instruction altogether, click on the <span class="icon-trash text-accent-2"></span> icon. <br/><br/>

  The Change Instruction will flash green every time your changes are saved.<br/>
  Updates to links are saved automatically.<br/>
  <span class="text-accent-2">If you leave this page without adding any links, this Change Instruction will be lost forever.</span>
<% end %>
<%= render partial: "shared/items_selector/items_selector_modal", :locals => {id: "1"} %>
