<%= javascript_include_tag 'standard_datatable' %>
<% index_label = "BC Templates" %>
<% index_path = biomedical_concept_templates_path %>
<% second_level_breadcrumb(id_to_type('biomedical_concept_templates'), @bct[0].scope.id, @identifier) %>
<h3>History: <%= @identifier %></h3>
<div class="row">
	<div class="col-md-12">
		<table id="main" class="table table-striped table-bordered table-condensed">
			<%= render partial: "shared/stdInstanceHeader" %>
			<tbody>
				<% current_item = get_current_item(@bct) %>
				<% @bct.each do |item| %>
					<%= render partial: "shared/stdInstanceRow", :locals => {:item => item, 
		  				:current_item => current_item, 
		  				:showPath => biomedical_concept_template_path(:id => item.id, :biomedical_concept_template => { :namespace => item.namespace }), 
		  				:searchPath => "", 
		  				:viewPath => "",
		  				:editPath => "",
		  				:deletePath => "",
							:index_label => index_label,
							:index_path => index_path,
							:mi_class => BiomedicalConceptTemplate } %>
				<% end %>				
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4>Comment History</h4>
		<table id="secondary" class="table table-striped table-bordered table-condensed">
  		<%= render partial: "shared/commentHistoryHeader" %>
  		<tbody>
    		<% @bct.each do |item| %>
    			<%= render partial: "shared/commentHistoryRow", 
						:locals => { 
							:item => item,
							:index_label => index_label,
							:index_path => index_path,
							:mi_class => BiomedicalConceptTemplate
						} %>  
    		<% end %>
  		</tbody>
		</table>
	</div>
</div>

