<h3>Biomedical Concept Template: <%= @bct.label %> <small>(<%=@bct.owner %>, <%=@bct.identifier %>, V<%= @bct.versionLabel %>)</small></h3>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Identifer</th>
	    <th>Version Label</th>
	    <th>Version</th>
	  </tr>
	  <tr>
	    <td><%= @bct.identifier %></td>
	    <td><%= @bct.versionLabel %></td>
	    <td><%= @bct.version %></td>
	  </tr>
	</table>
	<h4>Items</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
		<% aliasEntry = @bct.properties.values[0] %>
		<% aliasEntry.each do |key, value| %>
    		<th><%= key %></th>
		<% end %>
		<% @bct.properties.each do |key, aliasEntry| %>
			<tr>
				<% aliasEntry.each do |key, value| %>
					<td><%= value %></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
