<% content_for :page_title do %> History: <%= @identifier %> <% end %>

<%= javascript_pack_tag 'sdtm_models/history' %>

<% second_level_breadcrumb(:sdtm_models, @scope_id, @identifier) %>

<div class="row">
  <%= render layout: "shared/headers/header_item_simple", :locals => {badge: "icon-sdtm", item: @item, header_title: "Item History"} do %>
    <div class="actions-wrap">
      <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
        icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>

<div class="row">
  <%= render partial: "shared/iso_managed/history/history_card", locals: {
        identifier: @identifier, url: history_sdtm_models_path({sdtm_model: {identifier: @identifier, scope_id: @scope_id}}) } %>
</div>
