<h3>Import CDISC SDTM Model Version</h3>
<div class="col-md-6">
  <%= form_for @sdtm_class_model, url: sdtm_models_path do |f| %>
      <div class="form-group">
          <%= label_tag :version, "Version:" %><br/>
          <%= text_field_tag "sdtm_model[version]", "#{@next_version}", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :version_label, "Version Label:" %><br/>
        <%= text_field_tag "sdtm_model[version_label]", "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :date, "Model Release Date:" %><br/>
        <%= date_field_tag "sdtm_model[date]", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :files, "File:" %><br/>
        <%= select_tag("sdtm_model[files][]", options_for_select(@files), class: "form-control", :multiple => true) %>
      </div>
      <br/>
      <%= f.submit "Create", class: "btn  " %>
      <%= link_to "Close", history_sdtm_models_path, :class => "btn " %>
  <% end %>
</div>
