<% second_level_breadcrumb("CDISC SDTM Models", history_sdtm_models_path, "Import") %>
<h3>Import CDISC SDTM Model Version</h3>
<div class="col-md-6">
  <%= form_for @sdtm_class_model, url: create_sdtm_models_path do |f| %>
      <div class="form-group">
          <%= label_tag :version, "Version (internal system):" %><br/>
          <%= text_field_tag "sdtm_model[version]", "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :version_label, "Version label:" %><br/>
        <%= text_field_tag "sdtm_model[version_label]", "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :date, "Model release date:" %><br/>
        <%= date_field_tag "sdtm_model[date]", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :files, "File:" %><br/>
        <%= select_tag("sdtm_model[files][]", options_for_select(@files), class: "form-control", :multiple => true) %>
      </div>
      <br/>
      <%= f.submit "Create", class: "btn btn-default btn-primary" %>
  <% end %>
</div>
