<h1>Owner</h1>
<div class="col-md-10">
	<h2>All Versions</h2>
	<table class="table table-striped table-bordered table-condensed">
		  <tr>
		    <th>Number</th>
		    <th>CID</th>
		    <th>Scheme</th>
		    <th>Name</th>
		    <th>Short Name</th>
		    <th></th>
		  </tr>
			<% @registrationAuthorities.each do |registrationAuthority| %>
			  <tr>
			    <td><%= registrationAuthority.number %></td>
			    <td><%= registrationAuthority.id %></td>
			    <td><%= registrationAuthority.scheme %></td>
			    <td><%= registrationAuthority.name %></td>
			    <td><%= registrationAuthority.shortName %></td>
			    <td><%= link_to "Remove", registration_authority_path(registrationAuthority), method: :delete, data: { confirm: "Are you sure?" } %></td>
			  </tr>
			<% end %>
	</table>
	<%= link_to "New authority", new_registration_authority_path, :class => "btn btn-success" %>
</div>