<%= stylesheet_link_tag    'd3_tree', 'tags', 'concerns/spinner-component' %>
<%= javascript_include_tag 'd3_tree', 'd3_editor_new', 'iso_concept_systems/index', 'shared/iso_concept_systems/concept_system_view_panel', 'iso_managed_list', 'managed_tags_panel' %>
<% if Rails.env == "test" || Rails.env == "development" %>
  <%= javascript_include_tag 'rspec_helper' %>
<% end %>
<% top_level_breadcrumb("Tags") %>
<%= javascript_tag "var conceptSystemId = \"#{@concept_system.id}\";" %>
<%= javascript_tag "var conceptSystemNamespace = \"#{@concept_system.namespace}\";" %>
<div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tag Viewer</h3>
        </div>
        <div class="panel-body">
          <%= render partial: "shared/iso_concept_systems/tree_viewer"%>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Manage Tags</h3>
        </div>  
        <div class="panel-body">
        	<div class="add-child-tag">
        		<h5>Add Tag to selected Tag</h5>
        		<input class="form-control tag-input" id="add_label" type="text" placeholder="label" name="">
        		<input class="form-control tag-input" id="add_description" type="text" placeholder="description" name="">
        		<div class="handle-tag-buttons">
        			<button class="btn btn-success" id="add_tag" type="">Add tag</button>
        		</div>
        	</div>
        	<hr>
        	<div class="handle-selected-tag">
        		<h5>Selected Tag</h5>
        		<input class="form-control tag-input" id="edit_label" type="text" name="">
        		<input class="form-control tag-input" id="edit_description" type="text" name="">
        		<div class="handle-tag-buttons">
        			<button class="btn btn-primary update-tag" id="update_tag" type="">Update</button>
        			<button class="btn btn-danger delete-tag" id="delete_tag" type="">Delete</button>
        		</div>
        	</div>
        </div>
      </div>
      <div id="iso_managed_panel" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Item List</h3>
        </div>
        <div class="panel-body">
          <table id="iso_managed_table" class="table table-striped table-bordered"  cellspacing="0" width="100%">
            <thead>
                <tr> 
                    <th>Identifier</th>
                    <th>Label</th>
                    <th>Version</th>
                    <th>Version Label</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
