<% content_for :page_title do %> <%= "aCRF: #{@form.has_identifier.identifier} (#{@form.semantic_version})" %> <% end %>

<%= stylesheet_link_tag 'shared/forms/form_crf' %>

<% third_level_breadcrumb(:forms, @form, @close_path) %>

<div class="row">
  <%= render layout: "shared/headers/header_managed_item", :locals => { item: @form, badge: "icon-form-view" } do %>
    <div class="actions-wrap">
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>
    </div>
  <% end %>
</div>

<div class="row">

  <div id="crf-panel" class="card col-md-12">

    <div class="card-header">
      aCRF View
    </div>

    <div class="card-content">
      <%= raw @html %>
    </div>

  </div>
</div>
