<% fourth_level_managed_item_breadcrumb(@form, "Forms", forms_path, history_forms_path(identifier: @form.identifier, scope_id: @form.scope.id), "Show:", 
  form_path(id: @form.id, namespace: @form.namespace), "Clone") %>
<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Cloning:", :item => @form} %>
<div class="col-md-3">
	<%= form_for Form.new, :url => clone_create_forms_path do |f| %>
  	<div class="form-group">
    	<%= label_tag :identifier, "Identifier:" %><br />
    	<%= text_field_tag "form[identifier]", "" ,class: "form-control" %>
  	</div>
  	<div class="form-group">
    	<%= label_tag :label, "Label:" %><br />
    	<%= text_field_tag "form[label]", "" , class: "form-control" %>
  	</div>
		<%= hidden_field_tag :form_id, @form.id %>
		<%= hidden_field_tag :form_namespace, @form.namespace %>
		<%= f.submit "Clone", class: "btn btn-default btn-primary" %>
	<% end %>
</div>
