<% content_for :page_title do %> <%= "CRF Form: #{@form.has_identifier.identifier} (#{@form.semantic_version})" %> <% end %>

<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= javascript_pack_tag 'forms/show' %>

<% third_level_breadcrumb(:forms, @form, @close_path) %>

<div class="row">
  <%= render layout: "shared/headers/header_managed_item", :locals => {:item => @form, :badge => "icon-forms"} do %>
    <div class="actions-wrap">
    <%= render partial: "shared/buttons/ico_btn_secondary", :locals => {link_path: @close_path, id: "close",
      icon: "icon-long-arrow", btn_text: "Return", dt_toggle: "", disabled: false } %>
    </div>
  <% end %>
</div>

<div class="row">
  <%= raw @html %>
</div>
