<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "CRF:", :item => @form} %>
<div class="col-md-8" style="padding-right:20px; border-right: 1px solid #ccc;">
    <%= @form.crf.html_safe %>
    <%= link_to "Report", crf_report_forms_path(:id => @form.id, :namespace => @form.namespace), :class => "btn btn-primary", :target => "_blank" %>
    <%= link_to "Full Report", full_crf_report_forms_path(:id => @form.id, :namespace => @form.namespace), :class => "btn btn-primary", :target => "_blank" %>
    <%= link_to "Close", view_forms_path(:id => @form.id, :namespace => @form.namespace), :class => "btn btn-primary" %>
</div>