<%= stylesheet_link_tag    'd3_tree', 'thesauri_search_new', 'panel_collapse', 'spinner' %>
<% third_level_managed_item_breadcrumb(@form, "Forms", forms_path, @close_path, "Edit:") %>
<%= javascript_include_tag 'd3_tree', 'form_editor', 'ajax_requests', 'form_utility', 'd3_editor', 'unload', 'field_validation' %>
<%= javascript_include_tag 'token_timer', 'thesauri_search_new', 'panel_collapse', 'spinner' %>
<% if Rails.env == "test" || Rails.env == "development" %>
	<%= javascript_include_tag 'rspec_helper' %>
<% end %>
<script id="formJson" type="text/json">
  <%= raw @form.to_operation.to_json %>
</script>
<script id="datatype_map" type="text/json">
  <%= raw BaseDatatype.to_json %>
 </script>
<form id="main_form">
	<div id="title_row" class="row">
	  <div class="col-md-12">
      <%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Edit:", :item => @form} %>
		</div>
	</div>
	<div id="form_row" class="row">
		<div class="col-md-7">
      <div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Form Overview</h3>
			  </div>
			  <div class="panel-body">
		  		<div class="btn-group" role="group" aria-label="First group">
			      <button id="saving" type="button" class="btn btn-default">
			        <span class="glyphicon glyphicon-refresh"></span>
			      </button>
			      <button id="token_timer" type="button" class="btn btn-success">00:00</button>
			      <button type="submit" id="save" class="btn btn-primary">Save</button>
			    </div>
			    <button type="button" id="close" class="btn btn-primary">Close</button>
					<div id="d3">
		        <!-- D3 Area -->
		      </div>
		  	</div>
			</div>
	  </div>
	  <div class="col-md-5" >
	  	<%= render partial: "shared/formEditor" %>
	  </div>
	</div>
	<div id="current_term_row" class="row">
	  <div class="col-md-12">
	  	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Current Terminologies</h3>
			    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			  </div>
			  <div class="panel-body">
		      <%= render partial: "shared/termSearchCurrent" %>
			  </div>
			</div>
		</div>
	</div>
</form>
<input type="hidden" id="token" value="<%= @token.id %>">
<input type="hidden" id="warning_timeout" value="<%= current_user.edit_lock_warning %>">
<input type="hidden" id="close_path" value="<%= @close_path %>">