<% breadcrumb ([id_to_type(:forms), {link: "#", text: "New"}]) %>
<h3>New Form:</h3>
<div class="col-md-3">
	<%= form_for @form do |f| %>
	  	<div class="form-group">
	    	<%= label_tag :identifier, "Identifier:" %><br />
	    	<%= text_field_tag "form[identifier]", "" ,class: "form-control" %>
	  	</div>
	  	<div class="form-group">
	    	<%= label_tag :label, "Label:" %><br />
	    	<%= text_field_tag "form[label]", "" , class: "form-control" %>
	  	</div>
		<%= f.submit "Create", class: "btn  " %>
	<% end %>
</div>