<%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Show:", :item => @form} %>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Identifer</th>
	    <th>Label</th>
	    <th>Owner</th>
	    <th>Status</th>
	    <th>Version</th>
	    <th>Version Label</th>
	  </tr>
	  <tr>
	    <td><%= @form.identifier %></td>
	    <td><%= @form.label %></td>
	    <td><%= @form.owner %></td>
	    <td><%= @form.registrationState.registrationStatus %></td>
	    <td><%= @form.version %></td>
	    <td><%= @form.versionLabel %></td>
	  </tr>
	</table>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Completion Instructions</th>
	    <th>Notes</th>
	  </tr>
	  <tr>
	    <td><%= @completion%></td>
	    <td><%= @note %></td>
	  </tr>
	</table>
	<h4>Groups</h4>
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Ordinal</th>
				<th>Type</th>
				<th>Optional</th>
				<th>Repeating</th>
				<th>Completion</th>
				<th>Note</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @form.groups.each do |group| %>
				<tr>
			  	<td><%= group.ordinal%></td>
			  	<td><%= group.groupType%></td>
			  	<td><%= group.optional%></td>
			  	<td><%= group.repeating%></td>
			  	<td><%= group.completion%></td>
			  	<td><%= group.note%></td>
			  	<td><%= link_to "Show", forms_group_path(:id => group.id, :formId => @form.id, :namespace => @form.namespace), :class => "btn btn-primary btn-xs" %></td>
				</tr>
			<% end %>	
		</tbody>
	</table>
	<%= link_to "Clone", clone_forms_path(:id => @form.id, :namespace => @form.namespace), :class => "btn btn-primary" %>
	<%= link_to "Export JSON", export_json_forms_path(:id => @form.id, :namespace => @form.namespace), :class => "btn btn-info" %>
	<%= link_to "Export Turtle", export_ttl_forms_path(:id => @form.id, :namespace => @form.namespace), :class => "btn btn-info" %>
</div>
