<h3>Form: <%= @form.label %> <small>(<%= @form.owner %>, V<%= @form.version %>)</small></h3>
<div class="col-md-12">
	<h4>Details</h4>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Identifer</th>
	    <th>Label</th>
	    <th>Registration Status</th>
	    <th>Version</th>
	    <th>Version Label</th>
	  </tr>
	  <tr>
	    <td><%= @form.identifier %></td>
	    <td><%= @form.label %></td>
	    <td><%= @form.registrationState.registrationStatus %></td>
	    <td><%= @form.version %></td>
	    <td><%= @form.versionLabel %></td>
	  </tr>
	</table>
	<h4>Groups</h4>
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<% group = @form.groups.values[0] %>
		  		<% group.properties.each do |property| %>
		    		<th><%= property.label %></th>
				<% end %>	
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @form.groups.each do |grpId, group| %>
				<tr>
			  		<% group.properties.each do |property| %>
			    		<td><%= property.value %></td>
					<% end %>	
				    <td><%= link_to "Show", forms_form_group_path(:id => group.id, :formId => @form.id, :namespace => @form.namespace), :class => "btn btn-primary btn-xs" %></td>
				</tr>
			<% end %>	
		</tbody>
	</table>
	<%= link_to "New Group", new_forms_form_group_path(@form.id), :class => "btn btn-success" %>
</div>
