<h1>New Scoped identifier</h1>
<div class="col-md-10">
	<%= form_for @scopedIdentifier do |f| %>
	  <div class="form-group">
	    <%= f.label :shortName, "Short Name" %><br />
	    <%= f.text_field :shortName, autofocus: true %>
	  </div>
	  <div class="form-group">
	    <%= f.label :identifier, "identifier" %><br />
	    <%= f.text_field :identifier %>
	  </div>
	  <div class="form-group">
	    <%= f.label :version, "Version" %><br />
	    <%= f.text_field :version %>
	  </div>
	  <div class="form-group">
			<%= f.label :namespace, "Applicable Namespace" %><br />
			<%= f.select(:namespaceId, 
             options_from_collection_for_select(Namespace.all, :id, :name),
             {prompt: "Name"}, 
						 {class: "form-control"}) %>
	  </div>
		<%= f.submit "Create", class: "btn btn-default btn-primary" %>
	<% end %>
</div>