<% if !local_assigns[:children_url].nil? %>
  <%= javascript_tag "const childrenDataUrl = '#{children_url}'" %>
<% end %>

<% panel_id = local_assigns.fetch :id, 'children' %>

<% if local_assigns.fetch :custom_props?, false %>

  <%= render partial: "shared/iso_managed/custom_properties", locals: { item: item, id: panel_id } %>

<% end %>

<table id="<%= panel_id %>" class="table <%= local_assigns.fetch :table_classes, 'striped' %>">
  <thead>
    <tr>

      <% if !(local_assigns.fetch :first_column, '').empty? %>
        <th><%= local_assigns.fetch :first_column, '' %></th>
      <% end %>

      <th class="fit">Identifier</th>
      <th class="fit">Submission Value</th>
      <th>Preferred Term</th>
      <th>Synonyms</th>

      <% if local_assigns.fetch :extensible?, false %>
        <th class="fit">Extensible</th>
      <% end %>

      <th class="th-xwide">Definition</th>
      <th>Tags</th>

      <%# Extra Columns %>
      <%= yield  %>

      <% if local_assigns.fetch :indicators?, true %>
        <th class="ignore fit"></th>
      <% end %>

      <%# Last Column Button area %>
      <% if local_assigns.fetch :btn_in_last?, false %>
        <th class="fit"></th>
      <% end %>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
