<style>
	.glyph{
		text-align: center;
	}

	.glyph span{
		font-size: large;
		line-height: 50px;
	}

</style>
<h3>Update Registration Status</h3>
<div class="row">
	<%= form_for @registrationState do |f| %>
		<div class="col-md-4">
			<div class="form-group">
			    <%= f.label :administrativeNote, "Administrative Note:" %><br />
			    <%= f.text_area :administrativeNote, autofocus: true, class: "form-control", rows:5 %>
			</div>
			<div class="form-group">
			    <%= f.label :unresolvedIssue, "Unresolved Issue:" %><br />
			    <%= f.text_area :unresolvedIssue, class: "form-control", rows:5 %>
			</div>
			<% state = @registrationState.registrationStatus %>
			<% nextState = IsoRegistrationState.nextState(@registrationState.registrationStatus) %>
			<%= f.hidden_field :previousState, :value => state %>  
			<%= f.hidden_field :registrationStatus, :value => nextState %>  
			<%= f.hidden_field :referer, :value => @referer %>  
			<%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
		<!-- :registrationStatus, , , , :administrativeStatus, :previousState -->
		</div>
		<div class="col-md-4">
			<%= f.label :registrationStatus, "Status:" %><br />
			<div class="panel panel-warning">
  				<div class="panel-heading"><strong>Current Status: <%= IsoRegistrationState.stateLabel(state) %></strong></div>
  				<div class="panel-body"><%= IsoRegistrationState.stateDefinition(state) %></div>
			</div>
			<div class="glyph">
				<span class="glyphicon glyphicon-arrow-down glyphicon-large" aria-hidden="true"></span>
			</div>
			<div class="panel panel-success">
  				<div class="panel-heading"><strong>New Status: <%= IsoRegistrationState.stateLabel(nextState) %></strong></div>
  				<div class="panel-body"><%= IsoRegistrationState.stateDefinition(nextState) %></div>
			</div>
		</div>
	<% end %>
</div>