<%= javascript_include_tag 'standard_datatable' %>
<% top_level_breadcrumb ("Registration States") %>
<h3>Registration States</h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
		  	<tr>
		    	<th>CID</th>
			    <th>Status</th>
			    <th>Effective Date</th>
			    <th>Until Date</th>
			    <th>Issues</th>
			    <th>Status</th>
			    <th>Note</th>
			    <th>Previous Status</th>
		  	</tr>
		</thead>
		<tbody>
			<% @registration_states.each do |registration_state| %>
				<tr>
				    <td><%= registration_state.id %></td>
				    <td><%= registration_state.registrationStatus %></td>
				    <td><%= registration_state.effective_date %></td>
				    <td><%= registration_state.until_date %></td>
				    <td><%= registration_state.unresolvedIssue %></td>
				    <td><%= registration_state.administrativeStatus%></td>
				    <td><%= registration_state.administrativeNote %></td>
				    <td><%= registration_state.previousState%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>