<%= stylesheet_link_tag "shared/tables_editable" %>

<%= javascript_tag "const subsetEditorUrls = {
                            sourceData: '#{ children_thesauri_managed_concept_path(source) }',
                            data: '#{ list_children_thesauri_subset_path(subset) }',
                            add: '#{ add_thesauri_subset_path(subset) }',
                            remove: '#{ remove_thesauri_subset_path(subset) }',
                            moveAfter: '#{ move_after_thesauri_subset_path(subset) }',
                            removeAll: '#{ remove_all_thesauri_subset_path(subset) }',
                            update: '#{ thesauri_unmanaged_concept_path(id: '_id_') }'
                        } " %>

<%= javascript_tag "const subsetEditorIds = {
                            subset: '#{@subset_mc.id}', 
                            source: '#{@source_mc.id}',
                          } " %>

<div class="tabs-layout text-small" id="subset-editor">

  <div class="tabs-sel">

    <div class="tab-option with-icon active" id="tab-source">
      <span class="icon-subsetted bg-prim-bright"></span>
      <span>Source Code List (<%= @source_mc.has_identifier.identifier %>)</span>
    </div>

    <div class="tab-option with-icon" id="tab-subset">
      <span class="icon-subset bg-prim-bright"></span>
      <span>Ordered Subset (<%= @subset_mc.has_identifier.identifier %>)</span>
    </div>

  </div>

  <div class="tab-wrap" data-tab="tab-source" id="source-codelist">

    <div class="text-centered font-light">
      Find and select items which should be added to the ordered Subset in the table below.
    </div>

    <div class="table-cardstyle table-editable loading-with-btns">
      <%= render partial: "shared/iso_managed/children/children_panel", locals: { id: "source-table",
          table_classes: "striped table-row-clickable", custom_props?: true, item: @source_mc } %>
    </div>
  </div>

  <div class="tab-wrap closed" data-tab="tab-subset" id="subset-codelist">

    <div class="text-centered font-light">
      Reorder the Subset items by click-and-drag of their <b>Ordinal</b> column.
    </div>

    <div class="table-cardstyle table-editable all-columns loading-with-btns">
      <%= render partial: "shared/iso_managed/children/children_panel", locals: { id: "subset-table",
          table_classes: 'table-reorderable', indicators?: false, first_column: 'Ordinal', custom_props?: true, item: @subset_mc } %>
    </div>
  </div>

</div>
