<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
  <%= csrf_meta_tags %>
  <style>
  	.container {
    	margin: 80px auto;
    	width: 640px;
  	}
  </style>
</head>
	<body>
		<h1>Organizations</h1>
		<table>
		  <tr>
		    <th>Name</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
			<% @organizations.each do |organization| %>
			  <tr>
			    <td><%= organization.name %></td>
			    <td><%= link_to "Show", organization %></td>
			    <td></td>
			    <td><%= link_to "Remove", organization, method: :delete, data: { confirm: "Are you sure?" } %></td>
			  </tr>
			<% end %>
		</table>
		<br>
		<%= link_to "New organization", new_organization_path %>
		<%= javascript_include_tag 'application' %>
	</body>
</html>

