<h1>CDISC Standards</h1>
<div class="col-md-10">
	<h2>All Versions</h2>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Name</th>
	    <th>Internal Version</th>
	    <th>Version</th>
	    <th></th>
	  </tr>
		<% @standards.each do |key, std| %>
		  <tr>
		    <td><%= std.name %></td>
		    <td><%= std.internalVersion %></td>
		    <td><%= std.version %></td>
		    <td><%= link_to "Show", standard_path(std.id), :class => "btn btn-primary" %></td>
		  </tr>
		<% end %>
	</table>
	<%= link_to "New version", new_standard_path, :class => "btn btn-success" %>
</div>

