<% top_level_breadcrumb ("Upload") %>
<h3>File Upload</h3>
<div class="col-md-3">
	<%= form_for @upload do |f| %>
	  	<div class="form-group">
			<%= form_tag 'create', :multipart => true , class: "form-control" %>
			 	<p>
			 		<%= f.file_field 'datafile' %>
			 	</p>
			<%= form_tag %>
	  	</div>
		<%= f.submit "Upload", class: "btn btn-default btn-primary" %>
	<% end %>
</div>