<%= stylesheet_link_tag 'custom/dates_selector' %>
<%= javascript_include_tag 'jquery-ui.min.js', 'jquery.ui.touch-punch.min.js' %>
<%= javascript_include_tag 'shared/timeline_slider', 'shared/cdisc_term/cdisc_ver_select' %>
<%= javascript_tag "var latestCDISCVer = '#{versions.last[:date]}',
                        referenceCDISCVer = '#{ref_thesaurus.version_label}';" %>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="cdisc-select-modal">
  <div class="modal-dialog modal-lg" role="document" style="min-width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title text-normal" id="tableModalLabel">
          <span class="icon-terminology text-xnormal text-link" style="margin-right:10px;"></span> Pick a version of the CDISC CT
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 10px 40px;">
          <div class="errors"></div>
          <center>
            <img src="<%= asset_path 'icons/select_th' %>" class="modal-img"/>
          </center>

          <%= render partial: "shared/cdisc_terms/timeline_slider", :locals => {
            title_text: "Select the CDISC Terminology version based on which the impact should be assessed. <br/>
            The version must be newer than the one used in this Terminology (#{ref_thesaurus.version_label}).".html_safe,
            start_year: start_year, end_year: end_year, versions_normalized: versions_norm, versions: versions, slider_pretexts: ["ver.", ""],
            button: "" }%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn medium" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn medium green" id="select-cdisc-ter-btn">Select</button>
      </div>
    </div>
  </div>
</div>
