<%= javascript_include_tag 'shared/iso_managed/index_page', 'shared/index_panel' %>

<div class="row">
  <% uri = @triples.empty? ? "" : @triples.first[:subject] %>
  <%= render partial: "shared/simple_header_tiny", :locals => {badge: "icon-forms",
    main_text: "Triples",
    sub_text: "View raw database content: #{uri}" } %>
</div>

<div class="row">
	<div class="table-width-wrapper">
    <table id="index" class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="fit">Predicate</th>
					<th class="fit">Object</th>
        </tr>
      </thead>
      <tbody>
        <% @triples.each do |triple| %>
          <tr>
            <td><%= triple[:predicate] %></td>
            <td>
              <% if triple[:object].start_with?("http") %>    
                <%= link_to "#{triple[:object]}", triple_store_path(Uri.new(uri: triple[:object]).to_id) %> 
              <% else %>    
                <%= triple[:object] %>
              <% end %>    
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
	</div>
</div>
