<% content_for :page_title do %> <%= "Edit: #{@sdtm_sponsor_domain.has_identifier.identifier} (#{@sdtm_sponsor_domain.semantic_version}) "%> <% end %>

<%= javascript_pack_tag 'sdtm_sponsor_domains/edit' %>

<% third_level_breadcrumb(:sdtm_sponsor_domains, @sdtm_sponsor_domain, @close_path) %>

<%= javascript_tag "let tokenTimerId = '#{@edit.token.id}',
                        tokenTimerWarning = '#{current_user.edit_lock_warning}';"%>

<div class="row">
  <%= render layout: "shared/headers/header_managed_item", :locals => { item: @sdtm_sponsor_domain, badge: "icon-sdtm" } do %>

    <div class="actions-wrap">

			<%= render partial: "shared/buttons/timeout" %>
      <%= render partial: "shared/buttons/return", :locals => { url: @close_path } %>

    </div>

  <% end %>
</div>

<div class="row">

  <%= render partial: "shared/sdtm_sponsor_domains/editor_card", locals: { item: @sdtm_sponsor_domain } %>

</div>
