<%= stylesheet_link_tag 'shared/datatables_loading', 'shared/managed_children_select' %>
<%= javascript_include_tag 'shared/tags', 'shared/iso_managed/managed_items_select_modal' %>
<%= javascript_tag "var miIndexTableUrl = '#{index_url}';" %>
<%= javascript_tag "var miHistoryTableUrl = '#{history_url}';" %>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tableModalLabel" aria-hidden="true" id="im-select-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title text-normal text-medium" id="tableModalLabel">
          <span class="circular-badge small bg-prim-light" style="margin-right: 6px;">
            <span class="<%= id_to_type(type)[:icon] %> text-white"></span>
          </span>
          Select <%= id_to_type(type)[:text] %>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body font-light spinner-spread">
        <div class="table-cardstyle table-minimal all-columns">

          <div id="im-select-modal-error"></div>

          <div class="text-centered" id="im-select-modal-description"><%= local_assigns.fetch :description, "To proceed, select one or more items." %></div>

          <% if (local_assigns.fetch :select_multiple, true) %>
            <hr>
            <div class="font-light flex-total-center selection-info">
              Selected: <span class="bg-label" id="number-selected">0</span>
              <button id="clear-selection" class="btn btn-xs grey">Clear</button>
            </div>
          <% end %>

          <div class="row">

            <div class="col-md-6 card wide">
              <div class="card-content">
                <div class="text-xnormal text-link ci-card-title">
                  Browse
                </div>
                <div class="flex-total-center">
                  <div class="checkbox-opt" style="margin-right: 10px;">
                    <label><input type="checkbox" id="select-all-current"><span>Select all current</span></label>
                  </div>
                  <div class="checkbox-opt">
                    <label><input type="checkbox" id="select-all-latest"><span>Select all latest</span></label>
                  </div>
                </div>
                <br/>

                <table id="index" class="table table-invisible table-row-clickable">
                  <thead>
                    <tr>
                      <th class="fit">Owner</th>
                      <th class="fit">Identifier</th>
                      <th>Label</th>
                      <th class="ignore fit"></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-6 card wide">
              <div class="card-content">
                <div class="text-xnormal text-link ci-card-title">
                  Select Version(s)
                </div>
                <table id="history" class="table table-invisible table-row-clickable">
                  <thead>
                    <tr>
                        <th class="fit">Version</th>
                        <th class="th-xsmall">Version Label</th>
                        <th>State</th>
                        <th class="fit ignore"></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn medium" id="close-im-select-button" data-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn medium green disabled" id="submit-im-select-button">Submit and proceed</button>
      </div>
    </div>
  </div>
</div>
