<h1>Item <%= @formItem.name %> <small>(<%= @form.managedItem.scopedIdentifier.identifier %>, V<%= @form.managedItem.scopedIdentifier.version %>)</small></h1>
<div class="col-md-10">
	<h2>Details</h2>
	<table class="table table-striped table-bordered table-condensed">
	  <tr>
	    <th>Name</th>
	    <th>Type</th>
	    <th>Optional</th>
	    <th>Note</th>
	    <th>Ordinal</th>
	  </tr>
	  <tr>
	    <td><%= @formItem.name %></td>
	    <td><%= @formItem.type %></td>
	    <td><%= @formItem.optional %></td>
	    <td><%= @formItem.note %></td>
	    <td><%= @formItem.ordinal %></td>
	  </tr>
	</table>
	<% if @formItem.type == 1 %>
		<h2>Biomedical Concept Properties</h2>
		<table class="table table-striped table-bordered table-condensed">
		  <tr>
		    <th>Property</th>
			  <td><%= @formItem.bcPropertyId %></td>
			</tr>
		  <tr>
		    <th>Biomedical Concept</th>
			  <td><%= link_to "Show", cdisc_bc_path(@formItem.bc.id), :class => "btn btn-primary" %></td>
			</tr>
		</table>
	<% end %>
</div>
