<div class="col-md-6 card wide">
  <div class="card-content">
    <div class="text-xnormal text-link ci-card-title">
      Browse
    </div>
    <%= render layout: "shared/iso_managed/index/index_panel", locals: { table_classes: "table-row-clickable table-invisible no-mark no-select-icon" } do %>

      <% (local_assigns.fetch :extra_index_columns, []).each do |column| %>
        <th class="<%= column[:css_class] %>"><%= column[:name] %></th>
      <% end %>

    <% end %>
  </div>
</div>

<div class="col-md-6 card wide">
  <div class="card-content">
    <div class="text-xnormal text-link ci-card-title">
      Select
    </div>
    <%= render layout: "shared/iso_managed/history/simple_history_panel", locals: { table_classes: "table-row-clickable table-invisible no-mark no-select-icon" } do %>

      <% (local_assigns.fetch :extra_history_columns, []).each do |column| %>
        <th class="<%= column[:css_class] %>"><%= column[:name] %></th>
      <% end %>

    <% end %>
  </div>
</div>
