<%= javascript_include_tag 'standard_datatable' %>
<h3>Registration Authorities</h3>
<div class="col-md-12">
	<h4>Owner:</h4>Repository owner is <%= @owner.shortName %></p>
	<h4>Details:</h4>
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
			    <th>Number</th>
			    <th>Scheme</th>
			    <th>Name</th>
			    <th>Short Name</th>
			    <th>Owner</th>
			    <th></th>
		  	</tr>
		</thead>
	  	<tbody>
			<% @registrationAuthorities.each do |registrationAuthority| %>
		  		<tr>
				    <td><%= registrationAuthority.number %></td>
				    <td><%= registrationAuthority.scheme %></td>
				    <td><%= registrationAuthority.name %></td>
				    <td><%= registrationAuthority.shortName %></td>
				    <td><%= registrationAuthority.owner %></td>
				    <td><%= link_to "Delete", iso_registration_authority_path(registrationAuthority), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: "Are you sure?" } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "New Authority", new_iso_registration_authority_path, :class => "btn btn-success" %>
</div>