<%= javascript_tag 'setPageTitle("Edit tags")' %>

<%= stylesheet_link_tag 'shared/datatables_loading' %>
<%= javascript_include_tag 'iso_managed/edit_tags', 'iso_managed_tag_list', 'iso_managed_list', 'iso_managed_attributes' %>
<% if Rails.env == "test" || Rails.env == "development" %>
  <%= javascript_include_tag 'rspec_helper' %>
<% end %>
<%= javascript_tag "var conceptSystemId = \"#{@concept_system.id}\";" %>
<%= javascript_tag "var conceptSystemNamespace = \"#{@concept_system.uri.namespace}\";" %>
<%= javascript_tag "var isoManagedId = \"#{@iso_managed.id}\";" %>
<%= javascript_tag "var isoManagedNamespace = \"#{@iso_managed.uri.namespace}\";" %>
<div class="row">
  <div class="col-md-7 card wide">
    <div class="card-header">
      Tags View
    </div>
    <div class="card-content">
        <%= render partial: "shared/iso_concept_systems/tree_viewer"%>
    </div>
  </div>
  <div class="col-md-5" style="padding: 0;">
    <%= render partial: "shared/isoManagedInfo"%>
    <div id="iso_managed_tag_panel" class="col-md-12 card narrow">
      <div class="card-header">
        Item Tags
      </div>
      <div id="tag_panel" class="card-content">
        <div id="tag_panel_spinner" class="loading-overlay">
          <div class="spinner-container">
            <img class="spinner" src="<%= asset_path('processing_medium_2.gif') %>">
          </div>
        </div>
        <div class="tags-container" id="tags_container"></div>

        <div class="well selected-container">
          <div class="tag-display">
            <span><strong>Label: </strong><span id="selected_label" type="text" readonly></span></span>
            <span class="selected-description"><strong>Description: </strong><span id="selected_description" type="text" readonly></span></span>
          </div>
          <button id="tag_add" class="btn tag-add">Add selected tag</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="id" value="<%= @iso_managed.id %>">
  <input type="hidden" id="namespace" value="<%= @iso_managed.uri.namespace %>" %>
</div>
