<%= stylesheet_link_tag    'd3_graph', 'spinner' %>
<%= javascript_include_tag 'colour', 'd3_graph', 'iso_concept_graph', 'spinner' %>
<script id="jsonData" type="text/json">
    <%= raw @result.to_json %>
</script>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/stdInstanceTitle", :locals => {:title => "Metadata View:", :item => @item} %>
  </div>
</div>
<div class="row">
  <%= render partial: "shared/graph" %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="d3-tree" id="d3">
      <!-- D3 Area -->
    </div>
  </div>
</div>
<input type="hidden" id="graph_type" value="managed_item">