<%= stylesheet_link_tag    'd3_graph' %>
<%= javascript_include_tag 'd3_graph', 'iso_concept_impact', 'colour' %>
<h3>Impact Analysis: <%= @item.label %></h3>
<script id="jsonData" type="text/json">
    <%= raw @results.to_json %>
</script>
<div class="row">
  <%= render partial: "shared/impact" %>
</div>