<h3>Registration States</h3>
<div class="col-md-12">
	<table id="main" class="table table-striped table-bordered table-condensed">
		<thead>
		  	<tr>
		    	<th>CID</th>
			    <th>Status</th>
			    <th>Note</th>
			    <th>Effective Date</th>
			    <th>Issues</th>
			    <th>Status</th>
			    <th>Previous Status</th>
		  	</tr>
		</thead>
		<tbody>
			<% @registrationStates.each do |registrationState| %>
				<tr>
				    <td><%= registrationState.id %></td>
				    <td><%= registrationState.registrationStatus %></td>
				    <td><%= registrationState.administrativeNote %></td>
				    <td><%= registrationState.effectiveDate %></td>
				    <td><%= registrationState.unresolvedIssue %></td>
				    <td><%= registrationState.administrativeStatus%></td>
				    <td><%= registrationState.previousState%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>