<!DOCTYPE html>

<html lang="en" class="<%= "no-sidebar" if current_user.is_only_community? %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag %>

  	<title>
      <%= yield :page_title %> - <%= APP_CONFIG['application_name'] %>
    </title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>

    <%# JS & dependencies defined in assets/javascript/application.js (deprecated) %>
    <%= javascript_include_tag 'application' %>

    <%# JS defined in javascript/application.js %>
    <%= javascript_pack_tag 'application' %>

    <%= javascript_include_tag 'locked_items' if Rails.env != "test" %>

    <%# Preload fonts %>
    <% if Rails.env != "test" %>
      <%= preload_link_tag(asset_path("Roboto-Light.ttf"), ) %>
      <%= preload_link_tag(asset_path("Roboto-Medium.ttf")) %>
      <%= preload_link_tag(asset_path("Roboto-Regular.ttf")) %>
      <%= preload_link_tag(asset_path("icon-fonts/icomoon.ttf")) %>
    <% end %>

    <%= csrf_meta_tags %>

  </head>

  <body class="page-scroll-styled">
    <div class="container-fluid">

      <%# Navbar %>
      <%= render "layouts/navigation/navbar" %>

      <%# Main View %>
      <div class="row full" id="page-content-wrap">

        <%# Sidebar %>
        <% if !current_user.is_only_community? %>
          <%= render "layouts/navigation/sidebar" %>
        <% end %>

        <%# Main Area %>
        <div id="main_area" class="page-scroll-styled">

          <div>
            <%= session[:breadcrumbs].html_safe %>
          </div>

          <%# Datatables page length options %>
          <%= javascript_tag "var pageLength = #{ current_user.table_rows },
                                  pageSettings = #{ UserSettings.datatable_settings };" %>

          <%# Flash alerts %>
          <div id="alerts">
            <% flash.each do |type, message| %>

              <div class="alert <%= bootstrap_class_for(type) %> fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
              
            <% end %>
          </div>

          <%# Page Content %>
  				<%= yield %>
  				<%# <p>&nbsp;</p> %>

        </div>

      </div>

    </div>
  </body>

</html>
