<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag %>

  	<title><%= "#{APP_CONFIG['application_name']}" %></title>
    <% if !Rails.application.config.assets.precompile.include? "#{params[:controller]}.js" %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  	<% else %>
      <%= stylesheet_link_tag    'application', params[:controller], media: 'all' %>
      <%= javascript_include_tag 'application', params[:controller] %>
  	<% end %>
    <%= stylesheet_link_tag 'print', :media => 'print'%>
    <%= csrf_meta_tags %>

    <style>
      html, body {
        height:100%;
      }

      body {
      	padding-top: 55px;
      }

      .container-fluid, .full {
      	height:100%;
      }

      #sidebar {
      	background-color:#f5f5f5;
      }
      
      @media (min-width:768px) {
      
        #sidebar {
            width: inherit;
            min-width: 270px;
            max-width: 270px;
            min-height: 100%;
            position:relative;
        }
        #main_area {
            width:calc(100% - 270px);
        }

        #sidebar ul  {
          border-bottom: 2px solid #d9d9d9;
        }

        #sidebar .breadcrumb {
          background-color: #d9d9d9; 
        }

        .breadcrumb a { 
          font-size: 12px !important; 
        }

        .breadcrumb li { 
          font-size: 12px !important; 
        }

        .breadcrumb > li + li:before {
          color: #000000;
          content: ">>";
          /*padding: 0 5px;*/
        }

      }

      .table td.fit, 
			.table th.fit {
    		white-space: nowrap;
    		width: 1%;
			}  
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img alt='Brand' src='<%= asset_path("#{APP_CONFIG['application_image']}") %>' height='25'>
            </a>
            <a class="navbar-brand" href="/"><%= ENV['organization_navbar'] %><small><%= "#{APP_CONFIG['application_name']}"%> (v<%= Version::VERSION %>)</small></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <p class="navbar-text">
                <% if current_user.user_name_display == "Yes" %>
                  <%= "#{current_user.name} "%>
                <% end %>
                <% if current_user.user_role_display == "Yes" %>
                  <%= "[#{current_user.role_list_stripped}]"%>
                <% end %>
              </p>
              <% if policy(User).index? %>
                <li><a id="users_button" href="/users"><span class="glyphicon glyphicon-user"></span>&nbsp;</a></li>
              <% end %>
              <li>
                <%= link_to "", id: 'print_button' do %>
                  <span class="glyphicon glyphicon-print"></span>
                <% end %>
              </li>
              <% if policy(UserSetting).index? %>
              	<li><a id="settings_button" href="<%= user_settings_path %>"><span class="glyphicon glyphicon-cog"></span>&nbsp;</a></li>
              <% end %>
              <li><a id="home_button" href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;</a></li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete, id: 'logoff_button' do %>
                  <span class="glyphicon glyphicon-off"></span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row full">
        <div id="sidebar" class="col-md-2">
          <div class="nav nav_pills nav-stacked">
            <div>
              <%= session[:breadcrumbs].html_safe %>
            </div>
            <% if link_group_on_role([Dashboard]) %>
            	<ul class="nav"> 
              	<%= render partial: "shared/link_on_user_role", :locals => {:klass => Dashboard, link_id: "main_nav_d", 
         					link_path: dashboard_index_path, link_text: "Dashboard"} %>
            	</ul>
            <% end %>
            <% if link_group_on_role([IsoNamespace, IsoRegistrationAuthority, IsoManaged, Token, AuditTrail]) %>
              <ul class="nav"> 
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => IsoNamespace, link_id: "main_nav_in", 
         					link_path: iso_namespaces_path, link_text: "Namespaces"} %>
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => IsoRegistrationAuthority, link_id: "main_nav_ira", 
         					link_path: iso_registration_authorities_path, link_text: "Registration Authorities"} %>
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => IsoManaged, link_id: "main_nav_im", 
         					link_path: iso_managed_index_path, link_text: "Managed Items"} %>
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => Token, link_id: "main_nav_el", 
         					link_path: tokens_path, link_text: "Edit Locks"} %>
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => AuditTrail, link_id: "main_nav_at", 
         					link_path: audit_trail_index_path, link_text: "Audit Trail"} %>
  	 		      </ul>
            <% end %>
            <% if link_group_on_role([Upload, Background, AdHocReport]) %>
              <ul class="nav"> 
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => Upload, link_id: "main_nav_u", 
         					link_path: uploads_path, link_text: "Upload"} %>
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => Background, link_id: "main_nav_bj", 
         					link_path: backgrounds_path, link_text: "Background Jobs"} %>
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => AdHocReport, link_id: "main_nav_ahr", 
         					link_path: ad_hoc_reports_path, link_text: "Ad Hoc Reports"} %>
              </ul>
            <% end %>
            <% if link_group_on_role([IsoConceptSystem, MarkdownEngine]) %>
              <ul class="nav"> 
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => IsoConceptSystem, link_id: "main_nav_ics", 
         					link_path: iso_concept_systems_path, link_text: "Tags"} %>
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => MarkdownEngine, link_id: "main_nav_ma", 
         					link_path: markdown_engines_path, link_text: "Markdown"} %>
              </ul>
            <% end %>
            <% if link_group_on_role([Thesaurus, CdiscTerm]) %>
              <ul class="nav"> 
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => Thesaurus, link_id: "main_nav_te", 
         					link_path: thesauri_index_path, link_text: "Terminology"} %>
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => CdiscTerm, link_id: "main_nav_ct", 
         					link_path: history_cdisc_terms_path, link_text: "CDISC Terminology"} %>
              </ul>
            <% end %>
            <% if link_group_on_role([BiomedicalConceptTemplate, BiomedicalConcept]) %>
              <ul class="nav"> 
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => BiomedicalConceptTemplate, link_id: "main_nav_bct", 
         					link_path: biomedical_concept_templates_path, link_text: "Biomedical Concept Templates"} %>
         				<%= render partial: "shared/link_on_user_role", :locals => {:klass => BiomedicalConcept, link_id: "main_nav_bc", 
         					link_path: biomedical_concepts_path, link_text: "Biomedical Concepts"} %>
              </ul>
            <% end %>
            <% if link_group_on_role([Form]) %>
              <ul class="nav"> 
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => Form, link_id: "main_nav_f", 
         					link_path: forms_path, link_text: "Forms"} %>
              </ul>
            <% end %>
            <% if link_group_on_role([SdtmModel, SdtmIg, SdtmUserDomain]) %>
              <ul class="nav"> 
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => SdtmModel, link_id: "main_nav_sm", 
         					link_path: history_sdtm_models_path, link_text: "CDISC SDTM Model"} %>
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => SdtmIg, link_id: "main_nav_ig", 
         					link_path: history_sdtm_igs_path, link_text: "CDISC SDTM IGs"} %>
                <%= render partial: "shared/link_on_user_role", :locals => {:klass => SdtmUserDomain, link_id: "main_nav_sd", 
         					link_path: sdtm_user_domains_path, link_text: "Domains"} %>
              </ul>
            <% end %>  
          </div>
        </div>
				<div id="main_area" class="col-md-10">
          <div id="datatables">
            <!-- Datatables page length options-->
            <%= javascript_tag "var pageLength = #{current_user.table_rows};" %>
            <%= javascript_tag "var pageSettings = #{UserSettings.datatable_settings};" %>
          </div>
          <div id="alerts">
            <% flash.each do |type, message| %>
              <div class="alert <%= bootstrap_class_for(type) %> fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
            <% end %>
          </div>
  				<%= yield %>
  				<p>&nbsp;</p>
        </div> 
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>-->
    
		
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>