<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag %>

  	<title>Glandon</title>
    <% if !Rails.application.config.assets.precompile.include? "#{params[:controller]}.js" %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
  	<% else %>
      <%= stylesheet_link_tag    'application', params[:controller], media: 'all' %>
      <%= javascript_include_tag 'application', params[:controller] %>
  	<% end %>
    <%= csrf_meta_tags %>

    <style>
      body {
        padding-top: 55px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Glandon (v<%= Version::VERSION %>)</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Dashboard</a></li>
                  <% if current_user.has_role? :sys_admin %>
                    <li><%= link_to "Users", users_path %></li>
                  <% end %>  
                  <li><%= link_to "Settings", user_settings_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div id="page_nav_menu" class="col-md-2">
					<% if current_user.has_role? :sys_admin %>
            <ul class="well">
              <li class="active"><a href="/iso_registration_authorities">Registration Authorities<span class="sr-only">(current)</span></a></li>
              <li><a href="/iso_namespaces">Namespaces</a></li>
              <li><a href="/iso_scoped_identifiers">Scoped Identifiers</a></li>
              <li><a href="/iso_registration_states">Registration States</a></li>
              <li><a href="/audit_trail">Audit Trail</a></li>
              <li><a href="/tokens">Edit Locks</a></li>
  					</ul>
  				<% end %>
          <% if current_user.has_role? :content_admin %>
          	<ul class="well">
              <li><a href="/uploads">Upload</a></li>
              <li><a href="/backgrounds">Background Jobs</a></li>
            </ul>
					<% end %>
          <ul class="well">
            <li><a href="/iso_concept_systems">Classifications (tags)</a></li>
          </ul>
          <ul class="well">
            <li><a href="/notepads">Notepad</a></li>
            <li><a href="/markdown_engines">Markdown</a></li>
          </ul>
          <ul class="well">
            <li class="active"><a href="/thesauri">Terminology<span class="sr-only">(current)</span></a></li>
            <li><a href="/cdisc_terms/history">CDISC Terminology</a></li>
          </ul>
          <ul class="well">
            <li><a href="/biomedical_concept_templates">Biomedical Concept Templates</a></li>
            <li><a href="/biomedical_concepts">Biomedical Concepts</a></li>
          </ul>
          <ul class="well">
            <li><a href="/forms">Forms</a></li>
          </ul>
          <ul class="well">
            <li><a href="/sdtm_models/history">CDISC SDTM Model</a></li>
            <li><a href="/sdtm_igs/history">CDISC SDTM IGs</a></li>
          </ul>
          <ul class="well">
            <li><a href="/sdtm_user_domains">Domains</a></li>
          </ul>
          <!--<button type="button" id="page_nav_menu_hide" class="btn btn-primary">Hide</button>-->
        </div>

				<div class="col-md-10">
          <div id="alerts">
            <% flash.each do |type, message| %>
              <div class="alert <%= bootstrap_class_for(type) %> fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
            <% end %>
          </div>
  				<%= yield %>
        </div>    
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>-->
    
		
		
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>