<!DOCTYPE html>

<html lang="en" class="<%= "no-sidebar" if current_user.is_only_community? %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag %>

  	<title>
      <%= yield :page_title %> - <%= APP_CONFIG['application_name'] %>
    </title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>

    <%# JS & dependencies defined in assets/javascript/application.js (deprecated) %>
    <%= javascript_include_tag 'application' %>

    <%# JS defined in javascript/application.js %>
    <%= javascript_pack_tag 'application' %>

    <%= javascript_include_tag 'locked_items' if Rails.env != "test" %>

    <%# Preload fonts %>
    <% if Rails.env != "test" %>
      <%= preload_link_tag(asset_path("Roboto-Light.ttf"), ) %>
      <%= preload_link_tag(asset_path("Roboto-Medium.ttf")) %>
      <%= preload_link_tag(asset_path("Roboto-Regular.ttf")) %>
      <%= preload_link_tag(asset_path("icon-fonts/icomoon.ttf")) %>
    <% end %>

    <%= csrf_meta_tags %>

  </head>

  <body class="page-scroll-styled">
    <div class="container-fluid">

      <%# Navbar %>
      <%= render "layouts/navigation/navbar" %>

      <%# Main View %>
      <div class="row full" id="page-content-wrap">

        <%# Sidebar %>
        <% if !current_user.is_only_community? %>
          <div id="sidebar" class="col-sm-2 shadow-medium text-dark collapsed-vertical page-scroll-styled">
            <div class="nav nav_pills nav-stacked">
              <span id="sidebar-arrow" class="icon-arrow-l text-light arrow" onclick="toggleSidebar()"></span>
              <% if link_group_on_role([Dashboard]) %>
              <div class="category-container collapsed">
              <%= render partial: "shared/sidebar/menu_category", :locals => {:klass => Dashboard, link_id: "main_nav_d",
                link_path: dashboard_index_path, selected_cat: menu_category_title, icon_id: "icon-dashboard", category_title: "Dashboard"} %>
              </div>
              <% end %>
              <% if link_group_on_role([IsoNamespace, IsoRegistrationAuthority, Token, AuditTrail]) %>
                <div id="main_nav_sysadmin" class="category-container <%= if c_sysadmin != menu_category_title then "collapsed" end %>">
                  <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-sysadmin", category_title: c_sysadmin} %>
                  <ul class="nav">
             				<%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => IsoNamespace, link_id: "main_nav_in",
             					link_path: iso_namespaces_path, link_text: "Namespaces", current_link: controller_name.to_s} %>
             				<%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => IsoRegistrationAuthority, link_id: "main_nav_ira",
             					link_path: iso_registration_authorities_path, link_text: "Registration Authorities", current_link: controller_name.to_s} %>
             				<%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Token, link_id: "main_nav_el",
             					link_path: tokens_path, link_text: "Edit Locks", current_link: controller_name.to_s} %>
             				<%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => AuditTrail, link_id: "main_nav_at",
             					link_path: audit_trail_index_path, link_text: "Audit Trail", current_link: controller_name.to_s} %>
      	 		      </ul>
                </div>
              <% end %>
              <% if link_group_on_role([Upload, Import, Background]) %>
              <div id="main_nav_impexp" class="category-container <%= if c_impexp != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-impexp", category_title: c_impexp} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Upload, link_id: "main_nav_u",
           					link_path: uploads_path, link_text: "Upload", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Import, link_id: "main_nav_i",
                    link_path: list_imports_path, link_text: "Import", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Export, link_id: "main_nav_e",
                    link_path: exports_path, link_text: "Export", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Background, link_id: "main_nav_bj",
           					link_path: backgrounds_path, link_text: "Background Jobs", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([IsoConceptSystem, MarkdownEngine, AdHocReport]) %>
              <div id="main_nav_util" class="category-container <%= if c_util != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-utils", category_title: c_util} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => IsoConceptSystem, link_id: "main_nav_ics",
           					link_path: iso_concept_systems_path, link_text: "Tags", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => MarkdownEngine, link_id: "main_nav_ma",
           					link_path: markdown_engines_path, link_text: "Markdown", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => AdHocReport, link_id: "main_nav_ahr",
           					link_path: ad_hoc_reports_path, link_text: "Ad Hoc Reports", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([Thesaurus, CdiscTerm]) %>
              <div id="main_nav_term" class="category-container <%= if c_term != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-terminology", category_title: c_term} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Thesaurus, link_id: "main_nav_te",
           					link_path: thesauri_index_path, link_text: "Terminology", current_link: controller_name.to_s} %>
           				<%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => CdiscTerm, link_id: "main_nav_ct",
           					link_path: history_cdisc_terms_path, link_text: "CDISC Terminology", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Thesaurus, link_id: "main_nav_cl",
                    link_path: thesauri_managed_concepts_path, link_text: "Code Lists", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([BiomedicalConceptTemplate, BiomedicalConceptInstance]) %>
              <div id="main_nav_biocon" class="category-container <%= if c_biocon != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-biocon", category_title: c_biocon} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => BiomedicalConceptTemplate, link_id: "main_nav_bct",
           					link_path: biomedical_concept_templates_path, link_text: "Biomedical Concept Templates", current_link: controller_name.to_s} %>
           				<%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => BiomedicalConceptInstance, link_id: "main_nav_bc",
           					link_path: biomedical_concept_instances_path, link_text: "Biomedical Concepts", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([Form]) %>
              <div id="main_nav_forms" class="category-container <%= if c_forms != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-forms", category_title: c_forms} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => Form, link_id: "main_nav_f",
           					link_path: forms_path, link_text: "Forms", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([SdtmModel, SdtmIg, SdtmIgDomain, SdtmClass]) %>
              <div id="main_nav_sdtm" class="category-container <%= if c_sdtm != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-sdtm", category_title: c_sdtm} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => SdtmModel, link_id: "main_nav_sm",
           					link_path: sdtm_models_path, link_text: "CDISC SDTM Model", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => SdtmIg, link_id: "main_nav_sig",
           					link_path: sdtm_igs_path, link_text: "CDISC SDTM IGs", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => SdtmIgDomain, link_id: "main_nav_sd",
           					link_path: sdtm_ig_domains_path, link_text: "SDTM IG Domains", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => SdtmSponsorDomain, link_id: "main_nav_ssd",
                    link_path: sdtm_sponsor_domains_path, link_text: "SDTM Sponsor Domains", current_link: controller_name.to_s} %>
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => SdtmClass, link_id: "main_nav_c",
                    link_path: sdtm_classes_path, link_text: "SDTM Classes", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([AdamIg, AdamIgDataset]) %>
              <div id="main_nav_adam" class="category-container <%= if c_adam != menu_category_title then "collapsed" end %>">
                <%= render partial: "shared/sidebar/menu_category", :locals => { selected_cat: menu_category_title, icon_id: "icon-adam", category_title: c_adam} %>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => AdamIg, link_id: "main_nav_aig",
                    link_path: adam_igs_path, link_text: "CDISC ADaM IGs", current_link: controller_name.to_s} %>
                </ul>
                <ul class="nav">
                  <%= render partial: "shared/sidebar/link_on_user_role", :locals => {:klass => AdamIgDataset, link_id: "main_nav_aigd",
                    link_path: adam_ig_datasets_path, link_text: "CDISC ADaM IG Datasets", current_link: controller_name.to_s} %>
                </ul>
              </div>
              <% end %>
              <% if link_group_on_role([IsoManaged]) %>
                <div class="category-container collapsed">
                <%= render partial: "shared/sidebar/menu_category", :locals => {:klass => ManagedCollection, link_id: "main_nav_mc",
                  link_path: managed_collections_path, selected_cat: menu_category_title, icon_id: "icon-collection", category_title: "Managed Collections"} %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <%# Main Area %>
        <div id="main_area" class="page-scroll-styled">

          <div>
            <%= session[:breadcrumbs].html_safe %>
          </div>

          <%# Datatables page length options %>
          <%= javascript_tag "var pageLength = #{ current_user.table_rows },
                                  pageSettings = #{ UserSettings.datatable_settings };" %>

          <%# Flash alerts %>
          <div id="alerts">
            <% flash.each do |type, message| %>

              <div class="alert <%= bootstrap_class_for(type) %> fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
              </div>
              
            <% end %>
          </div>

          <%# Page Content %>
  				<%= yield %>
  				<%# <p>&nbsp;</p> %>

        </div>

      </div>

    </div>
  </body>

</html>
