<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= "#{APP_CONFIG['application_name']}" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
  <%= stylesheet_link_tag 'custom/card_layout', media: 'all'%>
  <%= stylesheet_link_tag 'custom/devise/general', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
	<body>
    <div id="alerts">
      <% flash.each do |type, message| %>
        <% if type != "timedout"%>
          <div class="alert <%= bootstrap_class_for(type) %> fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
          </div>
        <% end %>
      <% end %>
    </div>
		<div class="container">
      <div class="card m-card">
        <div class="half">
  			     <%= yield %>
        </div>
        <div class="half">
          <img src="<%= asset_path("a3_outline_graph") %>" width="250" id="a3-devise-logo"/>
        </div>
  			<%= javascript_include_tag 'application' %>
      </div>
		</div>
	</body>
</html>
